@using System.Web.Optimization;
@using banhang24.Hellper;
@using Model;
@model RoleModel
@{
    Layout = null;
}
<style>
    .tab-news-modal .nav-tabs li a {
        padding: 10px 15px;
    }
    .fa-clipboard {
        font-size: 18px;
        margin-left: 5px;
    }
    .op-filter .selec-person {
        overflow: hidden
    }
</style>
<link href="@Url.ContentVersioned("~/Content/NhanSu.css")" rel="stylesheet" />
<div class="container op-container" id="PhanCaLamViec">
    <div class="container-fluid nopadding">
        <div class="col-left">
            <div class="op-filter">
                <section class="op-filter-body">
                    <article class="boxLeft ">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)" v-on:click="ClickFilter.ChiNhanh=!ClickFilter.ChiNhanh">
                            <img src="~/Content/images/icon/cong-ty.png" />   Công ty/ Chi nhánh
                        </h3>
                        <aside class="op-filter-container" v-show="ClickFilter.ChiNhanh">
                            <div class="op-tag-picker dropdown ">
                                <div class="" data-toggle="dropdown" aria-expanded="true">
                                    <ul>
                                        <li v-for="(item, index) in   curentpage.ChiNhanh.filter(o=>o.Checked)">
                                            <span>{{item.Ten}} </span>
                                            <span v-on:click="ChangeChiNhanh(item)">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                    <input type="text" class="dropdown " v-show=" curentpage.ChiNhanh.filter(o=>o.Checked).length===0">
                                </div>
                                <ul class="dropdown-menu ">
                                    <li v-for="(item, index) in curentpage.ChiNhanh.filter(o=>!o.Checked)"
                                        v-on:click="ChangeChiNhanh(item)">
                                        <a>
                                            {{item.Ten}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft " hidden>
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/cong-ty.png" />   Ca làm việc
                        </h3>
                        <aside class="op-filter-container">
                            <div>
                                <div class="form-wrap" style="width:100%!important">
                                    <div class="choose-date-yaer">
                                        <div class="outselect add-customer">
                                            <input type='text' data-toggle="dropdown" class="form-control" autocomplete="off" v-model="curentpage.TenCaChosing" />
                                            <ul class="dropdown-menu floatleft selec-person ">
                                                <li>
                                                    <a href="javascript:void(0)" v-on:click="ResetChoseCa">
                                                        -- Chọn ca --
                                                    </a>
                                                </li>
                                                <li v-for="(ca, index) in listdata.CaLamViec">
                                                    <a href="javascript:void(0)" v-on:click="ChangeCaLamViec(ca)">
                                                        {{ca.Ten}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <i class="fa fa-chevron-down" aria-hidden="true" v-show="!ClickFilter.CaLamViec"></i>
                                    <i class="fa fa-edit" aria-hidden="true" v-show="ClickFilter.CaLamViec" v-on:click="EditCaLamViec"></i>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft " hidden>
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/to-nhom.png" />Tổ/ Nhóm
                        </h3>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)" @*v-on:click="ClickFilter.ThoiGian=!ClickFilter.ThoiGian"*@>
                            <img src="~/Content/images/icon/thoi-gian.png" height="14" />
                            Thời gian
                        </h3>
                        <aside class="op-filter-container" v-show="ClickFilter.ThoiGian">
                            <div class="menuCheckbox" id="SinhNhatSL">
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" name="sinhnhat" data-id="1" checked />
                                    </div>
                                    <div class="conten-choose">
                                        <div class=" choose-date ">
                                            <div data-toggle="dropdown" aria-expanded="true">
                                                <input type="text" class="dropdown form-control choose-date-show" v-model="curentpage.textdate">
                                            </div>
                                            <div class="dropdown-menu " id="SelectNgaySinh">
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo ngày và tuần</h3>
                                                    <ul>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.homnay)"><a href="javascript:void(0);">hôm nay</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.homqua)"><a href="javascript:void(0);">hôm qua</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.tuannay)"><a href="javascript:void(0);">Tuần này</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.tuantruoc)"><a href="javascript:void(0);">Tuần trước</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo tháng và quý</h3>
                                                    <ul>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.thangnay)"><a href="javascript:void(0);">Tháng này</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.thangtruoc)"><a href="javascript:void(0);">Tháng trước</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.quynay)"><a href="javascript:void(0);">Quý này</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.quytruoc)"><a href="javascript:void(0);">Quý trước</a></li>
                                                    </ul>
                                                </div><div class="col-md-4 col-sm-4">
                                                    <h3>Theo năm</h3>
                                                    <ul>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.namnay)"><a href="javascript:void(0);">Năm này</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.namtruoc)"><a href="javascript:void(0);">Năm trước</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.toanthoigian)"><a href="javascript:void(0);">Toàn thời gian</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" name="sinhnhat" data-id="0" />
                                    </div>
                                    <div class="conten-choose">
                                        <div class="floatleft form-wrap ">
                                            <input type='text' class="form-control daterange newDateTime" disabled
                                                   placeholder="Lựa chọn khác" name="daterange" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)" @*v-on:click="ClickFilter.ThoiGian=!ClickFilter.ThoiGian"*@>
                            <img src="~/Content/images/icon/thoi-gian.png" height="14" />
                            Ngày tạo
                        </h3>
                        <aside class="op-filter-container" v-show="ClickFilter.ThoiGian">
                            <div class="menuCheckbox" id="divFilterNgayTao">
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" name="ngaytao" data-id="1" checked />
                                    </div>
                                    <div class="conten-choose">
                                        <div class=" choose-date ">
                                            <div data-toggle="dropdown" aria-expanded="true">
                                                <input type="text" class="dropdown form-control choose-date-show" v-model="curentpage.textdateNgayTao">
                                            </div>
                                            <div class="dropdown-menu " id="ddlNgayTao">
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo ngày và tuần</h3>
                                                    <ul>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.homnay)"><a href="javascript:void(0);">hôm nay</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.homqua)"><a href="javascript:void(0);">hôm qua</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.tuannay)"><a href="javascript:void(0);">Tuần này</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.tuantruoc)"><a href="javascript:void(0);">Tuần trước</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo tháng và quý</h3>
                                                    <ul>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.thangnay)"><a href="javascript:void(0);">Tháng này</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.thangtruoc)"><a href="javascript:void(0);">Tháng trước</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.quynay)"><a href="javascript:void(0);">Quý này</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.quytruoc)"><a href="javascript:void(0);">Quý trước</a></li>
                                                    </ul>
                                                </div><div class="col-md-4 col-sm-4">
                                                    <h3>Theo năm</h3>
                                                    <ul>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.namnay)"><a href="javascript:void(0);">Năm này</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.namtruoc)"><a href="javascript:void(0);">Năm trước</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.toanthoigian)"><a href="javascript:void(0);">Toàn thời gian</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" name="ngaytao" data-id="0" />
                                    </div>
                                    <div class="conten-choose">
                                        <div class="floatleft form-wrap ">
                                            <input type='text' class="form-control daterange newDateTimeNgayTao" disabled
                                                   placeholder="Lựa chọn khác" name="daterange" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft showChiNhanh">
                        <h3 class="op-filter-title" v-on:click="ClickFilter.LoaiCa=!ClickFilter.LoaiCa">
                            <img src="/Content/images/icon/hop-dong.png">    Loại ca
                        </h3>
                        <aside class="op-filter-container" v-show="ClickFilter.LoaiCa">
                            <div class="outselect ">
                                <div class=" choose-person floatleft " data-toggle="dropdown" aria-expanded="true">
                                    <ul>
                                        <li class="li-input-span" v-for="(item, index) in   curentpage.LoaiCa.filter(o=>o.Checked)">
                                            <span>{{item.Ten}} </span>
                                            <span v-on:click="ChangeLoaiCa(item)">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                    <input type="text" class="dropdown " v-show=" curentpage.LoaiCa.filter(o=>o.Checked).length===0">
                                </div>
                                <div class="selec-person dropdown-menu">
                                    <ul>
                                        <li v-for="(item, index) in curentpage.LoaiCa.filter(o=>!o.Checked)" v-on:click="ChangeLoaiCa(item)">
                                            <span>{{item.Ten}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" v-on:click="ClickFilter.TrangThai=!ClickFilter.TrangThai">
                            <img src="/Content/images/icon/trangthai-black.png"> Trạng thái
                        </h3>
                        <aside class="op-filter-container" v-show="ClickFilter.TrangThai">
                            <div class="menuCheckbox choose_TrangThai">
                                <ul>
                                    <li>
                                        <input value="@((int)commonEnumHellper.TrangThaiPhanCa.taomoi)" type="checkbox" v-on:click="AddTrangThai"> Tạo mới
                                    </li>
                                    <li>
                                        <input value="@((int)commonEnumHellper.TrangThaiPhanCa.dangapdung)" type="checkbox" v-on:click="AddTrangThai"> Áp dụng
                                    </li>
                                    <li>
                                        <input value="@((int)commonEnumHellper.TrangThaiPhanCa.xoa)" type="checkbox" v-on:click="AddTrangThai"> Đã hủy
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </article>
                </section>
                <div class="op-filter-footer">
                    <button type="button" class="btn btn-link" style="color:red" onclick="closeFilter()">Hủy</button>
                    <button type="button" class="btn btn-link" onclick="collapseSubFilter(this)">
                        <span>Thu gọn</span>
                    </button>
                    <button type="button" class="btn btn-link" style="display:none" onclick="expandSubFilter(this)">
                        <span>Mở rộng</span>
                    </button>
                    <button type="button" class="btn btn-main kv2Btn" onclick="closeFilter()">Hoàn tất</button>
                </div>
            </div>
        </div>
        <div class="col-right">
            <div class="op-header container-fluid">
                <div class="op-header-title">
                    <h2 class="pull-left title"> @banhang24.Resources.ResourceTexts.Personnel / Quản lý chấm công / Phân công ca làm việc </h2>
                </div>
                <div class="flex flex-between">
                    <div class="header-button">
                        @if (Model.Insert)
                        {
                            <div class="btn-group">
                                <button type="button" class="btn btn-main addHHH btn-main" aria-haspopup="true" aria-expanded="false" data-toggle="modal" v-on:click="AddNew">
                                    <i class="fa fa-plus" aria-hidden="true"></i>     <font>Thêm mới</font>
                                </button>
                            </div>
                        }
                        <button class="btn btn-main btn-group btnImport" style="display:none">
                            <i class="fa fa-download"></i> @banhang24.Resources.ResourceTexts.ImportFile
                        </button>
                        @if (Model.Export)
                        {
                            <button class="btn btn-main btn-group btnExport" name="btnExport" v-on:click="Export">
                                <i class="fa fa-file-excel-o"></i> Xuất file
                            </button>
                        }
                        <div class="collumn-filter">
                            <button type="button" class="btn btn-main" @*onclick="showCollumnFilter(this)"*@
                                    v-on:click="ShowColumn">
                                <i class="fa fa-angle-double-down"></i>
                            </button>
                            <div class="dropdown-list">
                                <ul>
                                    <li v-for="(item, index) in   listcolumn" v-on:click="SelectColum(item,index)">
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="checkbox" v-model="item.Checked" v-on:click="ChangeCheckedColum(item,index)"><span></span><label class="nopadding">{{item.Value}}</label></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="op-search">
                            <button type="button" class="op-search-button" v-on:click="GetForSearchPhanCa(true)">
                                <i class="fa fa-search"></i>
                            </button>
                            <input type="text" class="form-control " v-on:keyup="keymonitor" v-model="curentpage.text" placeholder="Nhập mã phiếu">
                        </div>
                        <button class="btn btn-main op-filter-toggle" onclick="showFilter()" title="Hiển thị bộ lọc">
                            <i class="material-icons">sort</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-table content-table" id="myScrollspy" style="top: 48px;position: sticky;">
                <div class="table-reponsive table-HH banghh table-frame">
                    <table class=" table-hover op-table">
                        <thead class="table-border">
                            <tr>
                                <th class="text-center @commonEnum.columnphieuphanca.maphieu">Mã phiếu</th>
                                <th class="text-center @commonEnum.columnphieuphanca.loaica">Loại ca</th>
                                <th class="text-center @commonEnum.columnphieuphanca.trangthai">Trạng thái</th>
                                <th class="text-center @commonEnum.columnphieuphanca.tungay">Từ ngày</th>
                                <th class="text-center @commonEnum.columnphieuphanca.denngay">Đến ngày</th>
                                <th class="text-center @commonEnum.columnphieuphanca.ngaytao">Ngày tạo</th>
                                <th class="text-left @commonEnum.columnphieuphanca.nguoitao">Người tạo</th>
                                <th class="text-left @commonEnum.columnphieuphanca.ghichu">Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(item, index) in   databind.data">
                                <tr class="op-tr-show" v-on:click="SelectRow(item,event)">
                                    <td class="text-center @commonEnum.columnphieuphanca.maphieu">{{item.MaPhieu}}</td>
                                    <td class="text-center @commonEnum.columnphieuphanca.loaica">{{item.LoaiPhieuPhanCa}}</td>
                                    <td class="text-center @commonEnum.columnphieuphanca.trangthai">{{item.TrangThaiText}}</td>
                                    <td class="text-center @commonEnum.columnphieuphanca.tungay">{{commonStatisJs.convertDateTime(item.TuNgay)}}</td>
                                    <td class="text-center @commonEnum.columnphieuphanca.denngay">{{commonStatisJs.convertDateTime(item.DenNgay)}}</td>
                                    <td class="text-center @commonEnum.columnphieuphanca.ngaytao">{{commonStatisJs.convertDateTime(item.NgayTao)}}</td>
                                    <td class="text-left @commonEnum.columnphieuphanca.nguoitao">{{item.NguoiTao}}</td>
                                    <td class="text-left @commonEnum.columnphieuphanca.ghichu">{{item.GhiChu}}</td>
                                </tr>
                                <tr class="op-tr-hide" v-show="item.Checked">
                                    <td colspan="8" class="op-td">
                                        @*<div class=" tab-nhan-su-with100 tab-news-modal">*@
                                        <div class="col-md-12 nopadding" v-show="item.LoaiPhanCa===1">
                                            <div class="chi-tiet-phieu-l">
                                                <h5>Danh sách ca áp dụng</h5>
                                                <table class=" table-hover ">
                                                    <thead class="table-border-detail">
                                                        <tr>
                                                            <th class="text-center">Thứ</th>
                                                            <th class="text-center">Mã ca</th>
                                                            <th class="text-left">Tên Ca</th>
                                                            <th class="text-center">Giờ vào</th>
                                                            <th class="text-center">Giờ ra</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody v-for="(ca, index) in   chitietphieu.modelChiTietCa">
                                                        <tr v-for="(caitem, key) in ca.listCa">
                                                            <td class="text-center td-chi-tiet-ca-row" v-show="key === 0" :rowspan="ca.listCa.length">{{ca.TenGiaTri}}</td>
                                                            <td class="text-center">{{caitem.MaCa}}</td>
                                                            <td class="text-left">{{caitem.TenCa}}</td>
                                                            <td class="text-center">{{commonStatisJs.convertTime(caitem.GioVao)}}</td>
                                                            <td class="text-center">{{commonStatisJs.convertTime(caitem.GioRa)}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="chi-tiet-phieu-r">
                                                <h5>Danh sách nhân viên áp dụng</h5>
                                                <div class="height400">
                                                    <table class=" table-hover ">
                                                        <thead class="table-border-detail">
                                                            <tr>
                                                                <th class="text-center" style="width:50px;">STT</th>
                                                                <th class="text-center">Mã nhân viên</th>
                                                                <th class="text-left">Tên nhân viên</th>
                                                                <th class="text-center ">Ngày sinh</th>
                                                                <th class="text-center">Giới tính</th>
                                                                <th class="text-center ">Số điện thoại</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody v-for="(nv, index) in   chitietphieu.modelNhanVienCa">
                                                            <tr>
                                                                <td class="text-center">{{index+1}}</td>
                                                                <td class="text-center">{{nv.MaNhanVien}}</td>
                                                                <td class="text-left">{{nv.TenNhanVien}}</td>
                                                                <td class="text-center">{{commonStatisJs.convertDateTime(nv.NgaySinh)}}</td>
                                                                <td class="text-center">{{nv.GioiTinh===true?'Nam':'Nữ'}}</td>
                                                                <td class="text-center">{{nv.DienThoaiDiDong}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-12 nopadding" v-show="item.LoaiPhanCa===3">
                                            <div class="chi-tiet-phieu-l">
                                                <h5>Danh sách ca áp dụng</h5>
                                                <div class="height400">
                                                    <table class=" table-hover ">
                                                        <thead class="table-border-detail">
                                                            <tr>
                                                                <th class="text-center" style="width:50px;">STT</th>
                                                                <th class="text-center">Mã ca</th>
                                                                <th class="text-left">Tên Ca</th>
                                                                <th class="text-center">Giờ vào</th>
                                                                <th class="text-center">Giờ ra</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody v-for="(ca, index) in   chitietphieu.modelChiTietCa">
                                                            <tr>
                                                                <td class="text-center">{{index+1}}</td>
                                                                <td class="text-center">{{ca.MaCa}}</td>
                                                                <td class="text-left">{{ca.TenCa}}</td>
                                                                <td class="text-center">{{commonStatisJs.convertTime(ca.GioVao)}}</td>
                                                                <td class="text-center">{{commonStatisJs.convertTime(ca.GioRa)}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="chi-tiet-phieu-r">
                                                <h5>Danh sách nhân viên áp dụng</h5>
                                                <div class="height400">
                                                    <table class=" table-hover ">
                                                        <thead class="table-border-detail">
                                                            <tr>
                                                                <th class="text-center" style="width:50px;">STT</th>
                                                                <th class="text-center">Mã nhân viên</th>
                                                                <th class="text-left">Tên nhân viên</th>
                                                                <th class="text-center ">Ngày sinh</th>
                                                                <th class="text-center">Giới tính</th>
                                                                <th class="text-center ">Số điện thoại</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody v-for="(nv, index) in   chitietphieu.modelNhanVienCa">
                                                            <tr>
                                                                <td class="text-center">{{index+1}}</td>
                                                                <td class="text-center">{{nv.MaNhanVien}}</td>
                                                                <td class="text-left">{{nv.TenNhanVien}}</td>
                                                                <td class="text-center">{{commonStatisJs.convertDateTime(nv.NgaySinh)}}</td>
                                                                <td class="text-center">{{nv.GioiTinh===true?'Nam':'Nữ'}}</td>
                                                                <td class="text-center">{{nv.DienThoaiDiDong}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 group-btn-edit-user">
                                            <div class="row">
                                                <div class="group-btn floatleft text-right">
                                                    @if (Model.Update)
                                                    {
                                                        <a href="javascript:void(0)" class="btn btn-main " v-if="item.TrangThai!==0" v-on:click="Update(item)">
                                                            <i class="fa fa-check-square"></i> Sửa đổi
                                                        </a>
                                                    }
                                                    <a href="javascript:void(0)" class="btn btn-main " hidden>
                                                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> Xuất Excel
                                                    </a>
                                                    @if (Model.Delete)
                                                    {
                                                        <a href="javascript:void(0)" class="btn btn-cancel " v-if="item.TrangThai !==0" v-on:click="Delete(item)">
                                                            <i class="fa fa-trash"></i> Xóa
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        @*</div>*@
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                        <tfoot class="PhanQuyen" hidden>
                            <tr>
                                <td class="bg12 bhma text-center" colspan="13"><i>Bạn không có quyền xem báo cáo này!</i></td>
                            </tr>
                        </tfoot>
                        <tfoot class="Report_Empty" v-show="databind.data.length<=0">
                            <tr>
                                <td class="bg12 bhma text-center" colspan="17"><i>Không có dữ liệu</i></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="page">
                    <div class="flex flex-row">
                        <label>Số bản ghi:</label>
                        <select class="form-control seleted-page" v-model="curentpage.pagesize" v-on:change="SelectPageSize">
                            <option v-for="(item, index) in listpagesize" v-bind:value="item">
                                {{item}}
                            </option>
                        </select>
                    </div>
                    <div class="flex flex-end">
                        <a href="javascript:void(0)" v-show="databind.isprev" v-on:click="ButtonSelectPage(0,true)"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" v-show="databind.isprev" v-on:click="ButtonSelectPage(-1)"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" v-show="!databind.isprev" class="a-disable"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" v-show="!databind.isprev" class="a-disable"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                        <ul class="list-page">
                            <li v-for="(item, index) in databind.listpage" v-show="databind.listpage.length>0">
                                <a href="javascript:void(0)" v-on:click="SelectPage(item)" v-bind:class="[item==databind.pagenow ? 'click' : '']">{{item}}</a>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" v-show="!databind.isnext" class="a-disable"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" v-show="!databind.isnext" class="a-disable"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" v-show="databind.isnext" v-on:click="ButtonSelectPage(1)"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" v-show="databind.isnext" v-on:click="ButtonSelectPage(0,false)"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                        <div class="total-recos" style="    margin-top: 4px;">
                            {{databind.pageview}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#SinhNhatSL .radio-menu input[type=radio]').on('change', function () {
        if ($(this).data('id') === 0) {
            $('#_datefilter').prop("disabled", false);
            $('#_selectDate').prop("disabled", true);
        }
        else {
            $('#_selectDate').prop("disabled", false);
            $('#_datefilter').prop("disabled", true);
        }
    });
    var setTop = 0;
    var heigth = 0;
    var heightold = 0;
    $('.op-table').on('click', ".op-tr-show", function () {
        var css = $(this).next(".op-tr-hide").css('display');
        $(".op-tr-hide").hide();
        $(".op-tr-show").removeClass('tr-active');
        setTop = 35 + parseInt($(this).height() * ($(this).index() / 2));
        if (css === 'none') {
            $(this).addClass('tr-active');
            $(this).next(".op-tr-hide").toggle();
            heightold = parseInt($(this).height());
            heigth = $(this).next().height() + heightold;
            $('.line-right').height(heigth).css("margin-top", setTop + "px");
            $(this).closest('tbody').closest('table').closest('.table-reponsive').removeClass('tablescroll');
        }
        else {
            $('.line-right').height(0).css("margin-top", "0px");
            $(this).closest('tbody').closest('table').closest('.table-reponsive').addClass('tablescroll');
        }
    });
    $('.op-table ').on('click', '.op-tr-hide ul.nav-tabs li', function () {
        sleep(300).then(() => {
            heigth = parseInt($(this).closest('ul').closest('.op-tr-hide').height()) + heightold;
            $('.line-right').height(heigth).css("margin-top", setTop + "px");
        });
    })
    $(function () {
        $('.newDateTime, .newDateTimeNgayTao').daterangepicker({
            locale: {
                "format": 'DD/MM/YYYY',
                "separator": " - ",
                "applyLabel": "Áp dụng",
                "cancelLabel": "Hủy",
                "fromLabel": "Từ",
                "toLabel": "Đến",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "CN",
                    "T2",
                    "T3",
                    "T4",
                    "T5",
                    "T6",
                    "T7"
                ],
                "monthNames": [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12"
                ],
                "firstDay": 1
            }
        });
    });
</script>
@Html.Partial("_ThemMoiPhanCaPartial")
@Html.Partial("_ThemMoiCaLamViecFormBasic")
<div class="modal fade" id="modalPopuplgDelete">
    <div class="modal-dialog draggable modal-md " role="document">
        @Html.Action("_modalDelete", new { area = "", Controller = "GiaoDich" })
    </div>
</div>
<script src="@Url.ContentVersioned("~/Scripts/NhanSu/ds-phancanhanvien.js")"></script>
