@using Model_banhang24vn.Common
@using Open24.Areas.AdminPage.Hellper
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<style>
    .button16::before, .button16::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background:var(--color-theme);
        opacity:0.5;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }

    .button16>span{

    }
    .button16 {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        position: relative;
        border: 1px solid rgba(255,255,255,0.5);
        overflow: hidden;
    }
        .button16:hover::before, .button16:hover::after {
            -webkit-transform: translate(0,0);
            transform: translate(0,0);
        }
        .button16::after {
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
        }

    .sim-button {
        line-height: 50px;
        height: 50px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 125px;
        width: 60%;
        cursor: pointer;
    }
    :root {
        --color-theme: #2B9EFB;
 
        --op-main-color: #0078D7;
    }
    :root {
        --op-main-color: #00a0ef;
        --op-main-color-hover: #068bcd;
        --op-color-ssoft: #fdbc3c;
    }


    .accordion-mobile {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -17px;
        overflow-y: scroll;
        height: calc(100vh - 80px);
    }

        .accordion-mobile p {
            float: left;
            color: white;
            font-size: 16px;
        }

    .accordion-mobile-head, .normal-head {
        cursor: pointer;
        overflow: hidden;
        padding: 10px 0px 5px 10px;
        position: relative;
        line-height: normal;
    }

        .accordion-mobile-head * {
            cursor: pointer;
        }

        .accordion-mobile-head:hover {
            cursor: pointer;
        }

    .accordion-mobile-body.default {
        display: block;
        background: #FFFFFF;
    }

    .accordion-mobile-body {
        display: none;
        background: #FFFFFF;
        height: auto;
        padding-left: 35px;
    }

        .accordion-mobile-body a {
            display: block;
        }

    .op-logo {
        display: inline-block;
    }

    .op-logo-gara {
        display: none;
    }

    #modalTuVan label {
        text-transform: uppercase;
        font-size: 13px;
        /*color: #686868;*/
        /*margin: 15px 0 10px;
        padding-left: 10px;*/
    }
    /*#modalTuVan input, #modalTuVan textarea, #modalTuVan select {
        font-size: 12px;
        border-radius: 15px;
        box-shadow: none;
        background: #f2f2f2;
        border: none;
    }

    #modalTuVan textarea {
        border-radius: 10px;
    }

        #modalTuVan input:focus, #modalTuVan textarea:focus {
            box-shadow: none;
        }

    #modalTuVan .btn.op-btn-submit {
        background: var(--color-theme);
        border-radius: 50px;
        color: white;
    }*/

    .icon-box {
        height: 40px;
        width: 40px;
        font-size: 24px;
        border: 1px solid #ccc;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        margin: 0 15px;
        color: var(--color-theme);
    }
</style>
<script>
   
    $(document).ready(function () {
        $(".op-menu-mobile").on("click", function () {
            $(".op-header-menu").toggleClass("menu-show");
        })
    })
</script>
<div class="header-top">
    <div class="container">
        <div style="display:flex;flex-direction:row; align-items:center; justify-content:space-between">
            
                <a class="op-menu-mobile" hidden><i class="fa fa-bars"></i></a>
                <a href="/">
                    <img class="op-logo" style="height:35px;padding:3px;" alt="ảnh logo" src="~/Content/images/op-logo-white.png" />
                </a>
                <ul class="op-header-menu" style="position: relative">
                    <li class="li-main @Html.IsActive("Home", "GioiThieu")">
                        <a href="~/gioi-thieu" class="">Giới thiệu</a>
                    </li>
                    <li class='li-main @Html.IsActive("Home", "TinhNang")' style="position: relative">
                        <a class="" href="javascript:void(0)">Sản phẩm</a>
                        <div class="op-drop-submenu">
                            <ul class="op-drop-submenu-ul ">

                                <li class="@Html.IsActive("Open24", "GaraOto")">
                                    <a href="/@MaNganhNgheKinhDoanh.TitleOtoXeMay">
                                        <img src="~/Content/images/open24/IconHomePage/nav-gara.png" />
                                        <div>
                                            <span>
                                                Open24 - Gara
                                            </span>
                                            <small>Phần mềm quản lý Gara ô tô, xe máy</small>
                                        </div>
                                    </a>
                                </li>

                                <li class="@Html.IsActive("Open24", "Spa")">
                                    <a href="/@MaNganhNgheKinhDoanh.TitleSpaTMV">
                                        <img src="~/Content/images/open24/IconHomePage/nav-beauty.png" />
                                        <div>
                                            <span>
                                                Open24 - Beauty
                                            </span>
                                            <small>Phần mềm quản lý dành cho lĩnh vực làm đẹp</small>
                                        </div>
                                    </a>
                                </li>
                                <li class="@Html.IsActive("Open24", "LinhVucKhac")">
                                    <a href="/@MaNganhNgheKinhDoanh.TitleOther">
                                        <img src="~/Content/images/open24/IconHomePage/nav-sales.png" />
                                        <div>
                                            <span>
                                                Open24 - Sales
                                            </span>
                                            <small>Phần mềm quản lý bán hàng, siêu thị</small>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class='li-main @Html.IsActive("Open24", "KhachHang")'>
                        <a class="" href="~/khach-hang">Khách hàng</a>
                    </li>
                    <li class='li-main @Html.IsActive("Open24", "HopTac")'>
                        <a class=" " href="/gioi-thieu-khach-hang">Hợp tác</a>
                    </li>
                    <li class='li-main ' style="position:relative">
                        <a class=" " href="javascript:void(0)">Hỗ trợ</a> <i class="fa fa-caret-down" aria-hidden="true" style="display:none"></i>
                        <div class="op-drop-submenu">
                            <ul class="op-drop-submenu-ul ">
                                <li class="@Html.IsActive("Home", "Contact")">
                                    <a href="~/lien-he" style="padding:5px">
                                        Liên hệ
                                    </a>
                                </li>
                                <li class="@Html.IsActive("Home", "HoTroPhanMem")">
                                    <a href="~/huong-dan-su-dung" style="padding:5px">Hướng dẫn sử dụng</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class='li-main @Html.IsActive("Open24", "TinTuc")'>
                        <a class=" " href="~/tin-tuc">Tin tức</a>
                    </li>
                </ul>
           
            <div style="justify-content:center">
                <a href="#" data-bs-toggle="modal" data-bs-target="#login" class="op-signin">Đăng nhập</a>
                <a data-bs-toggle="modal" data-bs-target="#modalTuVan" class="login-dang-ky op-trial button3">Dùng thử</a>
            </div>
        </div>
    </div>
</div>
