
@{
    ViewBag.Title = ViewBag.TenKhachHang;

}


<div id="renderNews">
    <input id="op_type" hidden value="KhachhangChitiet" />
    <input id="customerID" hidden value="@ViewBag.CustomerId" />
    <div class="container-fluid op-banner">
        <div class="container ">
            <div class="op-banner-content" data-aos="fade-right">
                <h1 class="op-gara-heading">
                    <span class="highlight-text size-text">Khách hàng</span><br />
                    là <span class="highlight-text">trái tim</span><br />
                    của <span class="size-text" style="white-space:nowrap">Open24 !</span>
                </h1>


                <button class="btn-ads yellow" data-toggle="modal" data-target="#modalTuVan">
                    <span style="font-weight: normal">Đăng kí dùng thử</span>
                </button>

            </div>
            <div class="op-banner-image">
                <img src="~/Content/images/open24/op-khachhang-bg.svg" style="padding:30px" alt="gara xe" />

            </div>
        </div>
    </div>

    <section class="banner">
        <div class="container flex">
            <div class="detail-customer">
                <div class="dt-cutomer-l">
                    <div class="date-timenews">
                        <span><i class="fas fa-clock"></i></span>{{data.createdate}}
                    </div>
                    <h1 class="title-detailnews fl">
                        {{data.name}}
                    </h1>
                    <div class="summary-detailnews fl">
                        {{data.note}}
                    </div>
                    <div class="content-detailnews fl" v-html="data.discription">

                    </div>
                    <p class="by-detailnews fl">
                        {{data.createby}}
                    </p>
                    <div class="fl text-center fiften-days">
                        <p>
                            Phần mềm quản lý Open24
                        </p>
                        <div class="fl bnt-news1">
                            <a class="trial" data-bs-toggle="modal" data-bs-target="#modalTuVan">
                                Đăng ký dùng thử
                            </a>
                        </div>
                    </div>
                    <div class="related-news fl">
                        <div class="fl carenews" style="padding-top: 1%;">
                            <div class="fb-like" data-href='@ViewBag.httpUrl' data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                        </div>
                        <div class="fb-comments" data-href='@ViewBag.httpUrl' data-numposts="5" data-width="100%"></div>
                    </div>
                </div>
                <div class="dt-cutomer-r">
                    <div class="title-viewnews fl">
                        Khách hàng gần đây nhất
                    </div>
                    <ul class="list-tree-news">
                        <li v-for="(item, index) in listcurentolbar" v-show="listcurentolbar.length>0">
                            <a class="fl" href="javascript:void(0)" v-bind:href="item.Url">
                                <div class="img img-tol3-new">
                                    <img v-bind:src="item.Images" />
                                </div>
                                <div class="new-title">
                                    <p>{{item.Name}}</p>
                                    <span class="time-news-more">   {{item.CreatedDate}}</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="view-news fl">
                        @Html.Partial("PageFacebookPartial")
                    </div>
                </div>

            </div>
        </div>
    </section>
    @Html.Partial("_WeareonePartial")
</div>

<script src="~/Assets/js/Client/open24/RenderNewVue.js"></script>