
@{
    ViewBag.Title = "Phần mềm quản lý nhà hàng, khách sạn";
    
    ViewBag.TitleCus = "Khách hàng đang sử dụng Open24 Res !";
}
<link rel="stylesheet" href="~/Content/css/NewCommonUI.css" />

<style>
    :root {
        --common-main-color: #E94203;
    }

    .banner-home {
        background-image: url('../../Content/images/open24/RestaurantPage/banner-header.png');
    }

    .list-info {
        margin-top: 10vh;
    }

    .banner-wave {
        background-image: url('../../Content/images/open24/RestaurantPage/banner-wave-red.png');
    }

    .accordion-list i {
        padding-top: 5px;
        color: var(--common-main-color);
    }

    .accordion-list p {
        padding-left: 3vh;
        word-break: break-word;
    }
</style>

@section scripts{
    <script>
        

        $(document).on('show', '.accordion', function (e) {
            //$('.accordion-heading i').toggleClass(' ');
            $(e.target).prev('.accordion-heading').addClass('accordion-opened');
        });

        $(document).on('hide', '.accordion', function (e) {
            $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
            //$('.accordion-heading i').toggleClass('fa-chevron-right fa-chevron-down');
        });
    </script>
}

@using Model_banhang24vn.Common

<div id="renderBody" style="position:relative">
    <div class="banner banner-home container">
        <div class="content-banner">
            <h1 style="color: white;">
                Open24 Res <br />
                Quản lý linh hoạt, <br />
                Mọi lúc mọi nơi !
            </h1>
            <div class="btn-group-home">
                <button class="orderBtn btn-dang-ky-ct" data-toggle="modal" data-target="#modalTuVan">
                    <span style="font-weight: normal">Đăng kí dùng thử</span>
                </button>
            </div>
            <div class="btn-group-home">
                <button class="trialBtn btn-dang-ky-ct" v-on:click="javascript:void(0)">
                    <span style="font-weight: normal">Đặt mua</span>
                </button>
            </div>
        </div>
    </div>

    <div class="content-page-two ">
        <div class="container">
            <div class="list-introduces content-page-more">
                <h2 class="title title-page-more">
                    5 vấn đề thường gặp khi <br />
                    kinh doanh nhà hàng, quán cafe
                </h2>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center">
                    <img src="~/Content/images/open24/RestaurantPage/stress-manager.png" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12" style="padding-top: 5vh">
                    <div class="accordion-list">
                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Không thể ghi nhớ tất cả các nguyên liệu, khối lượng đầu vào, nhà cung cấp, hàng cận date
                            </p>
                        </div>
                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Phần mềm quản lý nhà hàng lỗi thời, tính tiền thu chi sai lệch, không cập nhật tính năng mới
                            </p>
                        </div>

                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Không kiểm soát được tất cả order của khách: Làm nhầm món, tính tiền thừa hoặc thiếu cho khách
                            </p>
                        </div>

                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Khách hàng phàn nàn vì phải chờ đợi, phục vụ món chậm, làm sai món
                            </p>
                        </div>

                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Không quản lý tốt hệ thống nhân viên, dẫn tới xung đột, trốn tránh công việc, gian lận.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="list-info">
        <div class="container">
            <div class="row">
                <div class="accordion">
                    <div class="accordion-head">
                        <p><span class="number-title">1</span>Quản lý nguyên vật liệu</p> <i class="arrow-open"></i>
                    </div>
                    <div class="accordion-body default">
                        <p>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            &emsp;Kiểm soát thông tin các nguyên vật liệu: tên, số lượng, đơn vị tính, ngày nhập, hạn sử dụng, nơi nhập, giá bán...
                        </p>

                        <p>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            &emsp;Dễ dàng sắp xếp thực phẩm, món ăn theo danh mục.
                        </p>

                        <p>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            &emsp;Quản lý tình trạng nguyên liệu, chất lượng thực phẩm & món ăn đơn giản.
                        </p>
                    </div>
                    <div class="accordion-head">
                        <p><span class="number-title">2</span>Quản lý bán hàng</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>
                    <div class="accordion-head">
                        <p><span class="number-title">3</span>Quản lý thực đơn</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>

                    <div class="accordion-head">
                        <p><span class="number-title">4</span>Quản lý quy trình phục vụ - bếp - thu ngân</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>
                    <div class="accordion-head">
                        <p><span class="number-title">5</span>Quản lý phòng, bàn, khu vực, vị trí</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>

                    <div class="accordion-head">
                        <p><span class="number-title">6</span>Quản lý kho nguyên vật liệu</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>
                    <div class="accordion-head">
                        <p><span class="number-title">7</span>Quản lý và tính lương nhân viên</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>

                    <div class="accordion-head">
                        <p><span class="number-title">8</span>Quản lý marketing</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>

                    <div class="accordion-head">
                        <p><span class="number-title">9</span>Báo cáo kinh doanh</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>
                </div>
            </div>
        </div>
    </div>


    @Html.Partial("_ListPricePartial")
    @Html.Partial("_RequestPartial")

    <div class="banner-wave">
        <h2 class="bg-line-text" data-aos="fade-up">
            <span style="color: #FFD40C">Open24 cam kết</span> đem lại cho bạn <span style="color: #FFD40C">sự hài lòng</span>
            <br />
            <span style="color: #FFD40C">với sản phẩm và dịch vụ</span> của Open24 dành cho bạn.
        </h2>
    </div>

</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog" style="padding-top: 5%;">
        <iframe id="myVideo" width="100%" height="450px" src="" frameborder="0" allowfullscreen=""></iframe>
    </div>
</div>

<!-- #region backup -->
<!--<div id="renderBody">
<div class="banner banner-prd-nhahang bn-img banner-tinh-nang">
    <div class=" content-banner content-prd ">
        <h1 class="line-one"><strong>Phần mềm quản lý</strong> <br /> <span class="nhahang-size"><font>NHÀ HÀNG -</font> QUÁN CAFE</span></h1>
        <div class="content-prd-web">
            <p class="color-ss"> Quản lý linh hoạt - Mọi lúc mọi nơi</p>
            <div class="btn-group-prd-gara">
                <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
            </div>
        </div>
        <div class="content-prd-mobile content-prd-mobile-phong-kham">
            <p class="color-ss"> Quản lý linh hoạt -<br /> Mọi lúc mọi nơi</p>
            <div class="btn-group-prd-gara">
                <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
            </div>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container page-function">
        <div class="list-Weakness">
            <h3 class="title border-bot">5 vấn đề thường gặp khi kinh doanh nhà hàng, quán cafe</h3>
            <ul class="tree-Weakness">
                <li>Không thể ghi nhớ tất cả các nguyên liệu, khối lượng đầu vào, nhà cung cấp, hàng cận date</li>
                <li>Phần mềm quản lý nhà hàng lỗi thời, tính tiền thu chi sai lệch, không cập nhật tính năng mới</li>
                <li>Không kiểm soát được tất cả order của khách:<span> Làm nhầm món, tính tiền thừa hoặc thiếu cho khách</span> </li>
                <li>Khách hàng phàn nàn vì phải chờ đợi, phục vụ món chậm, làm sai món</li>
                <li>Không quản lý tốt hệ thống nhân viên, <span> dẫn tới xung đột, trốn tránh công việc, gian lận.</span></li>
            </ul>
        </div>
    </div>
</div>



<div class="banner banner-gara-service">
    <div class="container  ">
        <div class="list-service list-introduces">
            <h2 class="title border-bot-center">
                Open24 - Trợ thủ đắc lực<br /> giúp bạn giải quyết mọi vấn đề với các tính năng chuyên biệt
            </h2>
            <div class="tree-service">
                <div class="tree-li">

                    <h4><span class="number-title-pr">1</span>Quản lý nguyên vật liệu </h4>
                    <div class="fl">
                        <div class="img">
                            <img src="~/Content/images/open24/IconNN/i-nguyen-vat-lieu.jpg" />
                        </div>
                        <div class="text">
                            <p>Kiểm soát thông tin các nguyên vật liệu: tên, số lượng, đơn vị tính, ngày nhập, hạn sử dụng, nơi nhập, giá bán...</p>
                            <p>Dễ dàng sắp xếp thực phẩm, món ăn theo danh mục.</p>
                            <p>Quản lý tình trạng nguyên liệu, chất lượng thực phẩm & món ăn đơn giản.</p>
                        </div>

                    </div>
                </div>
                <div class="tree-li">
                    <h4><span class="number-title-pr">2</span>Quản lý bán hàng</h4>
                    <div class="fl">
                        <div class="img">
                            <img src="~/Content/images/open24/IconNN/i-ban-hang.jpg" />
                        </div>
                        <div class="text">
                            <p>Hỗ trợ nhiều hình thức thanh toán: tiền mặt, thẻ, voucher, ghi nợ...</p>
                            <p>Cho phép kết nối với máy in hóa đơn để in bill cho khách nhanh chóng.</p>
                            <p>Thực hiện thanh toán ngay cả khi mất kết nối Internet.</p>
                        </div>
                    </div>
                </div>
                <div class="tree-li">
                    <h4><span class="number-title-pr">3</span>Quản lý thực đơn</h4>
                    <div class="fl">
                        <div class="img">
                            <img src="~/Content/images/open24/IconNN/i-thuc-don.jpg" />
                        </div>
                        <div class="text">

                            <p>Tạo và quản lý thực đơn theo phần, đĩa, xuất, combo, món ăn...</p>
                            <p>Quản lý thông tin món ăn chính xác: tên món, số lượng, giá, ưu đãi.</p>
                            <p>Thiết lập định mức các nguyên liệu, giá bán theo sở thích, yêu cầu, khung giờ.</p>
                            <p>Bổ sung hoặc cập nhật giá bán cho thực đơn mọi lúc mọi nơi, trên mọi thiết bị.</p>
                        </div>
                    </div>
                </div>
                <div class="tree-li">
                    <h4><span class="number-title-pr">4</span>Quản lý quy trình phục vụ - bếp - thu ngân</h4>
                    <div class="fl">
                        <div class="img">
                            <img src="~/Content/images/open24/IconNN/i-phuc-vu-bep.jpg" />
                        </div>
                        <div class="text">

                            <p>Nhân viên phục vụ giới thiệu món và ghi order bằng smartphone, ipad rồi chuyển yêu cầu cho bộ phận bếp ngay tại bàn.</p>
                            <p>Bộ phận bếp nhận danh sách món cần chế biến ngay khi khách gọi món.</p>
                            <p>Nhân viên thu ngân biết order nào đang yêu cầu thanh toán để tính tiền kịp thời.</p>
                            <p>Nhà quản lý theo dõi hoạt động giữa phục vụ - bếp - thu ngân thuận tiện từ một màn hình.</p>
                        </div>
                    </div>
                </div>

                <div class="tree-li">
                    <h4><span class="number-title-pr">5</span>Quản lý phòng, bàn, khu vực, vị trí</h4>
                    <div class="fl">
                        <div class="img">
                            <img src="~/Content/images/open24/IconNN/i-phong-ban.jpg" />
                        </div>
                        <div class="text">

                            <p>Quản lý sơ đồ, khu vực vị trí, phòng bàn theo sơ đồ thực tế của khách hàng.</p>
                            <p>Quản lý tình trạng BẬN, TRỐNG của các vị trí, khu vực.</p>
                            <p>Tùy biến sơ đồ nhanh chóng, đơn giản, rút ngắn thời gian tìm kiếm.</p>
                        </div>
                    </div>
                </div>

                <div class="tree-li">
                    <h4><span class="number-title-pr">6</span>Quản lý kho nguyên vật liệu</h4>
                    <div class="fl">
                        <div class="img">
                            <img src="~/Content/images/open24/IconNN/i-kho-vat-lieu.jpg" />
                        </div>
                        <div class="text">

                            <p>Nắm được tình hình xuất - nhập - tồn kho nguyên vật liệu.</p>
                            <p>Điều chuyển và định lượng chi tiết từng nguyên vật liệu, món ăn.</p>
                            <p>Cảnh báo nguyên vật liệu sắp hết hạn, dưới định mức tồn tối thiểu hoặc vượt định mức tồn tối đa.</p>
                        </div>
                    </div>
                </div>
                <div class="tree-li">
                    <h4><span class="number-title-pr">7</span>Quản lý và tính lương nhân viên</h4>
                    <div class="fl">
                        <div class="img">
                            <img src="~/Content/images/open24/IconNN/i-luong-nv.jpg" />
                        </div>
                        <div class="text">
                            <p>Phân quyền sử dụng phần mềm cho nhân viên theo từng vị trí công việc.</p>
                            <p>Kiểm tra các hoạt động giao dịch phát sinh: nhập nguyên vật liệu, thanh toán cho khách hàng, định lượng chế biến...</p>
                            <p>Quản lý hồ sơ và theo dõi ca làm việc, hiệu quả công việc của từng nhân viên.</p>
                            <p>Tính toán lương, hoa hồng của từng nhân viên theo số công và hiệu quả làm việc.</p>
                        </div>

                    </div>
                </div>
                <div class="tree-li">
                    <h4><span class="number-title-pr">8</span>Quản lý marketing</h4>
                    <div class="fl">
                        <div class="img">
                            <img src="~/Content/images/open24/IconNN/i-marrketing.jpg" />
                        </div>
                        <div class="text">
                            <p>Thiết lập và quản lý các chương trình khuyến mại theo từng thời điểm, từng đối tượng khách hàng: tặng món, giảm giá theo hóa đơn, mua món X tặng món Y, tặng Voucher... </p>
                            <p>Thiết lập và quản lý các chương trình tích điểm và phát hành thẻ khách hàng thân thiết.</p>
                            <p>Tự động gửi tin nhắn thông báo khuyến mại, giảm giá dịp đặc biệt, sinh nhật, kỷ niệm...</p>
                        </div>

                    </div>
                </div>
                <div class="tree-li">
                    <h4><span class="number-title-pr">9</span>Báo cáo kinh doanh</h4>
                    <div class="fl">
                        <div class="img">
                            <img src="~/Content/images/open24/IconNN/i-bc-tong-hop.jpg" />
                        </div>
                        <div class="text">

                            <p>Đối chiếu công nợ theo từng khách hàng, nhà cung cấp chi tiết theo từng lần bán hàng và nhập nguyên vật liệu.</p>
                            <p>Quản lý nhật ký các khoản thu chi, công nợ, tiền lương, thưởng, hoa hồng, tự động tổng hợp sổ quỹ.</p>
                            <p>Tự động tổng hợp báo cáo: doanh thu, chi phí, kho nguyên vật liệu, lương nhân viên....</p>
                            <p>Hệ thống báo cáo biểu diễn dưới dạng: bảng biểu, biểu đồ từ chi tiết đến tổng quát.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="banner banner-function" style="  ">
    <div class="container  ">
        <div class="list-function list-function-new list-introduces">
            <h2 class="title no-margin-bot">
                Quản lý chuyên nghiệp, tăng trưởng doanh thu với Open24

            </h2>
            <a href="javascript:void(0)" class="btn-dang-ky-ct element "><i class="far fa-lightbulb"></i> Dùng thử miễn phí 15 ngày</a>
        </div>
    </div>
</div>


<div class="banner banner-useful bn-img">
    <div class="container wid100">

        <div class="list-useful list-useful-new">
            <div class="">
                <div class="fl">
                    <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <p>Sắp xếp, quản lý sơ đồ chỗ ngồi của khách hàng mọi lúc mọi nơi, trên mọi thiết bị</p>
                    </a>
                    <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <p>Tiết kiệm 50% chi phí thuê nhân sự, thời gian. Nâng cao hiệu suất order món gấp 3</p>
                    </a>
                    <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <p>Giảm thiểu sai sót: thanh toán nhầm, phục vụ sai yêu cầu của khách</p>
                    </a>
                    <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <p>Hỗ trợ hoạt động marketing, chăm sóc khách hàng linh hoạt</p>
                    </a>
                    <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <p>Khách hàng yêu thích bởi sự phục vụ chuyên nghiệp của nhà hàng, quán cafe   </p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>-->
@*@Html.Partial("_FunctionPartial")*@

@*@Html.Partial("_CustomerPartial")*@

<!--@Html.Partial("_GrdungthuPartial")

    @Html.Partial("_ServicePartial")

    @using Model_banhang24vn.Common
    <div class="banner banner-gara-dang-ky">
        <div class="container">
            <div class="gara-dang-ky">
                <div class="gr-dk-left mobile-none">
                    <img src="~/Content/images/open24/gara-co-gai-dk.png" />
                </div>
                <div class="gr-dk-right">
                    <div class="group-input-contact">
                        <h3 class="title-dang-ky">Hơn 2100+ nhà hàng đã sử dụng và thành công. Còn bạn thì sao?</h3>
                        <p class="text-center">Trải nghiệm <span style="font-weight:bold">15 ngày sử dụng miễn phí</span> Open24 ngay !</p>
                        <div class="form-group fl">
                            <input type="text" class="form-control" placeholder="Tên bạn" v-model="CuahangDangKy.FullName">
                        </div>
                        <div class="form-group fl">
                            <input type="text" class="form-control" placeholder="Số điện thoại" v-model="CuahangDangKy.Phone">
                        </div>
                        <div class="form-group fl">
                            <select class="form-control" id="linhvuckd">
                                <option value="-1">-- Chọn lĩnh vực bạn kinh doanh --</option>
                                @foreach (var item in Notification.ListKeyInTitle.ToList())
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>

                        </div>
                        <div class="form-group fl">
                            <textarea rows="1" class="fl" placeholder="Địa chỉ" v-model="CuahangDangKy.Address"></textarea>
                        </div>
                        <div class="form-group fl">
                            <textarea rows="3" class="fl" placeholder="Ghi chú" v-model="CuahangDangKy.Note"></textarea>
                        </div>
                        <div class="form-group fl">
                            <button type="button" class="form-control btn-send-contact" v-on:click="Clickdangky">
                                <img src="~/Content/images/open24/i-check.png" />
                                Đăng ký ngay
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- #endregion -->

<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>
     vmbody.GetCustomerHome();
    vmbody.IsShowCustomer = false;
    vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>