
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập quản trị Web Ssoft </title>
    @Styles.Render("~/Content/BootstrapCss")
    @Styles.Render("~/Content/AdminCss")
</head>
<body class="login">
    <div id="LoginSsoft">
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Ssoft Web</h1>
                        <div class="col-md-12 floatleft">
                         <p class="error" style="color:red;text-align:left"></p>
                       </div>
                        <div class="col-md-12 floatleft form-input-login">
                            <input type="text" class="form-control" placeholder="Username" required="" v-model="User.TaiKhoan" />
                        </div>
                        <div class="col-md-12 floatleft form-input-login">
                            <input type="password" class="form-control" placeholder="Password" required="" v-model="User.MatKhau" />
                        </div>
                        <div class="col-md-12">
                            <div class="pull-left form-checkbox">
                                <input type="checkbox" class="check-box"><label> Ghi nhớ mật khẩu?</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a class="btn btn-default submit " href="javascript:void(0)" v-on:click="Submit">Đăng nhập</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                           
                            <p class="change_link">
                                Tổng đài hỗ trợ 19006914 |  <a href="javascript:void(0)" class="to_register"> Quên mật khẩu </a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Login")
</body>
</html>