@using banhang24.Hellper;
@using Model;
<link href="~/Content/daterangepicker.css" rel="stylesheet" />
<link href="/Content/base/jquery-ui.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-12 report-view">
            <div class=" op-filter filter-left-report">
                <section class="op-filter-body">
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/loaithuchi.png">  Loại công việc
                        </h3>
                        <aside class="op-filter-container">
                            <div class="outselect">
                                <div class="outselect outselectDV">
                                    <div class="choose-person floatleft " data-toggle="dropdown" id="choose_LoaiCongViec">
                                        <ul data-bind="foreach: MangNhomCongViec">
                                            <li class="li-input-span">
                                                <span data-bind="text: LoaiCongViec">
                                                </span>
                                                <span data-bind="click: $parent.CloseCongViec">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <input type="text" id="dllCongViec" readonly="readonly" class="dropdown" placeholder="Chọn công việc" />
                                    </div>
                                    <div class="selec-person dropdown-menu floatleft" id="selec-all-CongViec">
                                        <ul data-bind="foreach: LoaiCongViecs">
                                            <li data-bind="attr:{id: ID}, click: $parent.selectedLoaiCongViecFilter">
                                                <span data-bind="text: LoaiCongViec"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/nhomkhachhang.png" height="15">  Đối tượng
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuCheckbox">
                                <ul>
                                    <li class=" choseThamKhao">
                                        <label><input type="checkbox" name="checkKhachHang" data-bind="checked: checkKhachHang" value="1"> Khách hàng</label>
                                    </li>
                                    <li class=" choseTiemNang">
                                        <label><input type="checkbox" name="checkNhaCungCap" data-bind="checked: checkNhaCungCap" value="2"> Nhà cung cấp</label>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/loaithuchi.png">  Nhân viên thực hiện
                        </h3>
                        <aside class="op-filter-container">
                            <div class="outselect">
                                <div class="outselect outselectDV">
                                    <div class="choose-person floatleft " data-toggle="dropdown" id="choose_NhanVien">
                                        <ul data-bind="foreach: MangNhanVien">
                                            <li class="li-input-span">
                                                <span data-bind="text: TenNhanVien">
                                                </span>
                                                <span data-bind="click: $parent.CloseNV">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <input type="text" id="dllNhanVien" readonly="readonly" class="dropdown" placeholder="Chọn nhân viên" />
                                    </div>
                                    <div class="selec-person dropdown-menu floatleft" id="selec-all-NhanVien" style="overflow:hidden">
                                        <ul data-bind="foreach: NhanViens">
                                            <li data-bind="attr:{id: ID}, click: $parent.selectedNhanVienFilter">
                                                <span data-bind="text: TenNhanVien"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/thoigian.png" />       Thời gian
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuCheckbox">
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" data-bind="checked: filterNgayLapHD" value="0" />
                                    </div>
                                    <div class="conten-choose">
                                        <div class=" choose-date ">
                                            <div data-toggle="dropdown" aria-expanded="true">
                                                <input type="text" class="dropdown form-control choose-date-show" placeholder="Toàn thời gian" id="txtNgayTao">
                                            </div>
                                            <div class="dropdown-menu choseNgayTao">
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo ngày và tuần</h3>
                                                    <ul>
                                                        <li value="1"><a href="javascript:void(0);">Hôm nay</a></li>
                                                        <li value="2"><a href="javascript:void(0);">Hôm qua</a></li>
                                                        <li value="3"><a href="javascript:void(0);">Tuần này</a></li>
                                                        <li value="4"><a href="javascript:void(0);">Tuần trước</a></li>
                                                        <li value="5"><a href="javascript:void(0);">7 ngày qua</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo tháng và quý</h3>
                                                    <ul>
                                                        <li value="6"><a href="javascript:void(0);">Tháng này</a></li>
                                                        <li value="7"><a href="javascript:void(0);">Tháng trước</a></li>
                                                        <li value="10"><a href="javascript:void(0);">Quý này</a></li>
                                                        <li value="11"><a href="javascript:void(0);">Quý trước</a></li>
                                                    </ul>
                                                </div><div class="col-md-4 col-sm-4">
                                                    <h3>Theo năm</h3>
                                                    <ul>
                                                        <li value="12"><a href="javascript:void(0);">Năm này</a></li>
                                                        <li value="13"><a href="javascript:void(0);">Năm trước</a></li>
                                                        <li value="0"><a href="javascript:void(0);">Toàn thời gian</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" data-bind="checked: filterNgayLapHD" value="1" />
                                    </div>
                                    <div class="conten-choose">
                                        <div class="floatleft form-wrap ">
                                            <input type='text' class="form-control daterange" id="txtNgayTaoInput" placeholder="23/12/2017" name="daterange"
                                                   data-bind="value: filterNgayLapHD_Input, enable: filterNgayLapHD()!=='0'" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/thoigian.png" />       Thời gian liên hệ lại
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuCheckbox" id="thoigianlhl">
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" name="sinhnhat" data-id="1" checked />
                                    </div>
                                    <div class="conten-choose">
                                        <div class=" choose-date ">
                                            <div data-toggle="dropdown" aria-expanded="true">
                                                <input type="text" class="dropdown form-control choose-date-show" data-bind="value:TextBirthDate">
                                            </div>
                                            <div class="dropdown-menu " id="SelectLienHeLai">
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo ngày và tuần</h3>
                                                    <ul>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.homnay)"><a href="javascript:void(0);">hôm nay</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.homqua)"><a href="javascript:void(0);">hôm qua</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.tuannay)"><a href="javascript:void(0);">Tuần này</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.tuantruoc)"><a href="javascript:void(0);">Tuần trước</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo tháng và quý</h3>
                                                    <ul>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.thangnay)"><a href="javascript:void(0);">Tháng này</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.thangtruoc)"><a href="javascript:void(0);">Tháng trước</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.quynay)"><a href="javascript:void(0);">Quý này</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.quytruoc)"><a href="javascript:void(0);">Quý trước</a></li>
                                                    </ul>
                                                </div><div class="col-md-4 col-sm-4">
                                                    <h3>Theo năm</h3>
                                                    <ul>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.namnay)"><a href="javascript:void(0);">Năm này</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.namtruoc)"><a href="javascript:void(0);">Năm trước</a></li>
                                                        <li value="@((int)commonEnumHellper.TypeBirthDay.toanthoigian)"><a href="javascript:void(0);">Toàn thời gian</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" name="sinhnhat" data-id="0" />
                                    </div>
                                    <div class="conten-choose">
                                        <div class="floatleft form-wrap ">
                                            <input type='text' class="form-control daterange newDateTime" disabled
                                                   placeholder="Lựa chọn khác" name="daterange" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft sortTime">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/trangthai (1).png">   Trạng thái khách hàng
                        </h3>
                        <aside class="op-filter-container">
                            <div class="outselect ">
                                <div class=" choose-person floatleft " data-toggle="dropdown" aria-expanded="true">
                                    <ul data-bind="foreach: TrangThaiKhachHang">
                                        <li class="li-input-span" data-bind="visible: IsSelected===true">
                                            <span data-bind="text: Name"></span>
                                            <span data-bind="click: $parent.RemoveTrangThaiKhachHang">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                    <input type="text" class="dropdown">
                                </div>
                                <div class="selec-person dropdown-menu">
                                    <ul data-bind="foreach: TrangThaiKhachHang">
                                        <li data-bind="attr:{id: ID}, click: $parent.SelectTrangThaiKhachHang">
                                            <span data-bind="text: Name "></span>
                                            <i class="fa fa-check check-after-li" data-bind="visible: IsSelected === true"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft sortTime">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/trangthai (1).png">   Trạng thái công việc
                        </h3>
                        <aside class="op-filter-container">
                            <div class="outselect ">
                                <div class=" choose-person floatleft " data-toggle="dropdown" aria-expanded="true">
                                    <ul data-bind="foreach: TrangThaiCongViec">
                                        <li class="li-input-span" data-bind="visible: IsSelected===true">
                                            <span data-bind="text: Name"></span>
                                            <span data-bind="click: $parent.RemoveTrangThaiCongViec">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                    <input type="text" class="dropdown">
                                </div>
                                <div class="selec-person dropdown-menu">
                                    <ul data-bind="foreach: TrangThaiCongViec">
                                        <li data-bind="attr:{id: ID}, click: $parent.SelectTrangThaiCongViec">
                                            <span data-bind="text: Name"></span>
                                            <i class="fa fa-check check-after-li" data-bind="visible: IsSelected==true"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </article>
                </section>
                <div class="op-filter-footer">
                    <button type="button" class="btn btn-link" style="color:red" onclick="closeFilter()">Hủy</button>
                    <button type="button" class="btn btn-link" onclick="collapseSubFilter(this)">
                        <span>Thu gọn</span>
                    </button>
                    <button type="button" class="btn btn-link" style="display:none" onclick="expandSubFilter(this)">
                        <span>Mở rộng</span>
                    </button>
                    <button type="button" class="btn btn-main kv2Btn" onclick="closeFilter()">Hoàn tất</button>
                </div>
            </div>
            <div class="content-table possible-table-tab">
                <div class="op-header">
                   <h2 class="pull-left title">@banhang24.Resources.ResourceTexts.Partner / Công việc</h2>
                    <div class="col-md-12 nopadding header-filter">
                        <div class="btn-header-filter btnMenu col-md-7 nopadding pull-left">
                            <div class="btn-group operation" id="divThaoTac">
                                <button type="button" class="btn btn-main  btn-main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bars"></i><font>Thao tác</font> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu ">
                                    <li>
                                        <a href="javascript:void(0);" data-bind="click: DeleteMany" id="btnDeleteMultiple">
                                            <i class="fa fa-trash"></i>&nbsp;Xóa công việc
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-main addHHH btn-main txtCongViecThemMoi" style="display:none" data-bind="click: showPopupoAddNew"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-plus" aria-hidden="true"></i>     <font>Thêm mới</font>
                            </button>
                            <div class="btn-dropdown" id="selected-column">
                                <button type="button" class="btn btn-main  dropdown-toggle" onclick="showCollumnFilter(this)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     <i class="fa fa-angle-double-down"></i>
                                </button>
                                <div class="dropdown-list" style="display: none;">
                                    <ul>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbmahang" checked="checked" value="loaicongviec"><span></span>Loại công việc</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbmahang" checked="checked" value="khachhang"><span></span>Khách hàng</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox cbtenhang" id="cbtenhang" checked="checked" value="tenlienhelai"><span></span>Tên liên hệ</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbloaihang" checked="checked" value="chiasecvvoi"><span></span>Nhân viên</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbgiaban" checked="checked" value="noidungcv"><span></span>Nội dung</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox cbtenhang" id="cbtenhang" checked="checked" value="thoigiantu"><span></span>Thời gian từ</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbnhomhang" checked="checked" value="thoigianden"><span></span>Thời gian đến</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbgiavon" checked="checked" value="nhactruoc1"><span></span>Nhắc trước</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbtonkho" checked="checked" value="timelienhelai"><span></span>Thời gian liên hệ lại</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbtrangthai" checked="checked" value="nhactruoc2"><span></span>Nhắc trước liên hệ lại</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbtrangthai1" checked="checked" value="trangthai"><span></span>Trạng thái</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 nopadding pull-right input-search-filter">
                            <button type="button" class=" btn-search-icon" data-bind="click: $root.clickSearchCV">
                                <i class="fa fa-search"></i>
                            </button>
                            <input type="text" class="form-control" placeholder="Theo mã, tên hàng" id="txtFilterCongViec" data-bind="value: filterCV, valueUpdate: 'afterkeydown'">
                        </div>
                    </div>
                    <div class=" floatleft choose-commodity">
                        Có&nbsp;
                        <span>
                            <a href="javascript:void(0)"
                               data-bind="click:">
                                <span id="count"></span>&nbsp; công việc
                            </a>
                        </span>được chọn <span onclick="RemoveAllCheck()">
                            <a href="javascript:void(0)">
                                &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-times icon-del">
                                </i>Bỏ chọn tất cả
                            </a>
                        </span>
                    </div>
                </div>
                <div class="table-reponsive bangchung ">
                    <table class="table-hover table-new" id="table-congviec">
                        <thead>
                            <tr>
                                <th class="check-group check-group-main">
                                    <input type="checkbox" class="ckHeader" onclick="SetCheckAll(this)">
                                </th>
                                <th class="loaicongviec">
                                    <a href="javascript:void(0)">Loại công việc</a>
                                </th>
                                <th class="khachhang">
                                    <a href="javascript:void(0)">Khách hàng</a>
                                </th>
                                <th class="tenlienhelai">
                                    <a href="javascript:void(0)">Tên liên hệ</a>
                                </th>
                                <th class="noidungcv">
                                    <a href="javascript:void(0)">Nội dung</a>
                                </th>
                                <th class="ketquacv">
                                    <a href="javascript:void(0)">Kết quả</a>
                                </th>
                                <th class="nhanvientao">
                                    <a href="javascript:void(0)">Nhân viên tạo công việc</a>
                                </th>
                                <th class="thoigiantu">
                                    <a href="javascript:void(0)">Thời gian từ</a>
                                </th>
                                <th class="thoigianden">
                                    <a href="javascript:void(0)">Thời gian đến</a>
                                </th>
                                <th class="nhactruoc1">
                                    <a href="javascript:void(0)">Nhắc trước</a>
                                </th>
                                <th class="timelienhelai">
                                    <a href="javascript:void(0)">Thời gian liên hệ lại</a>
                                </th>
                                <th class="nhactruoc2">
                                    <a href="javascript:void(0)">Nhắc trước liên hệ lại</a>
                                </th>
                                <th class="trangthai">
                                    <a href="javascript:void(0)">Trạng thái</a>
                                </th>
                                <th class="chiasecvvoi">
                                    <a href="javascript:void(0)">Nhân viên chia sẻ</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: CongViecs">
                            <tr class="prev-tr-hide" data-bind="css:{bggray : $index()%2 == 1}">
                                <td class="check-group check-group-main">
                                    <input type="checkbox" data-bind="attr:{id: ID}" onclick="ChoseCongViec(this)" />
                                </td>
                                <td class="loaicongviec" data-bind="text: LoaiCongViec, click: $parent.LoadQuyen"></td>
                                <td class="khachhang" data-bind="text: TenKhachHang, click: $parent.LoadQuyen"></td>
                                <td class="tenlienhelai" data-bind="text: TenLienHe, click: $parent.LoadQuyen"></td>
                                <td class="noidungcv" data-bind="text:commonStatisJs.SubStringContent(NoiDung,50) ,click: $parent.LoadQuyen"></td>
                                <td class="noidungcv" data-bind="text: commonStatisJs.SubStringContent(KetQuaCongViec,30),click: $parent.LoadQuyen"></td>
                                <td class="nhanvientao" data-bind="text:TenNguoiTao,click: $parent.LoadQuyen"></td>
                                <td class="thoigiantu" data-bind="text: moment(ThoiGianTu).format('DD/MM/YYYY HH:mm')!='Invalid date'? moment(ThoiGianTu).format('DD/MM/YYYY HH:mm'):'',click: $parent.LoadQuyen"></td>
                                <td class="thoigianden" data-bind="text: moment(ThoiGianDen).format('DD/MM/YYYY HH:mm')!='Invalid date'? moment(ThoiGianDen).format('DD/MM/YYYY HH:mm'):'',click: $parent.LoadQuyen"></td>
                                <td class="nhactruoc1" data-bind="text: NhacTruocText, click: $parent.LoadQuyen,click: $parent.LoadQuyen,"></td>
                                <td class="timelienhelai" data-bind="text: moment(ThoiGianLienHeLai).format('DD/MM/YYYY HH:mm')!='Invalid date'? moment(ThoiGianLienHeLai).format('DD/MM/YYYY HH:mm'):'',click: $parent.LoadQuyen"></td>
                                <td class="nhactruoc2" data-bind="text: NhacTruocLienHeLaiText,click: $parent.LoadQuyen"></td>
                                <td class="trangthai" data-bind="text: TrangThaiText"></td>
                                <td class="chiasecvvoi" data-bind="text: TenNhanVien, click: $parent.LoadQuyen"></td>
                            </tr>
                            <tr class="op-js-tr-hide">
                                <td colspan="11">
                              
                                        <div class="op-object-detail ">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a data-bind="attr:{href:'#home_'+ ID}" data-toggle="tab">Thông tin</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" data-bind="attr:{id:'home_'+ ID}">
                                                    <div class="col-md-12 op-object-detail ">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-4 detail-content">
                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label ng-binding">Loại công việc:</label>
                                                                        <div class="css-form-detail" data-bind="text: LoaiCongViec"></div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label ng-binding">Nội dung:</label>
                                                                        <div class="css-form-detail" data-bind="text: NoiDung"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 detail-content">
                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label ng-binding">Tên khách hàng:</label>
                                                                        <div class="css-form-detail" data-bind="text: TenKhachHangChiTiet"></div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label ng-binding">Kết quả:</label>
                                                                        <div class="css-form-detail" data-bind="text: KetQuaCongViec"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 detail-content">
                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label ng-binding">Tên nhân viên:</label>
                                                                        <div class="css-form-detail" data-bind="text: TenNhanVien"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="group-btn text-right text-right">
                                                                <a  class="btn btn-main txtCongViecCapNhat" style="display:none" data-bind="click: $root.editCongViec">
                                                                    <i class="fa fa-check-square"></i> Sửa đổi
                                                                </a>
                                                                <a  class="btn btn-cancel txtCongViecXoa" style="display:none" data-bind="click: $root.xoaCongViec">
                                                                    <i class="fa fa-trash"></i> Xóa
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="page">
                                <div class="flex flex-row">
                                    <label>Số bản ghi:</label>
                                    <select id="SelecttedPage" class="form-control seleted-page" data-bind="value: pageSize,
                                                options: pageSizes, event: {change: ResetCurrentPage}"></select>
                                </div>
                            <div class="flex flex-end">
                                <a href="javascript:void(0)" data-bind="click: $root.StartPage, visible: VisibleStartPage"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" data-bind="click: $root.BackPage, visible: VisibleStartPage "><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                <ul data-bind="foreach: PageList_Display">
                                    <li>
                                        <a href="javascript:void(0)" data-bind="text: pageNumber, click: $root.GoToPageHD, css: $root.GetClassHD($data)"></a>
                                    </li>
                                </ul>
                                <a href="javascript:void(0)" data-bind="click: $root.GoToNextPage, visible: VisibleEndPage "><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" data-bind="click: $root.EndPage, visible: VisibleEndPage "><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                <div class="total-recos">Hiển thị <span data-bind="text: fromitem"></span> - <span data-bind="text: toitem"></span> trên tổng số <span data-bind="text: TotalRecord"></span> công việc.</div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalPopuplg_Work">
        <div class="modal-dialog draggable modal-lg">
            @Html.Partial("_addNewWorkPartial")
        </div>
    </div>
    <!--Modal delete-->
    <div class="modal " id="modalPopuplgDelete">
        <div class="modal-dialog modal-md">
           
                @Html.Action("_modalDelete", new { area = "", Controller = "GiaoDich" })
            
        </div>
    </div>
</div>
<div class="modal fade" id="modalLoaiCongViec">
    <div class=" modal-dialog draggable modal-sm ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title titleLoaiCongViec">
                    Thêm mới công việc
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 no-padding-left" data-bind="with: newLoaiCongViec">
                    <div class="form-group floatleft">
                        <label>Tên công việc (<span style="color:red">*</span>)</label>
                        <div class="form-news">
                            <input class="form-control" type="text" data-bind="value: LoaiCongViec" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="container-fluid">
                    <button type="button" class="btn btn-delete xoaLoaiCongViec" data-bind="click: XoaLoaiCongViec" style="display:none">
                        <i class="fa fa-trash"></i> Xóa
                    </button>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
                    <button type="button" class="btn btn-save" data-bind="click: addLoaiCongViec">
                        <i class="fa fa-save"></i>&nbsp; Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPopuplg_KH">
    <div class="modal-dialog draggable modal-dialog-pb">
        <div class="modal-lg">
            @Html.Action("_ThemMoiKhachHang", new { area = "", Controller = "DoiTac" })
        </div>
    </div>
</div>
<div class="modal fade" id="modalPopuplg_NCC" >
    <div id="modalContainer_NCC" class="modal-dialog draggable modal-dialog-pb">
        <div class="modal-ms">
            @Html.Action("_ThemMoiNCC", new { area = "", Controller = "DoiTac" })
        </div>
    </div>
</div>
<div class="modal fade" id="modalPopuplg_Contact">
    <div class="modal-dialog draggable modal-lg">
        @Html.Partial("_NguoiLienHeKhachHang")
    </div>
</div>
<script>
    $(function () {
        $('.newDateTime').daterangepicker({
            locale: {
                "format": 'DD/MM/YYYY',
                "separator": " - ",
                "applyLabel": "Áp dụng",
                "cancelLabel": "Hủy",
                "fromLabel": "Từ",
                "toLabel": "Đến",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "CN",
                    "T2",
                    "T3",
                    "T4",
                    "T5",
                    "T6",
                    "T7"
                ],
                "monthNames": [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12"
                ],
                "firstDay": 1
            }
        });
    });
    $("#table-congviec").on('click', '.prev-tr-hide td', function () {
        if ($(this).hasClass('check-group')) {
        }
        else {
            var parentTR = $(this).parent();
            setTop = 35 + parseInt($(parentTR).height() * ($(parentTR).index() / 2));
            $(parentTR).parents(".table-reponsive").toggleClass("table_re");
            var t = $(parentTR).next(".op-js-tr-hide").css("display");
            $(".prev-tr-hide td").not($(parentTR).find("td")).removeClass("bor");
            $("td").not($(parentTR).find("td")).removeClass("bg-gray");
            $(".prev-tr-hide").not($(parentTR)).removeClass("bor-right");
            $(parentTR).toggleClass("bor-right");
            $(parentTR).find("td").toggleClass("bg-gray");
            $(parentTR).find("td").toggleClass("bor");
            if (t == "none") {
                if (parseInt($('#SelecttedPage').val()) >= 20) {
                    $(".table-reponsive").removeClass('height470');
                }
                $(".op-js-tr-hide").removeClass("ac");
                $(parentTR).next(".op-js-tr-hide").addClass("ac");
                heightold = $(parentTR).next().height();
                heigth = parseInt($(parentTR).height()) + heightold;
                $('.line-right').height(heigth).css("margin-top", setTop + "px");
            }
            else if (t == "block") {
                if (parseInt($('#SelecttedPage').val()) >= 20) {
                    $(".table-reponsive").addClass('height470');
                }
                $(parentTR).next(".op-js-tr-hide").removeClass("ac");
                $('.line-right').height(0).css("margin-top", "0px");
            }
            else {
                if (parseInt($('#SelecttedPage').val()) >= 20) {
                    $(".table-reponsive").addClass('height470');
                }
                $(".op-js-tr-hide").removeClass("ac");
                $('.line-right').height(0).css("margin-top", "0px");
            }
        }
    });
    $.datetimepicker.setLocale('vi');
    $('#modalPopuplg_Work').on('shown.bs.modal', function (e) {
        $('.datetimepicker4').datetimepicker({
            format: 'd/m/Y H:i',
            timepicker: true,
            step: 30,
            mask: true
        });
    });
    var funcName = '@RoleKey.CongViec';
</script>
<script src="/Content/js/Datetime/jquery.ui.datepicker-vi-VN.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Content/js/main.js"></script>
<script src="~/Scripts/knockout-jqAutocomplete.min.js"></script>
<script src="~/Scripts/vue.min.js"></script>
<script type="text/javascript" src="~/Content/js/moment.js"></script>
<script type="text/javascript" src="~/Content/js/moment.min.js"></script>
<script type="text/javascript" src="~/Content/js/daterangepicker.js"></script>
<script src="~/Content/js/Datetime/jquery.datetimepicker.full.min.js"></script>
<script src="~/Scripts/BanHang/Public.js"></script>
