@using System.Web.Optimization
@{
    //ViewBag.Title = "Open24.vn -  Chiết khấu";
    Layout = null;
}
<link href="~/Content/NhanSu.css" rel="stylesheet" />
<style>
    .callprice {
        width: 450px;
    }
    .form-check-left {
        position: relative;
        display: flex;
    }
    .form-check-left label {
        margin: 5px 0 5px 5px;
    }
    .lb-check-note-ck {
        width: calc(100% - 50px)
    }
    .form-popup-chiet-khau .pop-input-chiet-khau {
        float: left;
        display: flex;
        width: unset;
        margin: 0 5px;
    }
    .form-popup-chiet-khau label {
        font-weight: 400;
        width: unset;
        float: left;
        line-height: 30px;
    }
    .table-frame {
        overflow: auto;
        max-height: calc(100vh - 270px);
        width: calc(100% );
    }
    .possible-table-tab {
        top: 0
    }
    .search-left {
        float: left;
        margin-bottom: 8px;
        margin-top: 0;
    }
        .search-left input {
            height: 26px !important;
        }
    .selec-person ul {
        overflow: initial;
    }
    ._chiet-khau-search-l {
        position: relative;
        float: left;
        display: block;
    }
    ._chiet-khau-btn-search {
        /*width: calc(100% - 400px);*/
        padding-left: 5px;
        float: left;
    }
        ._chiet-khau-btn-search button {
            margin-left: 5px;
        }
    ._chiet-khau-search-l input {
        height: 30px !important;
        /* margin-top: -2px; */
        padding-right: 30px;
    }
    ._chiet-khau-nhan-vien .staff-add-new {
        margin-top: 15px;
        margin-bottom: 15px !important;
    }
    ._chiet-khau-nhan-vien .input-search-filter input {
        width: calc(100% - 50px)
    }
    ._chiet-khau-nhan-vien .header-add-new h4 {
        font-size: 14px;
    }
    .hoa-hong-hoa-don {
        width: 540px;
    }
    ._table-chiet-khau-ct thead tr th {
        background-color: #efecdf !important;
    }
    ._table-chiet-khau-ct tbody tr {
        border: none
    }
        ._table-chiet-khau-ct tbody tr:nth-child(2n) {
            background: #e6f5fa !important
        }
        ._table-chiet-khau-ct tbody tr:nth-child(2n+1) {
            background: white !important
        }
    .table-chiet-khau thead tr th {
        /*background-color: #efecdf;*/
        border-right: 1px solid white
    }
        .table-chiet-khau thead tr th:last-child,
        .table-chiet-khau tbody tr td:last-child {
            text-align: center;
        }
    .fa-times {
        color: red !important
    }
    .modal-footer {
        border: none;
        padding-left: 0px;
    }
    ._chiet-khau-nhan-vien .table-show {
        margin-bottom: 30px !important
    }
    ._chon-nhan-vien {
        width: 100%;
        float: left;
    }
    /*._head-search-nv input {
        border: none;
        border-bottom: 1px solid #ccc;
        box-shadow: none;
        padding-left: 30px;
    }*/
    ._head-search-nv i {
        position: absolute;
        top: 12px;
        left: 10px;
        font-size: 14px;
        color: #bdbdbd;
    }
    .gr-list-nv {
        padding: 5px;
        padding-bottom: 15px;
        background: white
    }
    ._list-sl-nv ul li p {
        padding: 0px;
        margin: 0px;
        color: #777;
    }
        ._list-sl-nv ul li p:first-child {
            font-weight: bold;
            color: #1d1d1d;
        }
    ._list-sl-nv ul {
        max-height: 400px;
    }
    .tr-newprice {
        width: 150px;
    }
    #modalChonNhomHangHoa .modal-lg {
        width: 540px;
    }
    ._chiet-khau-search-l button {
        padding: 5px !important;
        position: absolute;
        left: 294px;
        top: 0;
        width: 36px;
        height: 30px !important;
        background: var(--color-button);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
        ._chiet-khau-search-l button i {
            color: white;
            font-size: 18px;
            position: absolute;
            top: 7px;
            right: 8px;
        }
    ._table-input tbody tr, ._table-input tbody tr td {
        border: none;
    }
    ._table-input tbody .tr-c td input:first-child, ._table-input tbody .tr-c {
        background: white !important;
        border-bottom: 1px solid #eee
    }
    .table-chiet-khau .fa-user, .table-chiet-khau .fa-eye {
        color: var(--color-main);
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tr-l {
        display: none;
    }
    .popup-chiet-khau .remove-popup {
        float: right;
        margin-top: -7px;
    }
    .header-filter {
        margin-top: 0px;
    }
    .tr-active td {
        background: #f5f5f5;
    }
    #theohoadon h5 {
        color: var(--color-main);
        font-weight: bold;
    }
    .tr-l {
        background: white !important;
    }
    .td-2c {
        background: white !important;
        border-bottom: 1px solid #eee !important;
    }
    .tr-2n-active {
        background: #f9f9f9 !important;
        border-left: 1px solid var(--color-main) !important;
    }
    .tr-c.tr-2n-active td {
        border-top: 1px solid var(--color-main) !important
    }
    ._list-sl-nv ul li:hover {
        background: #efecdf;
    }
</style>
<div class="op-container">
    <div class="container-fluid nopadding">
        <div class="col-left">
            <div class=" op-filter filter-left-report">
                <section class="op-filter-body">
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/report-loaibaocao.png"> Loại báo cáo
                        </h3>
                        <aside class="op-filter-container">
                            <ul class="chose_kieubang ul-radius" style="padding-left: 0px !important">
                                <li>
                                    @*<a href="javascript:void(0)" >*@
                                        <input type="radio" name="kieubang" value="1"  data-bind="checked: LoaiChietKhau" id="chietKhauTheoDichVu">
                                        <label for="chietKhauTheoDichVu">Theo hàng hóa - dịch vụ</label>
                                    @*</a>*@
                                </li>
                                <li>
                                    @*<a href="javascript:void(0)" >*@
                                        <input type="radio" name="kieubang" value="2" data-bind="checked: LoaiChietKhau" id="chietKhauTheoHoaDon">
                                        <label for="chietKhauTheoHoaDon">Theo hóa đơn</label>
                                    @*</a>*@
                                </li>
                                <li>
                                    @*<a href="javascript:void(0)" >*@
                                        <input type="radio" name="kieubang" value="3"  data-bind="checked: LoaiChietKhau" id="chietKhauTheoDoanhThu">
                                        <label for="chietKhauTheoDoanhThu">Theo doanh thu - thực thu</label>
                                    @*</a>*@
                                </li>
                            </ul>
                        </aside>
                    </article>
                    <article class="boxLeft" data-bind="visible: LoaiChietKhau() == 3">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/expire/icon-02.png" height="14"> Loại nhân viên áp dụng
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuRadio">
                                <div class="form-group">
                                    <label style="width:auto">
                                        <input type="radio" value="0" data-bind="checked: CheckLoaiNVApDung" name="loaiNVapdung"> Tất cả
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label style="width:auto">
                                        <input type="radio" value="1" data-bind="checked: CheckLoaiNVApDung" name="loaiNVapdung"> Nhân viên bán hàng
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label style="width:auto">
                                        <input type="radio" value="2" data-bind="checked: CheckLoaiNVApDung" name="loaiNVapdung"> Nhân viên tư vấn - thực hiện
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label style="width:auto">
                                        <input type="radio" value="3" data-bind="checked: CheckLoaiNVApDung" name="loaiNVapdung"> Nhân viên lập hóa đơn
                                    </label>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft" data-bind="visible: LoaiChietKhau() == 3">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/thoigian.png" height="14"> Trạng thái
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuRadio">
                                <div class="form-group">
                                    <label style="width:auto">
                                        <input type="radio" value="0" data-bind="checked: TrangThaiConHan" name="trangthai"> Tất cả
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label style="width:auto">
                                        <input type="radio" value="1" data-bind="checked: TrangThaiConHan" name="trangthai"> Còn hạn
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label style="width:auto">
                                        <input type="radio" value="2" data-bind="checked: TrangThaiConHan" name="trangthai"> Hết hạn
                                    </label>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft" data-bind="visible: LoaiChietKhau() == 1">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/nhomkhach-black.png">    Nhân viên chưa cài đặt
                        </h3>
                        <aside class="op-filter-container">
                            <div class="_chon-nhan-vien">
                                <div class="floatleft" id="el_NVien" style="position:relative">
                                    <input data-toggle="dropdown" type="text" class="form-control ui-autocomplete-input" id="txtSearchNV" autocomplete="off"
                                           v-model="query" v-on:keyup="submit" onfocusout="HideLostFocust()" placeholder="Chọn nhân viên" onclick="this.select()">
                                    <ul id="showseach" class="selec-person dropdown-menu floatleft" hidden>
                                        <li class="list-search " v-for="item of searchResult" v-on:click="click(item)">
                                            <div class="floatleft">
                                                <div class="floatleft">
                                                    <span> Mã NV: </span>{{ item.MaNhanVien }}<span></span>
                                                </div>
                                                <div class="floatleft">
                                                    <span class="bold">{{ item.TenNhanVien }}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                        <article class="boxLeft" data-bind="visible: LoaiChietKhau() == 1">
                            <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                                <img src="/Content/images/icon/nhomkhach-black.png">    Nhân viên đã cài đặt
                            </h3>
                            <aside class="op-filter-container">
                                <div class="floatleft gr-list-nv nopadding">
                                    <div class=" floatleft">
                                        <input type="text" class="form-control " placeholder="Tìm kiếm nhân viên..." autocomplete="off"
                                               data-bind="value: searchNVienChosed, valueUpdate:'afterkeydown'">
                                    </div>
                                    <div class=" floatleft" style="overflow-x:hidden;overflow-y:scroll; max-height:400px">
                                        <ul data-bind="foreach: ListNhanVienChosed_Computed">
                                            <li style="padding:5px 0; border-bottom:1px solid #Ccc" class="floatleft"
                                                data-bind=" style:{background: $root.selectedNhanVien() == ID?'#efecdf':''}">
                                                <div class="flex flex-row flex-between floatleft"
                                                     data-bind="click: $parent.ChoseNhanVien"
                                                     style="cursor:pointer">
                                                    <div style="max-width:calc(100% - 30px)">
                                                        <div class="floatleft"> <span data-bind="text: TenNhanVien"></span></div>
                                                        <div class="floatleft">
                                                            <span> Mã NV:   <span data-bind="text: MaNhanVien"></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </article>
                    </article>
                    <article class="boxLeft" data-bind="visible: LoaiChietKhau() == 1">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/Iconbanhanggg-03.png" /> Nhóm hàng
                        </h3>
                        <aside class="op-filter-container" style="overflow:auto; max-height:500px">
                            <div class="seach-nhomhang">
                                <i class="fa fa-search" style="display:inline-block"></i>
                                <input type="text" class="seach-nhomhang" id="txtSearchNhomHH"
                                       data-bind="value: txtSearchNhomHang" placeholder="Gõ enter để tìm kiếm nhóm" style="display:inline-block; width:calc(100% - 20px) " />
                            </div>
                            <div class="treename" data-bind="click: FilterNhomHang_ClickAll">
                                TẤT CẢ
                            </div>
                            <div id="treeProductGroup"></div>
                        </aside>
                    </article>
                </section>
                <div class="op-filter-footer">
                    <button type="button" class="btn btn-link" style="color:red" onclick="closeFilter()">Hủy</button>
                    <button type="button" class="btn btn-link" onclick="collapseSubFilter(this)">
                        <span>Thu gọn</span>
                    </button>
                    <button type="button" class="btn btn-link" style="display:none" onclick="expandSubFilter(this)">
                        <span>Mở rộng</span>
                    </button>
                    <button type="button" class="btn btn-main kv2Btn" onclick="closeFilter()">Hoàn tất</button>
                </div>
            </div>
        </div>
        <div class="col-right">
            <div class="op-header">
                <div class="op-header-title">
                    <h2 class="pull-left title " id="hdDiscount">@banhang24.Resources.ResourceTexts.Setup / Hoa hồng theo hàng hóa - dịch vụ </h2>
                </div>
            </div>
            <div class="content-table possible-table-tab">
                <div class="repost header-report_Tr nopadding">
                    <div class="col-md-12  header-report">
                    </div>
                </div>
                <div class="tab-content tab-show tab-content-news nopadding">
                    <div class="tab-pane active tab" id="hanghoadichvu">
                        <div class="col-md-12 nopadding ">
                            <div class="op-header" style="width:100%">
                                <div class="flex flex-between">
                                    <div class="btn-header-filter btnMenu left-filter  pull-left header-button">
                                        <div class="seach-price search-left _chiet-khau-search-l">
                                            <input type="text" class=" form-control" autocomplete="off" id="txtAutoHangHoa" onkeypress="keypressEnterSelected(event)"
                                                   placeholder="Thêm hàng hóa, dịch vụ vào chiết khấu nhân viên"
                                                   data-bind="JqAutoHangHoa: { source: HangHoas_seach, value: selectedHH,
                                                         inputProp: 'MaHangHoa', labelProp: 'TenHangHoa', valueProp: 'MaHangHoa',  template: 'rowChiTiet', filter: filterSeach  }" />
                                            <script id="rowChiTiet" type="text/html">
                                                @Html.Partial("~/Views/Component/_ko-ListSearchShortHangHoa.cshtml")
                                            </script>
                                            <button type="button" class="btn" data-bind="click: ShowModal_NhomHangHoa">
                                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="_chiet-khau-btn-search">
                                            <button class="btn btn-main btn-group btnImport no-magrin" type="submit" data-bind="click: ShowModalImport">
                                                <img src="/Content/images/icon/right2.png"> <span>@banhang24.Resources.ResourceTexts.ImportFile</span>
                                            </button>
                                            <button class="btn btn-main " data-bind="click: ExportExcel"> <i class="fa fa-file-excel-o"></i><span>Xuất Excel</span></button>
                                            <button class="btn btn-main btn-sao-chep"
                                                    data-bind="style: { display: $root.DiscountDetail_Product().length == 0 ? 'none' : 'table-cell' }, click: ShowModalSaoChep">
                                                <i class="fa fa-copy"></i><span>Sao chép</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="op-search">
                                            <input type="text" placeholder="Tìm kiếm theo mã, tên hàng hóa" class="form-control" id="text_MaHangHoa" />
                                            <button type="button" class=" op-search-button" data-bind="click: ClickIconSearch">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                        <button class="btn btn-main op-filter-toggle" onclick="showFilter()" title="Hiển thị bộ lọc">
                                            <i class="material-icons">sort</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-res table-frame table-show ">
                                <table class=" table-striped table-hover table-h table-chiet-khau" id="tableTheoHangHoa">
                                    <thead>
                                        <tr>
                                            <th>Nhóm hàng</th>
                                            <th class="mahang">Mã hàng</th>
                                            <th class="tenhang">Tên hàng</th>
                                            <th class="chietkhau tr-newprice">Hoa hồng thực hiện</th>
                                            <th class="text-center">Hoa hồng thực hiện<br /> (Theo yêu cầu)</th>
                                            <th class="tuvan tr-newprice">Hoa hồng tư vấn</th>
                                            <th class="tr-newprice">Hoa hồng bán gói dịch vụ</th>
                                            <th class="text-center">Giá bán</th>
                                            <th style="width:40px;" data-bind="click: DeleteAll_DiscountDetailProduct">
                                                <i class="fa fa-times"
                                                   data-bind=""></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: DiscountDetail_Product">
                                        <tr>
                                            <td data-bind="text: TenNhomHangHoa"></td>
                                            <td data-bind="text: MaHangHoa"></td>
                                            <td>
                                                <span data-bind="text: TenHangHoa"></span>
                                                <span data-bind="text: ThuocTinh_GiaTri" style="color:#ff6a00"></span>
                                                <span data-bind="text: TenDonViTinh" style="color:#0094ff"></span>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control newprice" style="background-color:white" readonly
                                                       data-bind="value: LaPTChietKhau == 1? formatNumber3Digit(ChietKhau) + ' %': formatNumber3Digit(ChietKhau) +  ' VNĐ', attr: {id: '_CK_' + ID},
                                               click: $parent.ShowDiv_ThucHien">
                                                <div class="callprice  ">
                                                    <div class="form-popup-chiet-khau _theo-hh-thuc-hien">
                                                        <label>
                                                            Hoa hồng thực hiện =
                                                        </label>
                                                        <div class="flex">
                                                            <input type="text" class="form-control number-price" onkeypress="return fomartNumberDiscount(event,this)" onclick="this.select()"
                                                                   data-bind="value: formatNumber3Digit(ChietKhau), attr:{id: 'number_' + ID},
                                                       event:{keyup: function(){$root.EditChietKhau_Product($data, 1)}}">
                                                            <div class="plus gb" data-bind="attr: {id : 'vnd_' + ID}, click: function(){$parent.ClickVND_ThucHien(false, $data) } ">VNĐ</div>
                                                            <div class="plus" data-bind="attr: {id : 'pt_' + ID}, click: function(){$parent.ClickVND_ThucHien(true, $data) }">%</div>
                                                        </div>
                                                    </div>
                                                    <p class="floatleft form-check-left">
                                                        <input type="checkbox" value="true" data-bind="attr:{id: 'cbapdung_' + ID}">
                                                        <label class=" font-w-400 ft-italic lb-check-note-ck">
                                                            Áp dụng công thức cho <strong data-bind="text: $root.CountDiscountProduct_byNhom">10</strong> sản phẩm, dịch vụ trong nhóm
                                                            <span data-bind="text: $root.DiscountProduct_GroupNameChosing">ABC</span>
                                                        </label>
                                                    </p>
                                                    <div class="pull-right" data-bind="click: $root.ApplyChietKhau_ThucHien_ByNhom">
                                                        <a href="javascript:void(0);" class="cantrol">Áp dụng</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control newprice" style="background-color:white" readonly
                                                       data-bind="value: LaPTYeuCau == 1? formatNumber3Digit(YeuCau) + ' %': formatNumber3Digit(YeuCau) +  ' VNĐ', attr: {id: '_YC_' + ID},
                                               click: $parent.ShowDiv_YeuCau">
                                                <div class="callprice  ">
                                                    <p class="floatleft form-check-left no-magrin" hidden>
                                                        <input type="checkbox" class="_check-change-gia-ban"
                                                               data-bind="value: $root.CKYeuCau_ApplyGiaBan, checked: $root.CKYeuCau_ApplyGiaBan()==true, event:{change: $root.CKYeuCau_ChangeLoaiApDung}">
                                                        <label class="font-w-400 lb-check-note-ck">Tính theo giá bán</label>
                                                    </p>
                                                    <div class="form-popup-chiet-khau _theo-hh-thuc-hien">
                                                        <label class="lblYeuCau">
                                                            Hoa hồng thực hiện theo yêu cầu =
                                                        </label>
                                                        <div class="callprice-right pop-input-chiet-khau">
                                                            <input type="text" class="form-control number-price" onkeypress="return fomartNumberDiscount(event, this)"
                                                                   data-bind="attr: {id : 'number4_' + ID}, value: formatNumber3Digit(YeuCau),
                                                                   event:{keyup: function(){$root.EditChietKhau_Product($data, 4)}}">
                                                            <div class="plus gb" data-bind="attr: {id : 'vnd4_' + ID}, click: function(){$parent.clickVND_YeuCau(false, $data) } ">VNĐ</div>
                                                            <div class="plus" data-bind="attr: {id : 'pt4_' + ID}, click: function(){$parent.clickVND_YeuCau(true, $data) }">%</div>
                                                        </div>
                                                    </div>
                                                    <p class="floatleft form-check-left">
                                                        <input type="checkbox" value="true" data-bind="attr:{id: 'cbapdung4_' + ID}">
                                                        <label class="font-w-400 ft-italic lb-check-note-ck">
                                                            Áp dụng công thức cho <strong data-bind="text: $root.CountDiscountProduct_byNhom">10</strong> sản phẩm, dịch vụ trong nhóm
                                                            <span data-bind="text: $root.DiscountProduct_GroupNameChosing">ABC</span>
                                                        </label>
                                                    </p>
                                                    <div class="pull-right" data-bind="click: $root.ApplyChietKhau_YeuCau_ByNhom">
                                                        <a href="javascript:void(0);" class="cantrol">Áp dụng</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control newprice" style="background-color:white" readonly
                                                       data-bind="value: LaPTTuVan == 1? formatNumber(TuVan) + ' %': formatNumber(TuVan) +  ' VNĐ', attr: {id: '_TV_' + ID},
                                               click: $parent.ShowDiv_TuVan">
                                                <div class="callprice  ">
                                                    <div class="form-popup-chiet-khau _theo-hh-thuc-hien">
                                                        <label>
                                                            Hoa hồng tư vấn =
                                                        </label>
                                                        <div class="callprice-right pop-input-chiet-khau">
                                                            <input type="text" class="form-control number-price" onkeypress="return fomartNumberDiscount(event,this)" onclick="this.select()"
                                                                   data-bind="value: formatNumber(TuVan), attr:{id: 'number2_' + ID},
                                                       event:{keyup: function(){$root.EditChietKhau_Product($data, 2)}} ">
                                                            <div class="plus gb" data-bind="attr: {id : 'vnd2_' + ID}, click: function(){$parent.ClickVND_TuVan(false, $data) }">VNĐ</div>
                                                            <div class="plus" data-bind="attr: {id : 'pt2_' + ID}, click: function(){$parent.ClickVND_TuVan(true, $data) }">% </div>
                                                        </div>
                                                    </div>
                                                    <p class="floatleft form-check-left">
                                                        <input type="checkbox" value="true" data-bind="attr:{id: 'cbapdung2_' + ID}">
                                                        <label class="font-w-400 ft-italic lb-check-note-ck">Áp dụng công thức cho <strong data-bind="text: $root.CountDiscountProduct_byNhom">10</strong> sản phẩm, dịch vụ trong nhóm <span data-bind="text: $root.DiscountProduct_GroupNameChosing">ABC</span></label>
                                                    </p>
                                                    <div class="pull-right" data-bind="click: $root.ApplyChietKhau_TuVan_ByNhom">
                                                        <a href="javascript:void(0);" class="cantrol">Áp dụng</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control newprice" style="background-color:white" readonly
                                                       data-bind="value: LaPTBanGoi == 1? BanGoi + ' %': formatNumber(BanGoi) +  ' VNĐ', attr: {id: '_BG_' + ID},
                                               click: $parent.ShowDiv_BanGoi">
                                                <div class="callprice  ">
                                                    <div class="form-popup-chiet-khau _theo-hh-thuc-hien">
                                                        <label>
                                                            Hoa hồng bán gói dịch vụ =
                                                        </label>
                                                        <div class="callprice-right pop-input-chiet-khau">
                                                            <input type="text" class="form-control number-price" onkeypress="return fomartNumberDiscount(event,this)"
                                                                   data-bind="value: formatNumber(BanGoi), attr:{id: 'number1_' + ID},
                                                       event:{keyup: function(){$root.EditChietKhau_Product($data, 3)}}">
                                                            <div class="plus gb" data-bind="attr: {id : 'vnd1_' + ID}, click: function(){$parent.clickVND_BanGoi(false, $data) }">VNĐ</div>
                                                            <div class="plus" data-bind="attr: {id : 'pt1_' + ID}, click: function(){$parent.clickVND_BanGoi(true, $data) }">%</div>
                                                        </div>
                                                    </div>
                                                    <p class="floatleft form-check-left">
                                                        <input type="checkbox" value="true" data-bind="attr:{id: 'cbapdung1_' + ID}">
                                                        <label class="font-w-400 ft-italic lb-check-note-ck">
                                                            Áp dụng công thức cho
                                                            <strong data-bind="text: $root.CountDiscountProduct_byNhom">10</strong>
                                                            sản phẩm, dịch vụ trong nhóm
                                                            <span data-bind="text: $root.DiscountProduct_GroupNameChosing">ABC</span>
                                                        </label>
                                                    </p>
                                                    <div class="pull-right" data-bind="click: $root.ApplyChietKhau_BanGoi_ByNhom">
                                                        <a href="javascript:void(0);" class="cantrol">Áp dụng</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center" data-bind="text: formatNumber3Digit(GiaBan)"></td>
                                            <td>
                                                <a href="javascript:void(0)"
                                                   data-bind="click: $parent.Delete_DiscountDetailProduct"><i class="fa fa-times remove-tr" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot data-bind="visible: DiscountDetail_Product().length == 0 ">
                                        <tr>
                                            <td class="bg12 bhma text-center" style="background: #F2EED6" colspan="14">
                                                <i>Không có dữ liệu</i>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="page" data-bind="visible: DiscountDetail_Product().length > 0 ">
                                        <div class="flex flex-row">
                                            <label>Số bản ghi:</label>
                                            <select id="SelecttedPage" class="form-control seleted-page" data-bind="value: pageSize,
                                                options: pageSizes, event: {change: ResetCurrentPage}"></select>
                                        </div>
                                            <div class="flex flex-end">
                                                <a href="javascript:void(0)" data-bind="click: $root.StartPage, visible: VisibleStartPage"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" data-bind="click: $root.BackPage, visible: VisibleStartPage "><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                                <ul data-bind="foreach: PageList_Display">
                                                    <li>
                                                        <a href="javascript:void(0)" data-bind="text: pageNumber, click: $root.GoToPage, css: $root.GetClass($data)"></a>
                                                    </li>
                                                </ul>
                                                <a href="javascript:void(0)" data-bind="click: $root.GoToNextPage, visible: VisibleEndPage "><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" data-bind="click: $root.EndPage, visible: VisibleEndPage "><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                                <div class="total-recos">
                                                    Hiển thị <span data-bind="text: fromItem"></span> - <span data-bind="text: toItem"></span> trên tổng số
                                                    <span data-bind="text: TotalRecord"></span> hàng hóa chiết khấu
                                                </div>
                                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane tab" id="theohoadon">
                        <div class="col-md-12 nopadding header-filter">
                            <div class="btn-header-filter   pull-left">
                                <button type="button" id="themmoihoadon" class="btn btn-main dropdown-toggle   btn-main" data-bind="click: HoaHongHD_ThemMoi" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus"></i><font>Thêm mới</font>
                                </button>
                            </div>
                            <div class="flex flex-end">
                                <button class="btn btn-main op-filter-toggle" onclick="showFilter()" title="Hiển thị bộ lọc">
                                    <i class="material-icons">sort</i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 nopadding">
                            <div class="table-res table-frame popup-chiet-khau tablescroll">
                                <table class="table-striped  table-h table-chiet-khau _table-input" id="tableTheoHoaDon">
                                    <thead>
                                        <tr>
                                            <th class="tr-newprice">Hoa hồng</th>
                                            <th>Chứng từ áp dụng</th>
                                            <th>Ghi chú</th>
                                            <th style="width:40px"></th>
                                            <th style="width:40px"></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: HoaHongHD_Table">
                                        <tr class="td-2c">
                                            <td class="td-c">
                                                <span data-bind="text: LaPhanTram?GiaTriChietKhau: formatNumber(GiaTriChietKhau)"></span>&nbsp;
                                                <span data-bind="text: LaPhanTram?'%':''"></span>&nbsp;
                                                <span data-bind="text: LaPhanTram?Text_TinhChietKhauTheo:''"></span>
                                            </td>
                                            <td class="td-c">
                                                <ul class="list-sl" data-bind="foreach: ListChungTuApDung">
                                                    <li class="sp-sl">
                                                        <span data-bind="text: Value"></span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="td-c" data-bind="text: GhiChu"></td>
                                            <td>
                                                <a href="javascript:void(0)" data-bind="click: $parent.HoaHongHD_ShowFormUpdate" title="Sửa đổi">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" data-bind="click: $parent.HoaHongHD_Remove" title="Xóa">
                                                    <i class="fa fa-times remove-tr" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="tr-l">
                                            <td colspan="5">
                                                <div class="table-res">
                                                    <table class="table-striped table">
                                                        <thead>
                                                            <tr>
                                                                <th>Mã nhân viên</th>
                                                                <th>Nhân viên</th>
                                                                <th class="text-center">Ngày sinh</th>
                                                                <th>Bộ phận</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody data-bind="foreach: NhanViens">
                                                            <tr>
                                                                <!--TenNhanVien_GC = TenPhongBan-->
                                                                <td data-bind="text: MaNhanVien">NV001</td>
                                                                <td data-bind="text: TenNhanVien"></td>
                                                                <td class="text-center" data-bind="text: TenNhanVien_CV"></td>
                                                                <td data-bind="text: Remove_LastComma(TenNhanVien_GC)"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="page">
                                        <div class="flex flex-row">
                                            <label>Số bản ghi:</label>
                                            <select class="form-control seleted-page" data-bind="value: pageSize,
                                                options: pageSizes, event: {change: ResetCurrentPageHD}"></select>
                                        </div>
                                    <div class="flex flex-end">
                                        <a href="javascript:void(0)" data-bind="click: $root.StartPageHD, visible: VisibleStartPageHD"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-bind="click: $root.BackPageHD, visible: VisibleStartPageHD "><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                        <ul data-bind="foreach: PageList_DisplayHD">
                                            <li>
                                                <a href="javascript:void(0)" data-bind="text: pageNumber, click: $root.GoToPageHD, css: $root.GetClassHD($data)"></a>
                                            </li>
                                        </ul>
                                        <a href="javascript:void(0)" data-bind="click: $root.GoToNextPageHD, visible: VisibleEndPageHD "><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-bind="click: $root.EndPageHD, visible: VisibleEndPageHD "><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                        <div class="total-recos">
                                            Hiển thị <span data-bind="text: FromItemHD"></span> - <span data-bind="text: ToItemHD"></span> trên tổng số
                                            <span data-bind="text: TotalRecordHD"></span> hàng hóa chiết khấu
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane tab" id="doanhthuthucthu">
                        <div class="col-md-12 nopadding header-filter">
                            <div class="btn-header-filter   pull-left">
                                <button type="button" id="themmoithucthu" class="btn btn-main dropdown-toggle   btn-main" data-bind="click: HoaHongDoanhThu_ThemMoi" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus"></i><font>Thêm mới</font>
                                </button>
                            </div>
                            <div class="flex flex-end">
                                <button class="btn btn-main op-filter-toggle" onclick="showFilter()" title="Hiển thị bộ lọc">
                                    <i class="material-icons">sort</i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 nopadding">
                            <div class="table-res table-frame popup-chiet-khau tablescroll">
                                <table class="table-striped  table-h table-chiet-khau _table-input" id="tableTheoHoaDon">
                                    <thead>
                                        <tr>
                                            <th>Loại nhân viên áp dụng</th>
                                            <th>Hình thức</th>
                                            <th>Từ</th>
                                            <th>Đến</th>
                                            <th>Ghi chú</th>
                                            <th style="width:40px"></th>
                                            <th style="width:40px"></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: HoaHongDoanhThu_Table">
                                        <tr class="tr-c">
                                            <td class="td-c" data-bind="text: Text_LoaiNhanVienApDung"></td>
                                            <td class="td-c">
                                                <span>Theo</span>
                                                <span data-bind="text: Text_TinhChietKhauTheo"></span>
                                            </td>
                                            <td class="td-c" data-bind="text: moment(ApDungTuNgay,'YYYY-MM-DD').format('DD/MM/YYYY')"></td>
                                            <td class="td-c" data-bind="text: ApDungDenNgay==null?'': moment(ApDungDenNgay,'YYYY-MM-DD').format('DD/MM/YYYY')"></td>
                                            <td class="td-c" data-bind="text: GhiChu"></td>
                                            <td>
                                                <a href="javascript:void(0)" data-bind="click: $parent.HoaHongDoanhThu_ShowFormUpdate">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" data-bind="click: $parent.HoaHongDoanhThu_Remove">
                                                    <i class="fa fa-times remove-tr" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="tr-l">
                                            <td colspan="7">
                                                <div class=" tab-nhan-su-with100 tab-news-modal tab-chiet-khau-new">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a data-toggle="tab" data-bind=" attr: { href: '#tthoahong1'+ ID }">Thông tin hoa hồng</a></li>
                                                        <li><a data-toggle="tab" data-bind=" attr: { href: '#nvapdung1'+ ID }" aria-expanded="false">Nhân viên áp dụng</a></li>
                                                    </ul>
                                                    <div class="tab-content tab-content-next">
                                                        <div class="tab-pane active" data-bind="attr: { id: 'tthoahong1'+ ID }">
                                                            <div class="table-res">
                                                                <table class="table-striped table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Áp dụng từ</th>
                                                                            <th data-bind="text: moment(ApDungTuNgay,'YYYY-MM-DD').format('DD/MM/YYYY')"></th>
                                                                            <th>Áp dụng đến</th>
                                                                            <th data-bind="text: ApDungDenNgay==null?'': moment(ApDungDenNgay,'YYYY-MM-DD').format('DD/MM/YYYY')"></th>
                                                                            <th style="width:40px"></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody data-bind="foreach: DoanhThuChiTiet">
                                                                        <tr>
                                                                            <td>Từ</td>
                                                                            <td data-bind="text: formatNumber(DoanhThuTu)"> - </td>
                                                                            <td>Đến</td>
                                                                            <td data-bind="text: formatNumber(DoanhThuDen)"></td>
                                                                            <td>
                                                                                <span data-bind="text: LaPhanTram?GiaTriChietKhau: formatNumber(GiaTriChietKhau)"></span>
                                                                                <span data-bind="text: LaPhanTram?'%':''"></span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane " data-bind="attr: { id: 'nvapdung1'+ ID }">
                                                            <div class="table-res" style="overflow:auto; max-height:500px">
                                                                <table class="table-striped table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Mã nhân viên</th>
                                                                            <th>Tên nhân viên</th>
                                                                            <th class="text-center">Năm sinh</th>
                                                                            <th>Bộ phận</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody data-bind="foreach: NhanViens">
                                                                        <tr>
                                                                            <td data-bind="text: MaNhanVien"></td>
                                                                            <td data-bind="text: TenNhanVien"></td>
                                                                            <td class="text-center" data-bind="text: TenNhanVien_CV"></td>
                                                                            <td data-bind="text: Remove_LastComma(TenNhanVien_GC)"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="page">
                                        <div class="flex flex-row">
                                            <label>Số bản ghi:</label>
                                            <select class="form-control seleted-page" data-bind="value: pageSize,
                                                options: pageSizes, event: {change: ResetCurrentPageHD}"></select>
                                        </div>
                                    <div class="flex flex-end">
                                        <a href="javascript:void(0)" data-bind="click: $root.StartPageHD, visible: VisibleStartPageHD"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-bind="click: $root.BackPageHD, visible: VisibleStartPageHD "><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                        <ul data-bind="foreach: PageList_DisplayHD">
                                            <li>
                                                <a href="javascript:void(0)" data-bind="text: pageNumber, click: $root.GoToPageHD, css: $root.GetClassHD($data)"></a>
                                            </li>
                                        </ul>
                                        <a href="javascript:void(0)" data-bind="click: $root.GoToNextPage, visible: VisibleEndPageHD "><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-bind="click: $root.EndPage, visible: VisibleEndPageHD "><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                        <div class="total-recos">
                                            Hiển thị <span data-bind="text: FromItemHD"></span> - <span data-bind="text: ToItemHD"></span> trên tổng số
                                            <span data-bind="text: TotalRecordHD"></span> hàng hóa chiết khấu
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="modalChonNhomHangHoa">
    <div class=" modal-dialog draggable modal-lg ">
        @Html.Partial("_ChonNhomHangHoaPartial");
    </div>
</div>
<div id="myModalinport" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content  ui-draggable">
            <div class="modal-header ui-draggable-handle">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">Nhập hàng hóa từ File dữ liệu</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 printinport">
                        <div class="floatleft excel-file nopadding">
                            <div>
                                <h5>Nhập hàng hóa từ file Excel - <a href="#" class="link-text" style="float:none;"> Hướng dẫn </a></h5>
                                <div class="title-inport ">
                                    Tải về File mẫu: <span class="blue" data-bind="click: DownloadFileTeamplateXLS"> Excel 2003</span>  hoặc<span class="blue"
                                                                                                                                                  data-bind="click: DownloadFileTeamplateXLSX">bản cao hơn</span>
                                </div>
                            </div>
                            <div class="choose-file">
                                <span class="btn btn-import btn-file form-control no-magrin ">
                                    Chọn file dữ liệu
                                    <input type='file' id="imageUploadForm" name="image"
                                            data-bind="event:{ change: SelectedFileImport }"
                                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                </span>  
                            </div>
                        </div>
                        <div class="warning-content floatleft NoteImport">
                            <h5 class="title-alert"><i class="fa fa-warning"></i> Lưu ý</h5>
                            <p>- Bạn vui lòng không thay đổi định dạng hàng cột theo file Excel mẫu.</p>
                            <p>- Giá trị chiết khấu hoa hồng không lớn hơn giá trị sản phẩm.</p>
                        </div>
                        <div class="padingbottom25" style="padding-top: 130px;">
                            <div class="list-file">
                                <ul>
                                    <li class="filterFileSelect">
                                        <span data-bind="text: fileNameExcel"></span>
                                        <div class="delete-file">
                                            <img src="/Content/images/icon/Iconthemmoi-17.png" class="deleteFile" data-bind="click: deleteFileSelect">
                                            <i class="fa fa-refresh red fa-lg refreshFile" aria-hidden="true" data-bind="click: refreshFileSelect"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="list-errorfile floatleft BangBaoLoi error-import">
                            <ul data-bind="foreach: loiExcel">
                                <li data-bind="text: DienGiai"></li>
                            </ul>
                        </div>
                        <div class="pull-right" style="margin-bottom: 15px;">
                            <button class="btn btn-main btnImportExcel" id="saveImageFolder" data-bind="click: importChietKhau"><i class="fa fa-floppy-o"></i> Thực hiện</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="modalCaiDatDoanhThu">
    <div class="modal-dialog draggable modal-lg modal-1024">
        @Html.Partial("_HoaHongDoanhThuPartial");
    </div>
</div>
<div class="modal fade in" id="modalCaiDatHoaDon">
    <div class="modal-dialog draggable modal-lg modal-1024">
        @Html.Partial("_HoaHongHoaDonPartial");
    </div>
</div>
@Html.Partial("_HoaHongSaoChepPartial")
<div class="modal fade" id="modalPopuplgDelete">
    <div class="modal-dialog draggable modal-md">
        @Html.Action("_modalDelete", new { area = "", Controller = "GiaoDich" })
    </div>
</div>
<script>
    //$('.chose_kieubang').on('click', 'li', function () {
    //    $(".chose_kieubang li").each(function (i) {
    //        $(this).find('a').removeClass('box-tab');
    //    });
    //    $(this).find('a').addClass('box-tab');
    //    var valThis = $(this).val();
    //    if (valThis === 1) {
    //        $('._nhan-vien-ap-dung').show();
    //        $('#hdDiscount').text('Cài đặt/ Hoa hồng theo hàng hóa dịch vụ');
    //    }
    //    else {
    //        $('._nhan-vien-ap-dung').hide();
    //        if (valThis == 2) {
    //            $('#hdDiscount').text('Cài đặt/ Hoa hồng theo hóa đơn');
    //        }
    //        else {
    //            $('#hdDiscount').text('Cài đặt/ Hoa hồng theo doanh thu - thực thu');
    //        }
    //    }
    //});
    $('#modalCaiDatDoanhThu').on('click', ' #treeviewHoaHong .icon-tree-li', function () {
        if ($(this).closest('a').next('ul').find('li').length > 0) {
            $(this).closest('a').next('ul').toggle();
        }
    });
    $('#modalCaiDatHoaDon').on('click', ' #treeviewHoaHong .icon-tree-li', function () {
        if ($(this).closest('a').next('ul').find('li').length > 0) {
            $(this).closest('a').next('ul').toggle();
        }
    });
    var heightold;
    var heigth;
    var setTop;
    $('#tableTheoHoaDon tbody').on('click', 'tr .td-c', function () {
        var index = ($(this).closest('tr').next('tr').index() + 1) / 3;
        setTop = 37 + parseInt(($(this).closest('tr').height() + 1) * (index - 1));
        var css = $(this).closest('tr').next('.tr-l').css('display');
        $(".tr-l").removeClass("ac-border");
        $(".tr-title").removeClass("ac-view-border");
        $(".td-c").removeClass("tr-2n-active");
        $('.tr-l').hide();
        $(".tr-title").removeClass('tr-active').hide();
        if (css === 'none') {
            $(this).closest('tr').next('.tr-l').toggle();
            $(this).closest('tr').next('.tr-l').addClass("ac-border");
            $(this).closest('tr').prev('.tr-title').addClass("ac-view-border");
            $(this).closest('tr').prev('.tr-title').toggle().addClass('tr-active');
            $(this).closest('tr').addClass('tr-2n-active');
            $(this).closest(' tr').closest('tbody').closest('table').closest('.table-res').removeClass('tablescroll');
            heightold = $(this).closest('tr').next('.tr-l').height();
            heigth = parseInt($(this).closest('tr').height()) + heightold + 26;
            $('.line-right').height(heigth).css("margin-top", setTop + "px");
        } else {
            $('.line-right').height(0).css("margin-top", "0px");
            if (!$(this).closest(' tr').closest('  tbody').closest('table').closest('.table-res').hasClass('tablescroll')) {
                $(this).closest(' tr').closest('  tbody').closest('table').closest('.table-res').addClass('tablescroll');
            }
        }
    });
    $('#tableTheoHoaDon tbody').on('click', '.tr-title td', function () {
        $(".tr-l").removeClass("ac-border");
        $(".tr-title").removeClass("ac-view-border");
        $(".td-2c").removeClass("tr-2n-active");
        $('.tr-l').hide();
        $(".tr-title").removeClass('tr-active').hide();
        $('.line-right').height(0).css("margin-top", "0px");
        if (!$(this).closest(' tr').closest('  tbody').closest('table').closest('.table-res').hasClass('tablescroll')) {
            $(this).closest(' tr').closest('  tbody').closest('table').closest('.table-res').addClass('tablescroll');
        }
    });
    $('#tableTheoHangHoa tbody').on('click', 'tr td .newprice', function () {
        var css = $(this).next('.callprice').css('display');
        $('.callprice').hide();
        if (css === 'none') {
            $(this).next('.callprice').toggle();
        }
        $('.remove-popup').mouseup(function () {
            $('.callprice').hide();
        });
        $('.callprice').mouseup(function () {
            return false
        });
        $(".newprice").mouseup(function () {
            return false
        });
        $(document).mouseup(function () {
            $('.callprice').hide();
        });
    });
    function showfilter() {
        $(".filter-left-report").css("display", "block");
    };
    //$('.tab-content-news  ').on('change', '#tableTheoHangHoa tbody tr td  .callprice p ._check-change-gia-ban', function () {
    //    if ($(this).is(':checked')) {
    //        $(this).closest('p').next('._theo-hh-thuc-hien').hide();
    //        $(this).closest('p').next('._theo-hh-thuc-hien').next('._theo-gia-ban').show();
    //    }
    //    else {
    //        $(this).closest('p').next('._theo-hh-thuc-hien').show();
    //        $(this).closest('p').next('._theo-hh-thuc-hien').next('._theo-gia-ban').hide();
    //    }
    //})
    $('.table-frame').on('show.bs.callprice', function () {
        /*$('.table-frame').css("overflow", "inherit");*/
        console.log('hide');
    });
</script>
<script src="@Scripts.Url("~/bundles/CaiDatHoaHong")" type="text/javascript"></script>
