
@using Model_banhang24vn.Common
@{
    ViewBag.Title = "Khách hàng liên hệ";
    Layout = "~/Areas/AdminPage/Views/Shared/_Layout.cshtml";
    var keyHoTen = (int)GridPagedingHellper.columContact.Name;
    var keyPhone = (int)GridPagedingHellper.columContact.Phone;
    var keyEmail = (int)GridPagedingHellper.columContact.Email;
    var keyAdress = (int)GridPagedingHellper.columContact.Adress;
    var keyNote = (int)GridPagedingHellper.columContact.Note;
    var keyCreateDate = (int)GridPagedingHellper.columContact.CreateDate;
}
@section scripts {
    @Scripts.Render("~/bundles/Knockout")
    <script src="~/Assets/js/Admin/Contact.js"></script>
}

<div class="right_col">
    <h3>Danh sách khách hàng liên hệ</h3>
    <div class="panel panel-default" style=" height: 100%;">
        <div class="panel-heading" style="height: 60px;">
            <div class="pull-left">
                <input type="text" class="form-control" data-bind="value:koSearch ,event: { keyup: SearchGrid }" placeholder="Tìm kiếm..">
            </div>
            <div class="pull-right">
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th data-id="@keyHoTen" style="width:15%">Họ tên</th>
                            <th data-id="@keyPhone" style="width:10%">SĐT</th>
                            <th data-id="@keyEmail" style="width:15%">Email</th>
                            <th data-id="@keyAdress" style="width:20%">Địa chỉ</th>
                            <th data-id="@keyNote" style="width:30%">Ý kiến</th>
                            <th data-id="@keyCreateDate">Ngày tạo</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: ListContact">
                        <tr>
                            <td data-bind="text: FullName"></td>
                            <td data-bind="text: Phone"></td>
                            <td data-bind="text: Email"></td>
                            <td data-bind="text: Address"></td>
                            <td data-bind="text: Note"></td>
                            <td data-bind="text:ConvertDate(CreateDate)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="width:100%">
                <ul class="pagination">
                    <li style="float: left; padding:6px 12px;" data-bind="text: PageItem">
                        Page 1 of 30000 (300000 items)

                    </li>
                    <li><a href="#" id="Previouspage" data-bind="click: ClickPrevious">&laquo;</a></li>
                    <li class="page-item">
                        <div class="page-link" style="float: left;width: 50px;">
                            <input type="text" data-bind="value: page, event: { keyup: netPageKeyup }" class="form-control" style="height:32px">
                        </div>
                    </li>
                    <li class="page-item"><span class="page-link"> /</span></li>
                    <li class="page-item"><span class="page-link" data-bind="text: pageCount"></span></li>
                    <li><a href="#" id="Nextpage" data-bind="click: ClickNext"> &raquo;</a></li>

                </ul>
                <div class="pull-right recost">
                    <span>Số bản ghi</span>
                    <select required="required" class="form-control" id="SelectedLimit">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>

                    </select>
                </div>

            </div>
        </div>
    </div>
</div>


