@using System.Web.Optimization
@using banhang24.AppCache
@{
    Layout = null;
}

<link rel="stylesheet" href="@Html.WriteRenderFile(Styles.Url("~/Content/CssFramework"))" />
<link rel="stylesheet" href="@Html.WriteRenderFile(Styles.Url("~/Content/Open24Css"))" />
<script src="@Html.WriteRenderFile(Scripts.Url("~/bundles/JsFramework"))" type="text/javascript"></script>

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Content/images/open24.vn.png" type="image/gif">
    <title>banhang24vn - Nhà bếp</title>
    <style>
        .title-ketchen span {
            font-size: 15px;
            font-weight: bold;
            display: inline-block;
            line-height: 50px;
            text-transform: uppercase;
            text-align: center;
            width: inherit;
        }

        .ketchen {
            background: var(--color-primary);
            color: black;
        }

        .title-ketchen {
            color: #fff;
            overflow: hidden;
            height: 50px;
            border-radius: 2px 2px 0 0;
            padding: 0 30px;
            background: var(--color-primary);
        }

        .wait-next-oll a i {
            font-size: 50px !important;
            margin: auto;
            top: 0;
            padding: 5px;
        }
    </style>
</head>
<body class="ketchen">
    <div class="w49-l pull-left">
        <div class="title-ketchen floatleft">
            <span class="pull-left">
                CHỜ CHẾ BIẾN
            </span>

            <input style="display:none" value="@ViewBag.cookieDonVi" id="txtDonVi_Kitchen" />
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="content-kitchen floatleft">

                    <ul class="playlist hidden">
                        <li audiourl="hu.mp3" artist="Artist 1"></li>

                    </ul>
                    <div id="wait-kitchent" class="controls" data-bind="foreach: ThucDonYC">
                        <table class='table'>
                            <tbody>
                                <tr>

                                    <td class=" tr-name-wait">
                                        <div class=" name-wait">
                                            <span data-bind="text: TenHangHoa" class="bold"></span>
                                            <span data-bind="text: '('+ GhiChu +')', visible: GhiChu!=='' && GhiChu!==null "></span>
                                            <div>
                                                <span data-bind="text: MaHoaDon">
                                                </span>
                                                &nbsp; &#45;&nbsp;
                                                <span data-bind="text: moment(ThoiGian).format('DD/MM/YYYY HH:mm'), attr:{id: ID}"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="wait-number" data-bind="text: Bep_SoLuongYeuCau">
                                        </div>
                                    </td>
                                    <td >
                                        <div class="wait-room">
                                            <span data-bind="text: TenPhongBan " class="bold"></span>
                                            <p data-bind="text: WaitMinutes" class="wait-minute"></p>
                                        </div>
                                    </td>
                                    <td class="bor-none wait-next play" data-bind="click: $parent.ChoCheBien1">

                                        <a title="Chờ chế biến một" href="javascript:void(0)" class="wait-next-left">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>

                                    </td>
                                    <td class="bor-none wait-next wait-next-oll play" data-bind="click: $parent.ChoCheBienAll">

                                        <a title="Chờ chế biến tất cả" href="javascript:void(0)" class="wait-next-left">
                                            <i class="fa fa-angle-double-right "></i>
                                        </a>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="info">
                <div class="content-kitchen floatleft">
                    <div id="wait-kitchent">

                        <table class='table'>
                            <tr>

                                <td class=" tr-name-wait">
                                    <div class=" name-wait">
                                        <h3>Trà chanh</h3>
                                        <p>DH000002 <span>16/06/2017 08:21</span> </p>
                                    </div>
                                </td>
                                <td class="finished-end">
                                    <div class="wait-number">

                                    </div>
                                </td>

                            </tr>
                        </table>
                        <table class='table'>
                            <tr>
                                <td class=" tr-name-wait">
                                    <div class=" name-wait">
                                        <h3>Trà chanh</h3>
                                        <p>DH000002 <span>16/06/2017 08:21</span> </p>
                                    </div>
                                </td>
                                <td class="finished-end">
                                    <div class="wait-number">
                                        1
                                    </div>
                                </td>

                            </tr>
                        </table>
                        <table class='table'>
                            <tr>
                                <td class=" tr-name-wait">
                                    <div class=" name-wait">
                                        <h3>Trà chanh</h3>
                                        <p>DH000002 <span>16/06/2017 08:21</span> </p>
                                    </div>
                                </td>
                                <td class="finished-end">
                                    <div class="wait-number">
                                        1
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="w49-r pull-right">
        <div class="title-ketchen floatleft ">
            <span class="pull-left">
                ĐÃ XONG/CHỜ CUNG ỨNG
            </span>

        </div>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="content-kitchen floatleft">
                    <div id="wait-kitchent" class="wait-kitchent-right floatleft " data-bind="foreach: ThucDonWait">
                        <table class="controls">
                            <tbody>
                                <tr>
                                    <td class="prev-ketchen">

                                        <a title="Chờ chế biến tất cả" href="javascript:void(0)" class="wait-next-left" data-bind="click: $parent.HuyDaXong1">
                                            <img src="~/Content/images/iconketchen/g1.png" />

                                        </a>

                                    </td>
                                    <td class=" tr-name-wait">
                                        <div class=" name-wait">
                                            <h3 data-bind="text: TenHangHoa"></h3>
                                            <span data-bind="text: MaHoaDon">
                                            </span> &nbsp; &#45;&nbsp;
                                            <span data-bind="text: moment(ThoiGian).format('DD/MM/YYYY HH:mm')"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="wait-number" data-bind="text: Bep_SoLuongChoCungUng"></div>
                                    </td>
                                    <td>
                                        <div class="wait-room">
                                            <h3 data-bind="text: TenPhongBan"></h3>
                                            <p data-bind="text: WaitMinutes" class="wait-minuteHT"></p>
                                        </div>
                                    </td>
                                    <td class="finished play" data-bind="click: $parent.DaXong1">
                                        <a href="javascript:void(0)" title="Đã xong một" class="wait-next-check">

                                            <img src="~/Content/images/iconketchen/Icon-43.png" />
                                        </a>
                                    </td>
                                    <td class="finished finished-end play" data-bind="click: $parent.DaXongAll">
                                        <a href="javascript:void(0)" title="Đã xong tất cả" class="wait-next-check">

                                            <img src="~/Content/images/iconketchen/Icon-44.png" />
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="control-bottom ">
        <div >
            <a href="javascript:void(0)" title="Lọc theo nhóm hàng" data-toggle="modal" data-target="#myModal"><i class="fa fa-filter"></i></a>
            <a href="javascript:void(0)" title="Tắt chuông"><i class="fa fa-bell" aria-hidden="true"></i></a>

        </div>
    </div>
    <div class="close-k">
        <a href="javascript:void(0)"><i class="fa fa-external-link"></i> Thoát</a>
    </div>
    <div class="modal fade in" id="myModal" tabindex="-1"  aria-labelledby="myModalLabel">
        <div class="modal-dialog draggable fitter " role="document">
            <div class="title-fitter">
                <i class="fa fa-filter"></i> Lọc theo nhóm hàng
                <div class="pull-right close-kitchent">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> </button>
                </div>
            </div>
            <div class="content-fitter">
                <ul>
                    <li>
                        <input type="checkbox" onclick="SetCheckAll(this)" />Tất cả
                        <ul data-bind="foreach: NhomHangHoas">
                            <li>
                                <input type="checkbox" data-bind="attr:{id: ID}" onclick="getIDNhomHH(this)" />
                                <a  data-bind="text: TenNhomHangHoa"></a>
                                <ul data-bind="foreach: Childs">
                                    <li>
                                        <input type="checkbox" data-bind="attr:{id: ID}" onclick="getIDNhomHH(this)" />
                                        <span data-bind="text: TenNhomHangHoa" style="color:red"></span>
                                        <ul data-bind="foreach: Child2s">
                                            <li>
                                                <input type="checkbox" data-bind="attr:{id: ID}" onclick="getIDNhomHH(this)" />
                                                <a  data-bind="text: TenNhomHangHoa" style="color:brown"></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="choose-fitter" @*data-bind="click: getHangHoa_ByIDNhom"*@>
                <a class="btn-fitter"><i class="fa fa-filter"></i> Lọc</a>
            </div>
        </div>
    </div>

</body>
</html>
<script src="@Html.WriteRenderFile(Scripts.Url("~/bundles/JsStatic"))" type="text/javascript"></script>
<script src="~/Content/js/audio.js"></script>
<script src="@Html.WriteRenderFile(Scripts.Url("~/bundles/Kitchen"))" type="text/javascript"></script>
<script src="~/signalr/hubs"></script>
<script>
    loadmau();

    function loadmau() {
        $('link[rel=stylesheet][href ^="/Content/bg"]').remove();

        var a;
        var color = localStorage.getItem('ColorCH');
        if (color !== null) {
            a = color;
        }
        if (a == 1) {
            $('head').append('<link href="/Content/bg1.css" rel="stylesheet"/> ');
        }
        else if (a == 2) {
            $('head').append('<link href="/Content/bg2.css" rel="stylesheet"/>');
        }
        else if (a == 3) {
            $('head').append('<link href="/Content/bg3.css" rel="stylesheet"/>');
        }
        else if (a == 4) {
            $('head').append('<link href="/Content/bg4.css" rel="stylesheet"/>');
        }
        else if (a == 5) {
            $('head').append('<link href="/Content/bg5.css" rel="stylesheet"/>');
        }
        else if (a == 6) {
            $('head').append('<link href="/Content/bg6.css" rel="stylesheet"/>');
        }
        else if (a == 7) {
            $('head').append('<link href="/Content/bg7.css" rel="stylesheet"/>');
        }
        else if (a == 8) {
            $('head').append('<link href="/Content/bg8.css" rel="stylesheet"/>');
        }
        else if (a == 9) {
            $('head').append('<link href="/Content/bg9.css" rel="stylesheet"/>');
        }
        else if (a == 10) {
            $('head').append('<link href="/Content/bg10.css" rel="stylesheet"/>');
        }
        else if (a == 11) {
            $('head').append('<link href="/Content/bg11.css" rel="stylesheet"/>');
        }
    }
</script>

