@using SoftWareSsoft.Hellper;
<div class="header-top">
    <div class="container-fluid">
        <a href="/" class="logotrch">
            <img src="~/Images/Theme/Ssoft/icon/thuong-hieu-ssoft-main.png" alt="Ssoft.vn" />
        </a>
        <div class="nav menu-main ">
            <ul>
                @*
                <li >
                    <a href="/khach-hang">Hợp tác</a>
                </li>*@
                <li class='@Html.IsActive("ThemeSsoft", "/gioi-thieu-ve-ssoft")'>
                    <a href="/gioi-thieu-ve-ssoft">Giới thiệu</a>
                </li>
                <li class='@Html.IsActive("ThemeSsoft", "/san-pham")'>
                    <a href="/san-pham">Sản phẩm</a>
                </li>
                @*<li>
                    <a href="~/lien-he">Dịch vụ</a>
                </li>*@
                <li class='@Html.IsActive("ThemeSsoft", "/khach-hang")'>
                    <a href="~/khach-hang">Khách hàng</a>
                </li>
                <li class='@Html.IsActive("ThemeSsoft", "/tuyen-dung")'>
                    <a href="/tuyen-dung">Tuyển dụng</a>
                </li>

                <li class='@Html.IsActive("ThemeSsoft", "/tin-tuc")'>
                    <a href="~/tin-tuc">Tin tức</a>
                </li>
                <li class='@Html.IsActive("ThemeSsoft", "/lien-he")'>
                    <a href="~/lien-he">Liên hệ</a>
                </li>
            </ul>
        </div>

        @*<div class="login-inner">
                <a href="" class="login loginres" data-toggle="modal" data-target="#login">
                    Đăng nhập
                </a>

            </div>*@
            <a href="javascript:void(0)" class="click-menu">
                <i class="fa fa-bars"></i>
            </a>
    </div>
</div>

