<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/BootstrapCss")
    @Styles.Render("~/Content/MainCss")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Ssoft")
    <meta property="fb:app_id" content="1992802757652987">
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription)" />
    <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)" />
    <meta property="fb:admins" content="100004299791963"><script type='text/javascript' src='//c.trazk.com/c.js?_key=1588205822' async='async'> </script>
    <meta name="google-site-verification" content="2TnpTZxORhRUYMEQvJCtHy02Ezc8WuQnP9rqEY2ucDY" />
    <link rel="icon" href="~/Images/Theme/Ssoft/icon/logo-ssoft.png" type="image/gif">
    <!-- Google Tag Manager -->
    <script>
(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MTMJX53');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTMJX53"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    @Html.Action("_Header", new { area = "", Controller = "ThemeSsoft" })

    <div id="renderBody">
    @RenderBody()
        </div>
    <hr />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Html.Action("_Footer", new { area = "", Controller = "ThemeSsoft" })
    @Html.Partial("_DangKyDungThuPartial")
    @Scripts.Render("~/bundles/Mainjs")
    @RenderSection("scripts", required: false)
    <div class="bg-fuzzy"></div>
</body>
</html>


<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2292624924318484');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=2292624924318484&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5b14b9ee8859f57bdc7bcdc8/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
</script>
<!--End of Tawk.to Script-->
