@model  SoftWareSsoft.Models.ThemeSsoft.NewsModel
@{
    Layout = "~/Views/ThemeSsoft/_LayoutSsoft.cshtml";
}
@section scripts {

    <script>
        vmbody.GetCustomerDate();
        
    </script>
}
<div class="banner-page banner-customer fl ">
</div>
<div class="contentnews fl">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ">
                <div class="title-news">
                    <span id="TitleDate" />
                </div>
                <div class="title-detailnews fl">
                    @Model.TieuDe
                </div>
                <div class="summary-detailnews fl">
                    @Model.Mota
                </div>
                <div class="content-detailnews fl">
                    @Html.Raw(Model.NoiDung)

                </div>
            </div>
            <div class="col-md-4">




                <div class="title-news fl">
                    Khách hàng mới nhất
                </div>
                <div class="fl ">
                    <div class="col-md-12 row news-bar" v-for="(item, index) in ListCustomerDate">
                        <div class="img-news">
                            <a v-bind:href="item.Link">
                                <img v-bind:src="item.Anh">
                            </a>
                        </div>
                        <div class="content-news">

                            <div class="title-news-right ">
                                <a v-bind:href="item.Link">
                                    {{item.TenKhachHang}}
                                </a>
                            </div>
                            <div class="time-bar fl">
                               
                            </div>
                            @*<p>
                                Lượt xem:
                                <font>{{item.LuotXem}}</font>
                            </p>*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@Html.Partial("_HotroPartial")
@Html.Partial("_ContactPartial")