@model  SoftWareSsoft.Models.ThemeSsoft.NewsModel

@{
    Layout = "~/Views/ThemeSsoft/_LayoutSsoft.cshtml";
}
@section scripts {

    <script>
        vmbody.GetNewsDate();
        $('#TitleDate').text(localValidate.ConvertTitleDateTime('@Model.NgayTao.ToString("yyyy/MM/dd hh:mm tt")'));
    </script>
}
<div class="banner-page banner-news fl ">

</div>
<div class="contentnews fl">
    <div class="container">
        <div class="row" >
            <div class="col-md-8 ">
                <div class="title-news">
                    <span id="TitleDate" />
                </div>
                <div class="title-detailnews fl">
                    @Model.TieuDe
                </div>
                <div class="summary-detailnews fl">
                    @Model.Mota
                </div>
                <div class="content-detailnews fl">
                    @Html.Raw(Model.NoiDung)

                </div>
                <div class="user-detailnews fl">
                    <span style="float:right">Tác giả:   @Model.NguoiTao</span>
                </div>
            </div>
            <div class="col-md-4">




                <div class="title-news fl">
                    Bài viết mới nhất
                </div>
                <div class="fl ">
                    <div class="col-md-12 row news-bar" v-for="(item, index) in ListNewsDate">
                        <div class="img-news">
                            <a v-bind:href="item.Link">
                                <img v-bind:src="item.Anh">
                            </a>
                        </div>
                        <div class="content-news">

                            <div class="title-news-right ">
                                <a v-bind:href="item.Link">
                                    {{item.TenBaiViet}}
                                </a>
                            </div>
                            <div class="time-bar fl">
                                <font>{{localValidate.convertDate(item.NgayTao)}}</font>
                            </div>
                            <p>
                                Lượt xem:
                                <font>{{item.LuotXem}}</font>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@Html.Partial("_HotroPartial")
@Html.Partial("_ContactPartial")
