@using Ssoft.Common.Common;
@model SoftWareSsoft.Models.ThemeSsoft.ProductDetailModel

@{
    Layout = "~/Views/ThemeSsoft/_LayoutSsoft.cshtml";
}
@section scripts{
    <script>
        var urlsrc = 'url("/Images/Theme/Ssoft/banner/san-pham-beauty.jpg") no-repeat center';
        var urlsrcmobile = 'url("/Images/Theme/Ssoft/banner/mobile/mb-lucky-beauty.jpg") no-repeat center';
        if ('@Model.TypeSofware' == '@((int)LibEnum.TypeSoftWareSsoft.gara)')
        {
             urlsrc = 'url("/Images/Theme/Ssoft/banner/san-pham-gara.jpg") no-repeat center';
             urlsrcmobile = 'url("/Images/Theme/Ssoft/banner/mobile/mb-lucky-gara.jpg") no-repeat center';
             $('.pr-btn-dung-thu').attr('data-id','@LibNotification.LuckyGara');
             $('.pr-btn-dat-mua').attr('data-id', '@LibNotification.LuckyGara');
        }
        else if ('@Model.TypeSofware' == '@((int)LibEnum.TypeSoftWareSsoft.hrm)')
         {
             urlsrc = 'url("/Images/Theme/Ssoft/banner/san-pham-hrm.jpg") no-repeat center';
             urlsrcmobile = 'url("/Images/Theme/Ssoft/banner/mobile/mb-lucky-hrm.jpg") no-repeat center';
             $('.pr-btn-dung-thu').attr('data-id','@LibNotification.LuckyHrm');
             $('.pr-btn-dat-mua').attr('data-id', '@LibNotification.LuckyHrm');
        }
        $('.banner-product-detail').css('background', urlsrc);
        $('.mobile-banner-product-detail').css('background', urlsrcmobile);
        $('.tree-title').on('click', function () {
            $(this).next('.tree-detail').toggle();
            $(this).find('a i').each(function () {
                $(this).toggle();
            });

        })
        vmbody.GetCustomerForProduct('@Model.TypeSofware');
    </script>
}
<div class="banner-page banner-product-detail fl ">
    <div class="container">
        <div class="row">
            <div class="fl">
                @if (Model.TypeSofware == (int)LibEnum.TypeSoftWareSsoft.beauty)
                {

                    <div class="banner-text-left">
                        <h1>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <br />
                            <span class="product-detail-title1">Lucky </span>
                            <span class="product-detail-title2"> Beauty</span>
                            <br />
                            <span>Quản lý hiệu quả</span>
                            <br />
                            <span>Kết quả ngọt ngào</span>
                        </h1>

                    </div>
                }
                else if (Model.TypeSofware == (int)LibEnum.TypeSoftWareSsoft.gara)
                {
                    <div class="banner-text-left banner-text-right ">
                        <h1>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <br />
                            <span class="product-gara">Lucky Gara</span>
                            <br />
                            <span>Phần mềm cực hay</span>
                            <br />
                            <span>Chạy thử mê ngay!</span>
                        </h1>

                    </div>
                }
                else
                {
                    <div class="banner-text-left">
                        <h1>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <br />
                            <span class="product-detail-title1">Lucky </span>
                            <span class="product-detail-title2"> Hrm</span>
                            <br />
                            <span>Quản lý tự động</span>
                            <br />
                            <span>Không lo sai xót!</span>
                        </h1>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="banner-page mobile-banner-product-detail fl " hidden>
    <div class="container">
        <div class="row">
            <div class="fl">
                @if (Model.TypeSofware == (int)LibEnum.TypeSoftWareSsoft.beauty)
                {

                    <div class="banner-text-left">
                        <h1>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <br />
                            <span class="product-detail-title1">Lucky </span>
                            <span class="product-detail-title2"> Beauty</span>
                            <br />
                            <span>Quản lý hiệu quả</span>
                            <br />
                            <span>Kết quả ngọt ngào</span>
                        </h1>

                    </div>
                }
                else if (Model.TypeSofware == (int)LibEnum.TypeSoftWareSsoft.gara)
                {
                    <div class="banner-text-left banner-text-right ">
                        <h1>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <br />
                            <span class="product-gara">Lucky Gara</span>
                            <br />
                            <span>Phần mềm cực hay</span>
                            <br />
                            <span>Chạy thử mê ngay!</span>
                        </h1>

                    </div>
                }
                else
                {
                    <div class="banner-text-left">
                        <h1>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <br />
                            <span class="product-detail-title1">Lucky </span>
                            <span class="product-detail-title2"> Hrm</span>
                            <br />
                            <span>Quản lý tự động</span>
                            <br />
                            <span>Không lo sai xót!</span>
                        </h1>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="product-detail-content fl">
    <div class="container">
        <div class="col-md-12 margin-bot-15 pr-order-header">
            <button type="button" class="form-control pr-btn-dung-thu dung-thu-pm"  data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="@LibNotification.LuckyBeauty">
                <img src="~/Images/Theme/Ssoft/icon/dung-thu.png"  />
                Dùng thử miễn phí ngay !
            </button>
            <button href="javascript:void(0)" class="form-control pr-btn-dat-mua dat-mua-pm"  data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="@LibNotification.LuckyBeauty">
                <img src="~/Images/Theme/Ssoft/icon/dat-hang.png" />
                Đặt mua!
            </button>
        </div>
            @if (Model.TypeSofware == (int)LibEnum.TypeSoftWareSsoft.hrm)
            {

                @Html.Partial("_LuckyHrmPartial")
            }
            else if (Model.TypeSofware == (int)LibEnum.TypeSoftWareSsoft.beauty)
            {

                @Html.Partial("_LuckyBeautyPartial")
            }
            else
            {
                @Html.Partial("_LuckyGaraPartial")
            }
        <div class="col-md-12 margin-bot-15 pr-order-header">
            <button type="button" class="form-control pr-btn-dung-thu dung-thu-pm"  data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="@LibNotification.LuckyBeauty">
                <img src="/Images/Theme/Ssoft/icon/dung-thu.png">
                Dùng thử miễn phí ngay !
            </button>
            <button href="javascript:void(0)" class="form-control pr-btn-dat-mua dat-mua-pm"  data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="@LibNotification.LuckyBeauty">
                <img src="/Images/Theme/Ssoft/icon/dat-hang.png">
                Đặt mua!
            </button>
        </div>
        <div class="col-md-12">
            <div class="User-use-product fl  margin-bot-15">
                <div class="User-use-title fl tree-title">
                    @if (Model.TypeSofware == (int)LibEnum.TypeSoftWareSsoft.beauty)
                    {
                        <span>Khách hàng đang sử dụng Lucky Beauty</span>
                    }
                    else if (Model.TypeSofware == (int)LibEnum.TypeSoftWareSsoft.gara)
                    {
                        <span>Khách hàng đang sử dụng Lucky Gara</span>
                    }
                    else
                    {
                        <span>Khách hàng đang sử dụng Lucky Hrm</span>
                    }
                    <a href="javascript:void(0)">
                        <i class="fa fa-plus-square" aria-hidden="true" style="display:none" ></i>
                        <i class="fa fa-minus-square" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="tree-detail tree-group-recruitment fl tree-customer" >
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12 customer-product" v-for="(item, index) in listCustomerProduct">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <a v-bind:href="item.Link">
                                            <img style="width: 100%;height:100%; display: block;" v-bind:src="item.Anh" v-bind:alt="item.TenKhachHang">
                                        </a>
                                    </div>
                                    <div class="caption">
                                        <a v-bind:href="item.Link"> <p>{{item.TenKhachHang}}</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl more-news" v-show="visible">
                        <a href="javascript:void(0)" v-on:click="NextCustomerProductPage">Xem thêm</a>
                    </div>
                </div>
               
            </div>
        </div>


    </div>
</div>
@Html.Partial("_HotroPartial")
@Html.Partial("_ContactPartial")

