@using Ssoft.Common.Common;

@{
    Layout = "~/Views/ThemeSsoft/_LayoutSsoft.cshtml";
}
<div class="banner-page banner-product fl ">
    <div class="container">
        <div class="">
            <div class="fl">
                <div class="banner-name-page ">
                    <h1>
                        <span class="header-page-title1">QUẢN LÝ</span> <span class="header-page-title2">NHỮNG GÌ BẠN MUỐN</span> <br />
                        <span class="header-page-title3">Với chi phí hợp lý và tiết kiệm</span>
                    </h1>

                    <div class="view-add fl">
                        <a href="javascript: void(0)" class="btn-dung-thu dung-thu-pm" data-toggle="modal" data-target="#ModalDangKyDungThuSsoft"  data-id="">Dùng thử miễn phí ngay!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="reason fl  home-detail">
    <div class="container">
        <div class="col-md-12">
            <div class="row home-san-pham margin-bot-50">
                <h2>
                    Sản phẩm
                </h2>

                <p class="line-end"></p>
                <div class="col-md-4">
                    <div class="list-san-pham">
                        <p class="danh-gia-sp no-magirn">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </p>
                        <div class="img-reason" style="  background: url(../Images/Theme/Ssoft/Icon-san-pham/lucky-beauty.png)no-repeat center;">
                        </div>
                        <a href="/phan-mem-lucky-beauty">
                            <h3 class="name-reason">
                                Lucky <span class="ten-san-pham"> Beauty</span><br />
                                Quản lý hiệu quả, kết quả ngọt ngào

                            </h3>
                            <p class="chi-tiet-san-pham">
                                Phần mềm quản lý theo đặc thù spa, salon, thẩm mỹ viện. Quản lý thông minh, chuyên nghiệp.
                            </p>
                        </a>
                        <div class="btn-oder col-md-12 row">
                            <a href="javascript:void(0)" class="a-dat-mua dat-mua-pm"  data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="@LibNotification.LuckyBeauty">
                                <img src="~/Images/Theme/Ssoft/icon/dat-hang.png" /> Mua ngay
                            </a>
                            <a href="javascript:void(0)" class="a-dung-thu dung-thu-pm"  data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="@LibNotification.LuckyBeauty">
                                <img src="~/Images/Theme/Ssoft/icon/dung-thu.png" />
                                Dùng thử
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list-san-pham">
                        <p class="danh-gia-sp no-magirn">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </p>
                        <div class="img-reason" style="  background: url(../Images/Theme/Ssoft/Icon-san-pham/lucky-gara.png)no-repeat center;">
                        </div>

                        <a href="/phan-mem-lucky-gara">
                            <h3 class="name-reason">
                                Lucky <span class="ten-san-pham"> Gara</span><br />
                                Phần mềm cực hay, chạy thử mê ngay

                            </h3>
                            <p class="chi-tiet-san-pham">
                                Phần mềm quản lý dành riêng cho Gara ô tô, xe máy. Đáp ứng đầy đủ quy trình quản lý chuyên nghiệp.
                            </p>
                        </a>
                        <div class="btn-oder col-md-12 row">
                            <a href="javascript:void(0)" class="a-dat-mua dat-mua-pm" data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="@LibNotification.LuckyGara">
                                <img src="~/Images/Theme/Ssoft/icon/dat-hang.png" /> Mua ngay
                            </a>
                            <a href="javascript:void(0)" class="a-dung-thu dung-thu-pm" data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="@LibNotification.LuckyGara">
                                <img src="~/Images/Theme/Ssoft/icon/dung-thu.png" />
                                Dùng thử
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list-san-pham">
                        <p class="danh-gia-sp no-magirn">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </p>
                        <div class="img-reason" style="  background: url(../Images/Theme/Ssoft/Icon-san-pham/lucky-hrm.png)no-repeat center;">
                        </div>

                        <a href="/phan-mem-lucky-hrm">
                            <h3 class="name-reason">
                                Lucky <span class="ten-san-pham"> Hrm</span><br />
                                Quản lý tự động không lo sai sót

                            </h3>
                            <p class="chi-tiet-san-pham">
                                Phần mềm quản lý nhân sự, chấm công, tính lương. Hệ thống quản lý khoa học nhiều tiện ích.
                            </p>
                        </a>
                        <div class="btn-oder col-md-12 row">
                            <a href="javascript:void(0)" class="a-dat-mua dat-mua-pm" data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="@LibNotification.LuckyHrm">
                                <img src="~/Images/Theme/Ssoft/icon/dat-hang.png" /> Mua ngay
                            </a>
                            <a href="javascript:void(0)" class="a-dung-thu dung-thu-pm" data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="@LibNotification.LuckyHrm">
                                <img src="~/Images/Theme/Ssoft/icon/dung-thu.png" />
                                Dùng thử
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Html.Partial("_HotroPartial")
@Html.Partial("_ContactPartial")