@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>

    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/less")
    <link rel="stylesheet" href="@Styles.Url("~/Content/CssFramework")" />
    <link rel="stylesheet" href="@Styles.Url("~/Content/Open24Css")" />

</head>
<body>
    <div>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
