@using Model
@using banhang24.Hellper;
@model DM_DonVi
<style>
    .BanlamViecIcon {
        width: unset
    }

        .BanlamViecIcon > a {
            display: flex;       
            justify-content: center;
            align-items: center;
            padding: 7px;
            width: 120px;
        }

        .BanlamViecIcon image {
            margin-right: 5px;
            transition: all 0.4s ease;
        }

    .btn-menu.BanlamViecIcon.hoverable:hover img {
        transform: rotate(180deg);
        transition: all 1s ease;
    }

    .oldUIpropertive {
        width: 250px;
        display: inline-block;
        height: 42px;
        padding: 9px;
    }

    .ul1 > li:hover > ul {
        display: block !important;
        position: absolute;
        left: 100%;
        top: 0;
    }

    .giaodichparent ul li:first-child, .giaodichparent ul li:nth-child(4), .giaodichparent ul li:nth-child(7) {
        border-bottom: none;
    }

    .op-speedrun {
        width: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        text-align: center;
    }

        .op-speedrun:hover, .op-speedrun:focus {
            background: rgba(0,0,0,0.15)
        }

    .op-speedrun-icon {
        font-size: 26px !important;
        display: block !important;
        color: white;
        display: inline-block;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        padding: 5px 7px;
        text-align: center;
        margin: 0px;
        line-height: 30px;
    }

    .hover-round:hover > .ul1 {
        display: block !important
    }

    .op-speedrun + div {
        color: black
    }

    a.op-speedrun:hover {
        background: var(--color-primary) !important;
        border-radius: 25px;
    }

    .hoverable > .op-speedrun {
        transition: all 0.4s ease;
    }

    .hoverable:hover > .op-speedrun {
        border-radius: 25px;
    }

    a[href='/$/kitchen'], a[href='/$/nhahang'], a[href='/$/banle'] {
        background: var(--color-special) !important;
    }
</style>
<script type="text/javascript">
    //=================================
    // Data Menu
    //=================================
    var listmenu = [{ url: '@UrlPage.Danhsachhanghoa', path: "p/danhsachhanghoa", title: '@Html.Raw(UrlPage.Title_HangHoa)' }
        , { url: '@UrlPage.LoHangHoa', path: "p/LoHangHoa", title: '@Html.Raw(UrlPage.Title_HangHoa)' + ' - Lô hàng hóa' }
        , { url: '@UrlPage.TrangChu', path: "Home/DashBoard", title: '@Html.Raw(UrlPage.Title_TongQuan)' }
        , { url: '@UrlPage.TrangChuHRM', path: "Home/TongQuan", title: '@Html.Raw(UrlPage.Title_TongQuan)' }
        , { url: '@UrlPage.ThietLapGia', path: "p/danhsachgia", title: '@Html.Raw(UrlPage.Title_HangHoa)' + " - Bản giá bán" }
        , { url: '@UrlPage.PhieuDieuChinh', path: "p/phieudieuchinh", title: '@Html.Raw(UrlPage.Title_HangHoa)' + " - Điều chỉnh giá vốn" }
        , { url: '@UrlPage.TaoPhieuDieuChinh', path: "p/dieuchinh", title: '@Html.Raw(UrlPage.Title_HangHoa)' + " - Điều chỉnh" }
        , { url: '@UrlPage.KiemKho', path: "p/kiemkho", title: '@Html.Raw(UrlPage.Title_HangHoa)' + " - Kiểm kê hàng hóa" }
        , { url: '@UrlPage.TonKho', path: "p/TonKho", title: '@Html.Raw(UrlPage.Title_HangHoa)' + " - Kiểm kê hàng hóa" }
        , { url: '@UrlPage.HoaDon', path: "e/hoadon/0", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Hóa đơn" }
        , { url: '@UrlPage.DatHang', path: "e/dathang/0", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Đặt hàng" }
        , { url: '@UrlPage.BaoGia', path: "e/dathang/1", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Đặt hàng" }
        , { url: '@UrlPage.NhapHang', path: "e/nhaphang", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Nhập hàng" }
        , { url: '@UrlPage.NhapNoiBo', path: "e/NhapHangSanXuat", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Nhập hàng sản xuất" }
        , { url: '@UrlPage.NhapHangItem', path: "e/nhaphangitem", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Nhập hàng chi tiết" }
        , { url: '@UrlPage.NhapHangItem2', path: "e/NhapHangItem1_2", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Nhập hàng chi tiết" }
        , { url: '@UrlPage.TraHang', path: "e/trahang", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Trả hàng" }
        , { url: '@UrlPage.TraHangNhap', path: "e/trahangnhap", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Trả hàng nhập" }
        , { url: '@UrlPage.TraHangNhapChiTiet', path: "e/trahangnhapchitiet", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Trả hàng nhập chi tiết" }
        , { url: '@UrlPage.TraHangNhapChiTiet2', path: "e/trahangnhapchitiet_2", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Trả hàng nhập chi tiết" }
        , { url: '@UrlPage.XuatHuy', path: "e/XuatHuy", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Xuất kho" }
        , { url: '@UrlPage.PhieuXuatHuy', path: "e/PhieuXuatHuy", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Phiếu Xuất kho" }
        , { url: '@UrlPage.XuatKhoChiTiet', path: "e/XuatKhoChiTiet", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Phiếu Xuất kho" }
        , { url: '@UrlPage.ChuyenHang', path: "e/ChuyenHang", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Chuyển hàng" }
        , { url: '@UrlPage.ChuyenHangChiTiet', path: "e/ChuyenHangChiTiet", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Chuyển hàng chi tiết" }
        , { url: '@UrlPage.ChuyenHangChiTiet2', path: "e/ChuyenHangChiTiet_2", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Chuyển hàng chi tiết" }
        , { url: '@UrlPage.KhachHang', path: "c/khachhang", title: '@Html.Raw(UrlPage.Title_DoiTac)' + " - Khách hàng" }
        , { url: '@UrlPage.NhaCungCap', path: "c/nhacungcap", title: '@Html.Raw(UrlPage.Title_DoiTac)' + " - Nhà cung cấp" }
        , { url: '@UrlPage.TuVan', path: "s/tuvan", title: '@Html.Raw(UrlPage.Title_DoiTac)' + " - Tư vấn khách hàng" }
        , { url: '@UrlPage.LichHen', path: "s/LichHen", title: '@Html.Raw(UrlPage.Title_DoiTac)' + " - Lịch hẹn" }
        , { url: '@UrlPage.PhanHoi', path: "s/PhanHoi", title: '@Html.Raw(UrlPage.Title_DoiTac)' + " - Phản hồi" }
        , { url: '@UrlPage.SoQuy', path: "f/soquy", title: '@Html.Raw(UrlPage.Title_SoQuy)' }
        , { url: '@UrlPage.SoQuy2', path: "f/soquy2/2", title: '@Html.Raw(UrlPage.Title_SoQuy)' }
        , { url: '@UrlPage.PhieuThu', path: "f/soquy2/0", title: '@Html.Raw(UrlPage.Title_SoQuy)' }
        , { url: '@UrlPage.PhieuChi', path: "f/soquy2/1", title: '@Html.Raw(UrlPage.Title_SoQuy)' }
        , { url: '@UrlPage.BC_BanHang', path: "r/banhang", title: '@Html.Raw(UrlPage.Title_BaoCao)' + " - Bán hàng" }
        , { url: '@UrlPage.R_NhapHang', path: "x/nhaphang", title: '@Html.Raw(UrlPage.Title_BaoCao)' + " - Nhập hàng" }
        , { url: '@UrlPage.R_TaiChinh', path: "x/taichinh_v2", title: '@Html.Raw(UrlPage.Title_BaoCao)' + " - Tài chính" }
        , { url: '@UrlPage.R_DatHang', path: "x/DatHang", title: '@Html.Raw(UrlPage.Title_BaoCao)' + " - Đặt hàng" }
        , { url: '@UrlPage.R_ChietKhau', path: "x/chietkhaunhanvien", title: '@Html.Raw(UrlPage.Title_BaoCao)' + " - Chiết khấu nhân viên" }
        , { url: '@UrlPage.R_ChietKhau1', path: "x/HoaHong", title: '@Html.Raw(UrlPage.Title_BaoCao)' + " - Hoa hồng nhân viên" }
        , { url: '@UrlPage.R_BanHang', path: "x/BanHang", title: '@Html.Raw(UrlPage.Title_BaoCao)' + " - Bán hàng" }
        , { url: '@UrlPage.R_Kho', path: "x/Kho", title: '@Html.Raw(UrlPage.Title_BaoCao)' + " - Kho" }
        , { url: '@UrlPage.R_GoiDichVu', path: "x/GoiDichVu", title: '@Html.Raw(UrlPage.Title_BaoCao)' + " - Sử dụng gói dịch vụ" }
        , { url: '@UrlPage.R_NhanVien', path: "x/NhanVien", title: '@Html.Raw(UrlPage.Title_BaoCao)' + " - Nhân viên" }
        , { url: '@UrlPage.NhanVien', path: "t/NhanVien", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Nhân viên" }
        , { url: '@UrlPage.ChietKhau', path: "t/ChietKhau", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Tài chính" }
        , { url: '@UrlPage.ChietKhauNew', path: "t/ChietKhauNew", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Tài chính" }
        , { url: '@UrlPage.CD_ChiNhanh', path: "t/QuanLyChiNhanh", title: '@Html.Raw(UrlPage.Title_CaiDat)' + " - Chi nhánh" }
        , { url: '@UrlPage.CD_KhuyenMai', path: "t/KhuyenMai", title: '@Html.Raw(UrlPage.Title_CaiDat)' + " - Khuyến mại" }
        , { url: '@UrlPage.CD_LichSuHD', path: "t/LichSuThaoTac", title: '@Html.Raw(UrlPage.Title_CaiDat)' + " - Lịch sử hoạt động" }
        , { url: '@UrlPage.CD_NguoiDung', path: "t/QuanLyNguoiDung", title: '@Html.Raw(UrlPage.Title_CaiDat)' + " - Quản lý người dùng" }
        , { url: '@UrlPage.CD_NguoiDung_2', path: "t/QuanLyNguoiDung_2", title: '@Html.Raw(UrlPage.Title_CaiDat)' + " - Quản lý người dùng" }
        , { url: '@UrlPage.CD_QuanLyMauIn', path: "t/QuanLyMauIn", title: '@Html.Raw(UrlPage.Title_CaiDat)' + " - Quản lý mẫu in" }
        , { url: '@UrlPage.CD_SoDo', path: "m/phongban", title: '@Html.Raw(UrlPage.Title_CaiDat)' + " - Sơ đồ phòng ban" }
        , { url: '@UrlPage.CD_ThietLapCuaHang', path: "t/ThietLapChung", title: '@Html.Raw(UrlPage.Title_CaiDat)' + " - Thiết lập cửa hàng" }
        , { url: '@UrlPage.NguoiLienHe', path: "s/NguoiLienHe", title: '@Html.Raw(UrlPage.Title_DoiTac)' + " - Người liên hệ" }
        , { url: '@UrlPage.Congviec', path: "mark/Congviec", title: '@Html.Raw(UrlPage.Title_DoiTac)' + " - Người liên hệ" }
        , { url: '@UrlPage.LichHen1', path: "mark/LichHen", title: '@Html.Raw(UrlPage.Title_DoiTac)' + " - Người liên hệ" }
        , { url: '@UrlPage.GoiDichVu', path: "e/GoiDichVu", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Gói dịch vụ" }
        , { url: '@UrlPage.DichVuSMS', path: "s/DanhSachSMS", title: '@Html.Raw(UrlPage.Title_DoiTac)' + " - Dịch vụ sms" }
        , { url: '@UrlPage.CD_TaiKhoan', path: "Home/TaiKhoan", title: '@Html.Raw(UrlPage.Title_CaiDat)' + " - Thông tin tài khoản" }
        , { url: '@UrlPage.CaLamViec', path: "n/CaLamViec", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Thông tin ca làm việc" }
        , { url: '@UrlPage.PhanCongCaLamViec', path: "n/PhanCongCaLamViec", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Thông tin phân ca làm việc" }
        , { url: '@UrlPage.OptinForm', path: "mark/OptinForm", title: '@Html.Raw(UrlPage.Title_MarKeting)' + " - Optionform" }
        , { url: '@UrlPage.OptinFormKH', path: "mark/AddOptinFormKH", title: '@Html.Raw(UrlPage.Title_MarKeting)' + " - Thêm mới biểu mẫu khách hàng" }
        , { url: '@UrlPage.OptinFormLH', path: "mark/AddOptinFormLH", title: '@Html.Raw(UrlPage.Title_MarKeting)' + " - Thêm mới biểu mẫu lịch hẹn" }
        , { url: '@UrlPage.datlich', path: "s/Datlich", title: '@Html.Raw(UrlPage.Title_MarKeting)' + " - Thêm mới biểu mẫu lịch hẹn" }
        , { url: '@UrlPage.DanhSachDangKyOptinForm', path: "mark/DanhSachDangKyOptinForm", title: '@Html.Raw(UrlPage.Title_MarKeting)' + " - Khách hàng đăng ký optinform" }
        , { url: '@UrlPage.R_TheGiaTri', path: "x/TheGiaTri", title: '@Html.Raw(UrlPage.Title_BaoCao)' + " - Thẻ giá trị" }
        , { url: '@UrlPage.NapTienTheGiaTri', path: "e/NapTienTheGiaTri", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Danh sách nạp tiền thẻ giá trị" }
        , { url: '@UrlPage.Calendar', path: "mark/Calendar", title: '@Html.Raw(UrlPage.Title_MarKeting)' + " - Thêm mới biểu mẫu khách hàng" }
        , { url: '@UrlPage.KyTinhCong', path: "n/KyTinhCong", title: '@Html.Raw(UrlPage.Title_CaiDat)' + " - Thiết lập kỳ tính công" }
        , { url: '@UrlPage.ChamCong', path: "n/ChamCong", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Chấm công" }
        , { url: '@UrlPage.ChamCong2_1', path: "n/ChamCong2_1", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Chấm công" }
        , { url: '@UrlPage.BangLuong', path: "n/BangLuong", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Bảng lương" }
        , { url: '@UrlPage.BangLuongChiTiet', path: "n/BangLuongChiTiet", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Bảng lương chi tiết" }
        , { url: '@UrlPage.LoaiBaoHiem', path: "n/LoaiBaoHiem", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Loại bảo hiểm" }
        , { url: '@UrlPage.KhenThuongKyLuat', path: "n/LoaiKhenThuong", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Khen thưởng, kỷ luật" }
        , { url: '@UrlPage.TongQuanNhanSu', path: "n/TongQuanNhanSu", title: '@Html.Raw(UrlPage.Tilte_TongQuanNhanSu)' + " Tổng quan nhân sự" }
        , { url: '@UrlPage.QuanLyMayChamCong', path: "t/QuanLyMayChamCong", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Quản lý máy chấm công" }
        , { url: '@UrlPage.TaiDuLieuMayChamCong', path: "t/TaiDuLieuMayChamCong", title: '@Html.Raw(UrlPage.Title_NhanSu)' + " - Tải dữ liệu máy chấm công" }
        , { url: '@UrlPage.Nhahang', path: "$/NhaHang", title: '@Html.Raw(UrlPage.Title_NhaHang)' + " - Quản lý máy chấm công" }
        , { url: '@UrlPage.DanhMucXe', path: "g/DanhMucXe", title: '@Html.Raw(UrlPage.Title_Gara)' + " - Danh mục xe" }
        , { url: '@UrlPage.BanLamViec', path: "g/BanLamViec", title: '@Html.Raw(UrlPage.Title_Gara)' + " - Tiếp nhận xe" }
        , { url: '@UrlPage.Gara', path: "g/Gara", title: '@Html.Raw(UrlPage.Title_Gara)' + " - Gara" }
        , { url: '@UrlPage.TongQuanGara', path: "#/TongQuanGara", title: '@Html.Raw(UrlPage.Title_Gara)' + " - Tổng quan gara" }
        , { url: '@UrlPage.BaoHiem', path: "c/NhaBaoHiem", title: '@Html.Raw(UrlPage.Title_DoiTac)' + " - Đơn vị bảo hiểm" }
        , { url: '@UrlPage.DanhSachXe', path: "e/DanhSachXe", title: '@Html.Raw(UrlPage.Title_GiaoDich)' + " - Danh sách xe sửa chữa" }
        , { url: '@UrlPage.DanhSachPhieuTiepNhan', path: "e/DanhSachPhieuTiepNhan", title: '@Html.Raw(UrlPage.Title_Gara)' + " - Danh sách Phiếu tiếp nhận" }
        , { url: '@UrlPage.HoaDonSuaChua', path: "e/hoadon/1", title: '@Html.Raw(UrlPage.Title_Gara)' + " - Hóa đơn sửa chữa" }
        , { url: '@UrlPage.BaoCaoSuaChua', path: "g/Gara_DoanhThuCoVan", title: '@Html.Raw(UrlPage.Title_Gara)' + " - Báo cáo sửa chữa" }
    ];
    //=================================
    //Link form khi thay đổi url
    //=================================
    $(window).on('popstate', function (event) {
        $('.xdsoft_datetimepicker').remove();
        $('.daterangepicker').remove();
        checkGetPageForUrl();
    });
    window.onload = function () {
        $(".loading-box").delay(500).fadeOut();
    }
    function checkGetPageForUrl() {
        var url;
        var Urlhash = window.location.hash.split("?");
        if (Urlhash[0].length > 3) {
            url = Urlhash[0].substring(2, Urlhash[0].length);
        }
        else {
            url = Urlhash[0];
        }
        for (var i = 0; i < listmenu.length; i++) {
            if (url.toUpperCase().indexOf(listmenu[i].url.toUpperCase()) > -1
                && url.length === listmenu[i].url.length) {
                   var title  = document.title.split(')').length > 1 ? document.title.split(')')[0] + ') ' + listmenu[i].title : listmenu[i].title;
                   readloadUrl(listmenu[i].url, listmenu[i].path, title);
                break;
            }
            if (i === (listmenu.length - 1)) {
                if ($('#Open24HRM').val() === 'True') {
                    readloadUrl('@UrlPage.TrangChuHRM', "Home/TongQuan", "Open24.vn - Tổng quan");
                }
                else {
                      readloadUrl('@UrlPage.TrangChu', "Home/DashBoard", "Open24.vn - Tổng quan");
                }
            }
        }
    }
    //=================================
    //Lúc đầu load form
    //=================================
    $(document).ready(function () {
        $('.branch').text('');
        $('.branch').attr('id', '');
        loadAny = false;
        checkGetPageForUrl();
    });
    //=================================
    // Click link form trước có 1 số form
    // đang dùng
    //=================================
    function clickloadForm($newUrl) {
        for (var i = 0; i < listmenu.length; i++) {
            if ($newUrl.toUpperCase().indexOf(listmenu[i].url.toUpperCase()) > -1
                && $newUrl.length === listmenu[i].url.length) {
                readloadUrl(listmenu[i].url, listmenu[i].path, listmenu[i].title);
                break;
            }
            if (i === (listmenu.length - 1)) {
                if ($('#Open24HRM').val() === 'True') {
                    readloadUrl('@UrlPage.TrangChuHRM', "Home/TongQuan", "Open24.vn - Tổng quan");
                }
                else {
                    readloadUrl('@UrlPage.TrangChu', "Home/DashBoard", '@Html.Raw(UrlPage.Title_TongQuan)');
                }
            }
        }
    };
    //=================================
    // Hàm thực hiện load link form
    //=================================
    function readloadUrl(url, path, title) {
        $("#MainLayout").HtmlLoader({ pageName: "/" + path, elementId: 'renderbody', parentContainerId: 'MainLayout', title: title });
    }
    //=================================
    // Hàm delay thời gian
    //=================================
    function sleep(time) {
        return new Promise((resolve) =>  setTimeout(resolve, time));
    }
    function showHideScrollBar(pageSize) {
        if (pageSize >= 20) {
            $(".table-reponsive").addClass('height470');
        }
        else {
            $(".table-reponsive").removeClass('height470');
        }
    }
</script>
<meta http-equiv="Content-Security-Policy"
      content="default-src 'none'; script-src 'self'; connect-src 'self' blob:; img-src 'self' data: blob:; style-src 'self' 'unsafe-inline'; font-src 'self';" />
@*<link href="~/Content/open24.less" rel="stylesheet/less" type="text/css" />*@
@*<script src="//cdn.jsdelivr.net/npm/less@3.13"></script>*@
@{
    var shop = (ViewBag.ID_NganhKinhDoanh as string).ToUpper();
    if (shop == "C16EDDA0-F6D0-43E1-A469-844FAB143014")
    {
        <link rel="stylesheet" type="text/css" href="~/Content/Gara.css" />
    }
}

<style>
    :root {
        --dark-main-color: rgba(0, 0, 0, 0.15);
        --white-color: white;
        --sidebar-width: 48px;
        --sidebar-width-expand: 238px;
        --header-height: 40px;
    }


    /* utilities */
    .flex-center {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .align-center {
        display: flex !important;
        align-items: center;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .a-reset {
        color: inherit;
        text-decoration: none;
    }

        .a-reset:focus {
            color: inherit;
            text-decoration: none;
        }

        .a-reset:hover {
            color: inherit;
            text-decoration: none;
        }

    /* =========== Navbar =================*/
    .header-wrap {
        height: inherit;
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
    }
    .header-wrap::before,
    .header-wrap::after {
        content: none;
    }
    .header-wrap .chinhanh {
        padding-right: 12px;
    }

    .header-bars-icon {
        display: inline-block;
        padding: 10px 0;
        width: var(--sidebar-width);
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        color: var(--white-color);
    }

    .header-logo__img {
        width: 76px;
        height: auto;
        margin: 4px 0 0;
    }

    .header-top-right__item {
        color: var(--white-color);
    }
    .header-top-right__item:hover, 
    .header-top-right__item:focus{
        color: var(--white-color);
        text-decoration: none;
    }
    .header-top-right__item #_txtTenDonVi {
        cursor: pointer;
    }

    .sidebar {
        width: var(--sidebar-width-expand);
        overflow-x: hidden;
        height: calc(100vh - 2 * var(--header-height));
        background: var(--color-main);
        transition: width 0.25s ease-in;
        position: absolute;
        top: var(--header-height);
        left: 0;
        z-index: 1000;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .sidebar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .sidebar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .sidebar-item {
        color: var(--white-color);
    }

    .sidebar-item__logo {
        display: none;
    }

    .sidebar-item__link {
        display: block;
        padding: 14px 0;
        position: relative;
    }

        .sidebar-item__link:hover,
        .sidebar-item-list__item:hover {
            background-color: var(--dark-main-color);
        }

    .sidebar-item__icon {
        font-size: 18px;
        width: var(--sidebar-width);
        text-align: center;
    }

    .sidebar-item__hide {
        position: absolute;
        top: 50%;
        left: 44px;
        transform: translateY(-50%);
        width: calc(100% - var(--sidebar-width));
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: opacity 0.15s ease-in;
    }

    .sidebar-item__link-text {
        white-space: nowrap;
        margin-left: 5px;
    }

    .sidebar-item__icon-arrow {
        font-size: 12px;
        margin-right: 12px;
    }

    .sidebar-item-list {
        display: none;
        opacity: 0;
        transition: opacity 0.25s ease-in;
    }

    .sidebar-item-list__item {
        padding: 10px 12px 10px 37px;
    }

    .sidebar-item-list__item-icon {
        display: inline-block;
        font-size: 16px;
        height: 18px;
        width: 44px;
        text-align: center;
    }

    .sidebar-item-list .op-soquy-minus {
        height: 16px;
        background-image: url(../Content/images/icon/op-soquy-minus.svg);
        background-size: 100% 100%;
    }

    .sidebar-item-list .op-soquy-plus {
        height: 18px;
        background-image: url(../Content/images/icon/op-soquy-plus.svg);
        background-size: 100% 100%;
    }

    .sidebar-item-list__item-text {
        white-space: nowrap;
    }

    .op-soquy-minus + .sidebar-item-list__item-text,
    .op-soquy-plus + .sidebar-item-list__item-text {
        position: relative;
        top: 2px;
    }

    .sidebar.active {
        width: var(--sidebar-width);
    }

        .sidebar.active .sidebar-item__hide {
            opacity: 0;
        }

    .sidebar-item__border {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 4px;
        height: 36px;
        background: var(--white-color);
        opacity: 0;
        transition: opacity 0.25s linear;
    }

    .sidebar-item-expandable.active .sidebar-item__border {
        opacity: 1;
    }

    .sidebar-item-expandable.active .sidebar-item__icon-arrow {
        transform: rotate(90deg);
        transition: transform 0.25s linear;
    }

    .sidebar-item-expandable.active + .sidebar-item-list {
        opacity: 1;
    }

    #MainLayout {
        padding-left: var(--sidebar-width-expand);
        transition: padding-left 0.25s ease-in;
    }

    @@media screen and (max-width: 1023px) {
        .sidebar {
            width: var(--sidebar-width);
            height: calc(100vh - var(--header-height));
        }

        .sidebar-item__hide {
            opacity: 0;
        }

        .sidebar.active {
            width: var(--sidebar-width-expand);
        }

            .sidebar.active .sidebar-item__hide {
                opacity: 1;
            }

        .sidebar-item__tooltip {
            display: none;
        }

        #MainLayout {
            padding-left: var(--sidebar-width);
        }
    }

    @@media screen and (max-width: 767px) {
        .sidebar {
            width: 0;
        }

            .sidebar.active {
                width: var(--sidebar-width-expand);
            }

        .header-top-left__logo {
            display: none;
        }

        .sidebar-item__logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #MainLayout {
            padding-left: 0;
        }
    }
</style>


<div class="navbar navbar-default navtop" id="op24-nav">
    <div class="container-fluid header-wrap">@* menu-horizontal *@
        <div class="align-center header-top-left">
            <span class="header-bars-icon fa fa-bars" onclick="handleSidebar();"></span>
            <a href="/#/@UrlPage.TrangChu" class="header-top-left__logo">
                <img class="header-logo__img" src="~/Content/images/banhang24.png" alt="logo">
            </a>
        </div>

        <div class="header-top ">
            <ul class="chinhanh">

                <li style="display:none">
                    <a class="idnhomnguoidung">{{IdNhomNguoiDung}}</a>
                </li>
                <li style="display:none">
                    <a class="idnguoidung">{{IdNguoiDung}}</a>
                </li>
                <li style="display:none" class="hover-round">
                    <a class="idnhanvien">{{IdNhanVien}}</a>
                </li>
                <li class="branch-li ">
                    <input id="hd_IDdDonVi" name="hd_IDdDonVi" type="hidden" v-model="IdDonVi" />
                    <input id="hd_TenDonVi" name="hd_TenDonVi" type="hidden" v-model="TenDonVi" />
                    <a href="javascript: void(0)" class="name-store header-top-right__item" style="display:flex; justify-content:flex-start; align-items:center">
                        <i class="fa fa-map-marker"></i>
                        <label for="female" style="margin:0" id="_txtTenDonVi">{{TenDonVi}}</label>
                    </a>
                    <div class="fillter main-drop" id="divLstChiNhanh" style="padding:5px; background:white">
                        <div style="position:relative; ">
                            @*<input type="search" class="form-control" style="background:white !important" v-model="ChiNhanhSearch" readonly autocomplete="nope" placeholder="Tìm kiếm chi nhánh" onfocus="this.removeAttribute('readonly')">*@
                            <form autocomplete="off"><input type="text" class="form-control" style="background:white !important" v-model="ChiNhanhSearch" autocomplete="off" placeholder="Tìm kiếm chi nhánh"></form>
                            <i class="material-icons " style="position: absolute;top: 12px;left: 7px;font-size: 22px;width: 30px;height: 30px;top: 3px !important;right: 0;left: unset;">search</i>
                        </div>
                        <ul>
                            <li class="cursor-pointer" v-for="itemChiNhanh in ListChiNhanh.filter(p=> commonStatisJs.convertVieToEng(p.TenDonVi).match(commonStatisJs.convertVieToEng(ChiNhanhSearch)))"
                                v-on:click="DoiChiNhanh(itemChiNhanh.ID, itemChiNhanh.TenDonVi)">
                                <span>{{itemChiNhanh.TenDonVi}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="hover-round">
                    <a class="toggle-popup header-top-right__item">
                        <i class="material-icons" style="font-size:18px">notifications</i>
                        <span v-if="Count > 0" class="icon-badge">{{Count}}</span>
                    </a>
                    <div class="main-drop" hidden style=" width:325px; background:white">
                        <div style="border-bottom:1px solid #ccc; padding:7px; display:flex;justify-content:space-between; align-items:center">
                            <label style="margin:0">Thông báo</label>
                            <div style="display:flex;justify-content:space-between; align-items:center">
                                <a v-on:click="doctatca">Đánh dấu đã đọc</a>
                                <div style="position:relative; margin-left:10px;" class="message-dropdown">
                                    <a class="message-archor"><i class="fa fa-cog"></i></a>
                                    <div class="message-popup" hidden>
                                        <div class="checkbox">
                                            <label><input type="checkbox" v-model="isTonKho">Tồn kho</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" v-model="isDieuChuyen">Điều chuyển</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" v-model="isLoHang">Lô hàng</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" v-model="isSinhNhat">Sinh nhật</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="op-thongbao" v-if="Count>0">
                            <ul>
                                <li v-for="item in ListThongBao.slice(0, ThongBaoSize)" v-bind:style="{ background: (item.DaDoc==false ? 'var(--color-secondary )' : 'white') }" style="border-bottom:1px dotted #ccc">
                                    <div class="notifi-left">
                                        <span v-html="item.Image"></span>
                                    </div>
                                    <div class="notifi-right">
                                        <div style="line-height:18px" v-html="item.NoiDungThongBao"></div>
                                        <span style="line-height:18px" class="date-notifi">{{ item.NgayTao }}</span>
                                    </div>
                                </li>
                                <li style="padding:0; background:white" v-if="Count>ThongBaoSize" v-on:click="ThongBaoXemThem">
                                    <a style="    background: white;    text-align: center;    color: black;    width: 100%;    height: 30px;    text-align: center;    display: inline-block;    padding: 7px 12px;    border-top: 1px solid rgba(0,0,0,0.15); ">Xem thêm</a>
                                </li>
                            </ul>
                        </div>
                        <div v-if="Count==0">
                            <div style="text-align:center;padding:7px;">
                                <i>Không có thông báo</i>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="hover-round op-mobile-hidden">
                    <a class="btn-drop header-top-right__item">
                        <i class="fa fa-question-circle "></i>
                    </a>
                    <div class="menu-drop-3  main-drop" style="width:250px; background:var(--color-main)">
                        <div class="menu-drop3" style="width:250px">
                            <ul class="menu-ul-drop">
                                <li>
                                    <a target="_blank" href="https://get.teamviewer.com/qgvaru2">
                                        <div>
                                            <img src="~/Content/images/hotro/iconhotro-10.png" alt="logo teamviewer" />   Tải Teamviewer
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="http://dl2.ultraviewer.net/UltraViewer_setup_6.1_vi.exe">
                                        <div>
                                            <img src="~/Content/images/hotro/iconhotro-11.png" alt="logo ultraviewer" /> Tải Ultraviewer
                                        </div>
                                    </a>
                                </li>
                                <li v-if="!isHRM">
                                    <a target="_blank" href="https://open24.vn/huong-dan-su-dung">
                                        <div>
                                            <img src="~/Content/images/hotro/iconhotro-12.png" alt="hướng dẫn sử dụng" />      Hướng dẫn sử dụng
                                        </div>
                                    </a>
                                </li>
                                <li class="xoadlht" v-if="LaAdmin === 'Admin'">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#xoadulieu">
                                        <div>
                                            <img src="~/Content/images/caidat/caidat-07.png" alt="xóa dữ liệu" />Xóa dữ liệu hệ thống
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" onclick="createShortcut()">
                                        <div>
                                            <img src="~/Content/images/anhhh/th.png" height="18" alt="tạo shortcut" />
                                            Tạo shortcut in nhanh
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="hover-round">
                    <a href="javascript:void(0)" class="header-top-right__item">
                        <i class="fa fa-cog"></i>
                    </a>
                    <div class="menu-drop-3  main-drop" style="width:403px; display:none; background:var(--color-main)">
                        <div class="menu-drop3 ">
                            <ul class=" menu-drop-ul-style-color" style="border-right:1px solid #ccc; padding:7px !important">
                                <li>
                                    <a href="javascript:void(0)" data-id="0" class="bg-1"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="1" class="bg-2"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="2" class="bg-3"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="3" class="bg-4"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="4" class="bg-5"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="5" class="bg-6"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="6" class="bg-7"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="7" class="bg-8"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="8" class="bg-9"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="9" class="bg-10"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="10" class="bg-11"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="11" class="bg-12"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="12" class="bg-13"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="14" class="bg-15"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-id="15" class="bg-16"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-drop3">
                            <ul class="menu-ul-drop">
                                <li class="thietlapchild" v-if="Quyen.indexOf('ThietLapCuaHang') > -1">
                                    <a href="/#/@UrlPage.CD_ThietLapCuaHang">
                                        <div>
                                            <img src="~/Content/images/caidat/caidat-02.png" alt="cài đặt" />
                                            Cài đặt cửa hàng
                                        </div>
                                    </a>
                                </li>
                                <li class="thietlapchild" v-if="Quyen.indexOf('PhongBan_ThemMoi') > -1">
                                    <a href="/#/@UrlPage.CD_SoDo">
                                        <div>
                                            <img src="~/Content/images/giao dich/menu-so-do.png" alt="sơ đồ" />
                                            Cài đặt sơ đồ
                                        </div>
                                    </a>
                                </li>
                                <li class="thietlapchild" v-if="Quyen.indexOf('MauIn') > -1">
                                    <a href="/#/@UrlPage.CD_QuanLyMauIn">
                                        <div>
                                            <img src="~/Content/images/caidat/caidat-03.png" alt="cài đặt" />
                                            Cài đặt mẫu in
                                        </div>
                                    </a>
                                </li>
                                <li class=" chietkhauchild" v-if="Quyen.indexOf('HoaHong_CaiDat') > -1">
                                    <a href="/#/@UrlPage.ChietKhauNew">
                                        <div>
                                            <img src="~/Content/images/hang hoa nhan su/nhan su-30.png" alt="cài đặt" />Cài đặt hoa hồng
                                        </div>
                                    </a>
                                </li>
                                <li class="khuyenmaichild" v-if="Quyen.indexOf('KhuyenMai') > -1">
                                    <a href="/#/@UrlPage.CD_KhuyenMai">
                                        <div>
                                            <i class="fa fa-gift"></i>Cài đặt khuyến mại
                                        </div>
                                    </a>
                                </li>
                                <li class=" chietkhauchild" v-if="Quyen.indexOf('NhatKySuDung') > -1">
                                    <a href="/#/@UrlPage.CD_LichSuHD">
                                        <div>
                                            <img src="~/Content/images/giao dich/menu-nhat-ky-su-dung.png" alt="nhật ký" />Nhật ký sử dụng
                                        </div>
                                    </a>
                                </li>
                                <li style="border-bottom:1px dotted #ccc"></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="hover-round">
                    <a class="btn-drop header-top-right__item">
                        <div style="  border-radius: 20px; overflow: hidden; "><img id="op-avatar" src="@ViewBag.Avatar" style="height: 30px; width: 30px; object-fit: cover; padding: 0px;" /></div>
                    </a>
                    <div class="menu-drop-3  main-drop" style="width:250px; background:var(--color-main)">
                        <div class="menu-drop3" style="width:250px">
                            <ul class="menu-ul-drop">
                                <li class="show-mobile title-menu">
                                    <a href="javascript:void(0)" hidden>
                                        <font style="text-overflow:ellipsis; overflow:hidden;white-space:nowrap" id="txtTenTaiKhoan">{{TenNguoiDung}}</font>
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </a>
                                    <a href="javascript:void(0)" data-toggle="modal" onclick="updisable()">
                                        <i class="fa fa-unlock-alt"></i>
                                        {{TenNguoiDung}}
                                       
                                    </a>
                                </li>
                                <li class="show-mobile">
                                    <a href="/Home/LogOut">
                                        <div>
                                            <i class="fa fa-external-link"></i>Đăng xuất
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-item">
            <a href="/#/@UrlPage.TrangChu" class="sidebar-item__logo">
                <img class="header-logo__img" src="~/Content/images/banhang24.png" alt="logo">
            </a>
        </div>
        <div class="sidebar-item">
            <a href="/#/BanLamViec" data-title="Bàn làm việc" class="a-reset sidebar-item__link" onclick="hideSidebar();" onmouseover="toolTipItem(this);">
                <span class="sidebar-item__icon fa fa-car"></span>
                <div class="sidebar-item__hide">
                    <span class="sidebar-item__link-text">Bàn làm việc</span>
                </div>
            </a>
        </div>
        <div class="sidebar-item" v-for="itemMenu in Menu">
            <a v-bind:href="GetHref(itemMenu.url)" class="a-reset sidebar-item__link sidebar-item-expandable" v-bind:data-title="itemMenu.Title" v-bind:target="TargetUrl(GetHref(itemMenu.url))" onclick="handleSidebarItem(this)" onmouseenter="toolTipItem(this);">
                <span class="sidebar-item__border"></span>
                <span class="sidebar-item__icon" v-bind:class="itemMenu.ClassName"></span>
                <div class="sidebar-item__hide">
                    <span class="sidebar-item__link-text">{{itemMenu.Title}}</span>
                    <span class="sidebar-item__icon-arrow fa fa-chevron-right"></span>
                </div>
            </a>
            <div class="sidebar-item-list">
                <a v-for="itemSubMenu in itemMenu.SubMenu" v-bind:href="GetHref(itemSubMenu.url)" class="align-center a-reset sidebar-item-list__item" onclick="hideSidebar();">
                    <span class="sidebar-item-list__item-icon" v-bind:class="itemSubMenu.ClassName"></span>
                    <span class="sidebar-item-list__item-text">{{itemSubMenu.Title}}</span>
                </a>
            </div>
        </div>
    </div>

</div>
<div class="modal fade  xoadulieu" id="xoadulieu">
    <div class="modal-md modal-dialog draggable  ">
        <div class="modal-content  draggable">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title" id="myModalLabel">
                    Xóa dữ liệu hệ thống
                </h4>
            </div>
            <div class="modal-body ">
                <div class="container-fluid row">
                    <div class="form-group floatleft">
                        <label>Mật khẩu</label>
                        <div class="form-news">
                            <input type="password" id="textPassXoaDl" class="form-control textPassXoaDl">
                            <span class="commodity-note">
                                <i class="fa fa-info-circle"></i>
                                <span href="javascript:void(0)" class="materiall">Là mật khẩu bạn đăng nhập phần mềm</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label class="floatleft">
                            <input type="checkbox" /> Giữ lại danh mục Hàng hóa
                        </label>
                    </div>
                    <div class="form-group floatleft">
                        <label class="floatleft">
                            <input type="checkbox" /> Giữ lại danh mục Khách hàng
                        </label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="container-fluid">

                    <button type="button" class="btn btn-cancel" data-dismiss="modal">
                        <i class="fa fa-ban"></i> Bỏ qua
                    </button>
                    <button type="button" class="btn btn-main" onclick="xoadlhethong()">
                        <i class="fa fa-check-square"></i> Đồng ý
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@*Sửa, xóa người dùng/ lưu nhân viên*@
<div class="modal fade " id="myModal">
    <div id="modalContainerlg_HH" class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <h4 class="modal-title">
                    @banhang24.Resources.ResourceTexts.User
                </h4>
            </div>
            <div class="modal-body ">
                <div class="container-fluid row">
                    <form id="suataikhoan" action="/Shared/CapNhatNguoiDung" method="post">

                        <div class="form-group floatleft">
                            <label class="form-label control-label">Tên người dùng</label>
                            <div class="form-news">
                                <input class="form-control" value="@ViewBag.TenNhanVien" name="txtTenNhanVien" id="txtTenNhanVien" />
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="form-label control-label">Tên đăng nhập</label>
                            <div class="form-news">
                                <input class="form-control" value="@ViewBag.TenTaiKhoan" name="txtTenDangNhap" id="txtTenDangNhap" />
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="form-label control-label">Vai trò</label>
                            <div class="form-news">
                                @Html.Label("LaAdmin", (string)ViewBag.LaAdmin)
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="">Mật khẩu hiện tại</label>
                            <div class="form-news">
                                <input type="password" class="form-control " placeholder="" name="passOld" id="passOld" onchange="checkpassold()">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="">Mật khẩu mới</label>
                            <div class="form-news">
                                <input type="password" class="form-control " placeholder="" name="passNew" id="passNew" onchange="testpass()">
                                <p class="notyfi-check"></p>
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="">Gõ lại mật khẩu mới</label>
                            <div class="form-news">
                                <input type="password" class="form-control " placeholder="" name="passRepeat" id="passRepeat" onchange="checkpass()">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid ">
                    <button class="btn btn-save " id="clicksua" onclick="up()">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Sửa đổi
                    </button>
                    <button type="submit" disabled="disabled" id="clickluu" class="btn btn-save">
                        <i class="fa fa-floppy-o"></i> Lưu
                    </button>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">
                        <i class="fa fa-ban"></i> Bỏ qua
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function handleSidebar() {
        toggleSidebar();

        const isPC = checkScreen();
        const sidebarWidth = 48;
        const expandSidebarWidth = 238;
        if (isPC && $('.sidebar').hasClass('active')) {
            $('#MainLayout').css('padding-left', sidebarWidth + 'px');
        } else if (isPC && !$('.sidebar').hasClass('active')) {
            $('#MainLayout').css('padding-left', expandSidebarWidth + 'px');
        }
    }

    function toggleSidebar() {
        closeSidebarListItem();
        $('.sidebar').toggleClass('active');
    }

    function closeSidebarListItem() {
        $('.sidebar-item-expandable.active').next().slideUp('fast');
        $('.sidebar-item-expandable.active').removeClass('active');
    }

    function checkScreen() {
        const screenWidth = $(window).width();
        const pcScreen = 1024;
        const resultCheck = screenWidth >= pcScreen ? true : false;

        return resultCheck;
    }

    function handleSidebarItem(clickedElm) {
        $(clickedElm).hasClass('active') ? closeSidebarListItem() : openSidebarListItem(clickedElm);
    }

    function openSidebarListItem(clickedElm) {
        const isExpandSidebar = openSidebar();
        let sidebarOpenTime = 0;

        closeCurrentSidebarListItem(clickedElm);
        if (isExpandSidebar) {
            sidebarOpenTime = 250;
        }
        setTimeout(function () {
            $(clickedElm).addClass('active');
            $(clickedElm).next().slideDown('fast');
        }, sidebarOpenTime);
    }

    function openSidebar() {
        const currentSidebarWidth = $('.sidebar').outerWidth();
        const expandSidebarWidth = 238;
        if (currentSidebarWidth < expandSidebarWidth) {
            toggleSidebar();
            return true;
        }
        return false;
    }

    function closeCurrentSidebarListItem(clickedElm) {
        if (!$(clickedElm).hasClass('active')) {
            closeSidebarListItem();
        }
    }


    function hideSidebar() {
        const isPC = checkScreen();

        const isLargeMainLayout = $('#MainLayout').css('padding-left') === '48px' ? true : false;


        if (!isPC && $('.sidebar').hasClass('active')) {
            toggleSidebar();
        }
        else if (isPC && !$('.sidebar').hasClass('active') && isLargeMainLayout) {
            toggleSidebar();
        }
    }

    function toolTipItem(hoveredItem) {
        const isPC = checkScreen();
        const toolTipContent = $(hoveredItem).attr("data-title");

        isPC && $('.sidebar').hasClass('active') ? $(hoveredItem).attr('title', toolTipContent) : $(hoveredItem).removeAttr('title');
    }

</script>

<script>
var VHeader = new Vue({
    el: '#op24-nav',
    data:
    {
        IdDonVi: '',
        TenDonVi: '',
        IdNguoiDung: '',
        TenNguoiDung: '',
        IdNhanVien: '',
        TenNhanVien: '',
        IdNhomNguoiDung: '',
        IdNganhNgheKinhDoanh: '',
        UserLogin:'',
        urlApi: {
            HTApi: '/api/DanhMuc/HT_API/',
            NguoiDungApi: '/api/DanhMuc/HT_NguoiDungAPI/',
            ThietLapApi: '/api/DanhMuc/HT_ThietLapAPI/',
            DonViApi: '/api/DanhMuc/DM_DonViAPI/'
        },
        Menu: [],
        Quyen: [],
        isHRM: false,
        LaAdmin: '',
        ListChiNhanh: [],
        ChiNhanhSearch: '',
        numberPage: 0,
        ListThongBao: [],
        ThongBaoSize: 20,
        Count: 0,
        isTonKho: false,
        isDieuChuyen: false,
        isSinhNhat: false,
        isLoHang: false,
        UrlPage: {
            Danhsachhanghoa: '@UrlPage.Danhsachhanghoa',
            LoHangHoa: '@UrlPage.LoHangHoa',
            TrangChu: '@UrlPage.TrangChu',
            TrangChuHRM: '@UrlPage.TrangChuHRM',
            ThietLapGia: '@UrlPage.ThietLapGia',
            PhieuDieuChinh: '@UrlPage.PhieuDieuChinh',
            TaoPhieuDieuChinh: '@UrlPage.TaoPhieuDieuChinh',
            KiemKho: '@UrlPage.KiemKho',
            TonKho: '@UrlPage.TonKho',
            HoaDon: '@UrlPage.HoaDon',
            DatHang: '@UrlPage.DatHang',
            NhapHang: '@UrlPage.NhapHang',
            NhapHangItem: '@UrlPage.NhapHangItem',
            NhapHangItem2: '@UrlPage.NhapHangItem2',
            TraHang: '@UrlPage.TraHang',
            TraHangNhap: '@UrlPage.TraHangNhap',
            TraHangNhapChiTiet: '@UrlPage.TraHangNhapChiTiet',
            TraHangNhapChiTiet2: '@UrlPage.TraHangNhapChiTiet2',
            XuatHuy: '@UrlPage.XuatHuy',
            PhieuXuatHuy: '@UrlPage.PhieuXuatHuy',
            XuatKhoChiTiet: '@UrlPage.XuatKhoChiTiet',
            ChuyenHang: '@UrlPage.ChuyenHang',
            ChuyenHangChiTiet: '@UrlPage.ChuyenHangChiTiet',
            ChuyenHangChiTiet2: '@UrlPage.ChuyenHangChiTiet2',
            KhachHang: '@UrlPage.KhachHang',
            NhaCungCap: '@UrlPage.NhaCungCap',
            TuVan: '@UrlPage.TuVan',
            LichHen: '@UrlPage.LichHen',
            PhanHoi: '@UrlPage.PhanHoi',
            SoQuy: '@UrlPage.SoQuy',
            SoQuy2: '@UrlPage.SoQuy2',
            BC_BanHang: '@UrlPage.BC_BanHang',
            R_NhapHang: '@UrlPage.R_NhapHang',
            R_TaiChinh: '@UrlPage.R_TaiChinh',
            R_DatHang: '@UrlPage.R_DatHang',
            R_ChietKhau: '@UrlPage.R_ChietKhau',
            R_ChietKhau1: '@UrlPage.R_ChietKhau1',
            R_BanHang: '@UrlPage.R_BanHang',
            R_Kho: '@UrlPage.R_Kho',
            R_GoiDichVu: '@UrlPage.R_GoiDichVu',
            R_NhanVien: '@UrlPage.R_NhanVien',
            NhanVien: '@UrlPage.NhanVien',
            ChietKhau: '@UrlPage.ChietKhau',
            ChietKhauNew: '@UrlPage.ChietKhauNew',
            CD_ChiNhanh: '@UrlPage.CD_ChiNhanh',
            CD_KhuyenMai: '@UrlPage.CD_KhuyenMai',
            CD_LichSuHD: '@UrlPage.CD_LichSuHD',
            CD_NguoiDung: '@UrlPage.CD_NguoiDung',
            CD_NguoiDung_2: '@UrlPage.CD_NguoiDung_2',
            CD_QuanLyMauIn: '@UrlPage.CD_QuanLyMauIn',
            CD_SoDo: '@UrlPage.CD_SoDo',
            CD_ThietLapCuaHang: '@UrlPage.CD_ThietLapCuaHang',
            NguoiLienHe: '@UrlPage.NguoiLienHe',
            Congviec: '@UrlPage.Congviec',
            LichHen1: '@UrlPage.LichHen1',
            GoiDichVu: '@UrlPage.GoiDichVu',
            DichVuSMS: '@UrlPage.DichVuSMS',
            CD_TaiKhoan: '@UrlPage.CD_TaiKhoan',
            CaLamViec: '@UrlPage.CaLamViec',
            PhanCongCaLamViec: '@UrlPage.PhanCongCaLamViec',
            OptinForm: '@UrlPage.OptinForm',
            OptinFormKH: '@UrlPage.OptinFormKH',
            OptinFormLH: '@UrlPage.OptinFormLH',
            datlich: '@UrlPage.datlich',
            DanhSachDangKyOptinForm: '@UrlPage.DanhSachDangKyOptinForm',
            R_TheGiaTri: '@UrlPage.R_TheGiaTri',
            NapTienTheGiaTri: '@UrlPage.NapTienTheGiaTri',
            Calendar: '@UrlPage.Calendar',
            KyTinhCong: '@UrlPage.KyTinhCong',
            ChamCong: '@UrlPage.ChamCong',
            ChamCong2_1: '@UrlPage.ChamCong2_1',
            BangLuong: '@UrlPage.BangLuong',
            BangLuongChiTiet: '@UrlPage.BangLuongChiTiet',
            LoaiBaoHiem: '@UrlPage.LoaiBaoHiem',
            KhenThuongKyLuat: '@UrlPage.KhenThuongKyLuat',
            TongQuanNhanSu: '@UrlPage.TongQuanNhanSu',
            QuanLyMayChamCong: '@UrlPage.QuanLyMayChamCong',
            TaiDuLieuMayChamCong: '@UrlPage.TaiDuLieuMayChamCong',
            Nhahang: '@UrlPage.Nhahang',
            DanhMucXe: '@UrlPage.DanhMucXe',
            BanLamViec: '@UrlPage.BanLamViec',
            Gara: '@UrlPage.Gara',
            TongQuanGara: '@UrlPage.TongQuanGara',
            BaoHiem: '@UrlPage.BaoHiem',
            DanhSachXe: '@UrlPage.DanhSachXe',
            DanhSachPhieuTiepNhan: '@UrlPage.DanhSachPhieuTiepNhan',
            HoaDonSuaChua: '@UrlPage.HoaDonSuaChua',
            BaoCaoSuaChua: '@UrlPage.BaoCaoSuaChua'
        }
    },
    methods:
    {
        GetQuyenAndMenu: function () {
            let self = this;
            let myData = {};
            myData.IdNguoiDung = self.IdNguoiDung;
            myData.IdDonVi = self.IdDonVi;
            $.ajax({
                url: self.urlApi.HTApi + "InitHeaderMenu",
                type: 'POST',
                dataType: 'json',
                data: myData,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (data) {
                    if (data.res === true) {
                        self.Menu = data.dataSoure.Menu;
                        self.Quyen = data.dataSoure.Quyen;
                        localStorage.setItem('lc_CTQuyen', JSON.stringify(self.Quyen));
                    }
                    else {
                        commonStatisJs.ShowMessageDanger("Có lỗi xảy ra trong quá trình tải dữ liệu. Vui lòng kiểm tra lại.");
                    };
                    $("#op24-nav >div").css("opacity", "1");
                }
            });
        },
        LoadCaiDat: function () {
            let self = this;
            $.ajax({
                url: self.urlApi.NguoiDungApi + 'GetCaiDatThongBao?id_nguoidung=' + self.IdNguoiDung,
                success: function (item) {
                    if (item.NhacSinhNhat === false) {
                        localStorage.setItem('NotifyBirth', false);
                    }
                    else {
                        localStorage.setItem('NotifyBirth', true);
                    }
                    if (item.NhacTonKho === false) {
                        localStorage.setItem('NotifyTonKho', false);
                    }
                    else {
                        localStorage.setItem('NotifyTonKho', true);
                    }
                    if (item.NhacDieuChuyen === false) {
                        localStorage.setItem('NotifyDieuChuyen', false);
                    }
                    else {
                        localStorage.setItem('NotifyDieuChuyen', true);
                    }
                    if (item.NhacLoHang === false) {
                        localStorage.setItem('NotifyLoHang', false);
                    }
                    else {
                        localStorage.setItem('NotifyLoHang', true);
                    }
                }
            });
        },
        GetCauHinhHeThong: function () {
            let self = this;
            $.ajax({
                url: self.urlApi.ThietLapApi + 'GetCauHinhHeThong?id=' + self.IdDonVi,
                success: function (item) {
                    localStorage.setItem('lc_CTThieTLap', JSON.stringify(item));
                }
            });
        },
        GetHref: function (url) {
            if (url === "")
                return 'javascript:void(0)'
            else {
                if (url.indexOf('/') > -1) {
                    return url;
                }
                else {
                    return '/#/' + url;
                }
            }
        },
        TargetUrl: function (url)
        {
            //check run pwas
            if (window.matchMedia('(display-mode: standalone)').matches || (window.navigator.standalone) || document.referrer.includes('android-app://')) {
                return '_self'
            }
            else {
                if (url.includes("/$") || url.includes("/g") || url.includes("/BanLamViec")) {
                    return '_blank'
                } else {
                    return '_self'
                }
            }
        },
        LoadChiNhanh: function () {
            let self = this;
            $.ajax({
                url: self.urlApi.DonViApi + "GetListDonVi_User",
                type: 'GET',
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (data) {
                    if (data !== null) {
                        self.ListChiNhanh = data;
                    }
                    else {
                        commonStatisJs.ShowMessageDanger("Có lỗi xảy ra trong quá trình tải dữ liệu. Vui lòng kiểm tra lại.");
                    }
                }
            });
        },
        DoiChiNhanh: function (iddv, txt) {
            var rememberme = localStorage.chkbx;
            $.ajax({
                url: '/Home/KeepSession?id=' + iddv + '&checkremember=' + rememberme,
                success: function () {
                    $("#_txtTenDonVi").html(txt).trigger("fnLabelChanged");
                    bottomrightnotify('<i class="fa fa-check" aria-hidden="true"></i>' + "Bạn vừa chuyển sang chi nhánh: " + txt + ", màn hình bán hàng sẽ được tải lại theo chi nhánh mới", "success");
                }
            });
        },
        GetThongBao: function () {
            var self = this;
            $.ajax({
                url: "/Shared/SearchPageMessage?numberPage=" + 0 + '&notifyBirth=' + self.isSinhNhat + '&notifyTonKho=' + self.isTonKho + '&notifyDieuChuyen=' + self.isDieuChuyen + '&notifyLoHang=' + self.isLoHang,
                type: 'GET',
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (result) {
                    if (result.res != true) {
                    }
                    else {
                        self.numberPage = 0;
                    }
                    self.ListThongBao = [];
                    self.Count = result.CountTB;
                    loadCountThongBao(result.CountTB);
                    var item = self.ListThongBao;
                    item.push.apply(item, result.data);
                    self.ListThongBao = item;
                    return self.ListThongBao;
                }
            });
        },
        LoadCauHinhThongBao: function () {
            var self = this;
            $.ajax({
                url: '/api/DanhMuc/HT_NguoiDungAPI/' + 'GetCaiDatThongBao?id_nguoidung=' + self.IdNguoiDung,
                type: 'GET',
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (data) {
                    //kiem tra xem co ton tai localstorage thong bao ko/ neu khong dung fetch;
                        var local_lohang = localStorage.getItem("NotifyLoHang");
                        var local_tonkho = localStorage.getItem("NotifyTonKho");
                        var local_sinhnhat = localStorage.getItem("NotifyBirth");
                        var local_dieuchuyen = localStorage.getItem("NotifyDieuChuyen");
                     //tonkho
                        if (local_tonkho === undefined) {
                            if (data.NhacTonKho === true) {
                                self.isTonKho = true;
                            } else {
                                self.isTonKho = false;
                            }
                        } else {
                            self.isTonKho = JSON.parse(local_lohang);
                        };
                        //dieuchuyen
                        if (local_dieuchuyen === undefined) {
                            if (data.NhacDieuChuyen === true) {
                                self.isDieuChuyen = true;
                            } else {
                                self.isDieuChuyen = false;
                            }
                        } else {
                            self.isDieuChuyen = JSON.parse(local_dieuchuyen);
                        };
                        //sinhnhat
                        if (local_sinhnhat === undefined) {
                            if (data.NhacSinhNhat === true) {
                                self.isSinhNhat = true;
                            } else {
                                self.isSinhNhat = false;
                            }
                        } else {
                            self.isSinhNhat = JSON.parse(local_sinhnhat);
                        };
                        //lohang
                        if (local_lohang === undefined) {
                            if (data.NhacDieuChuyen === true) {
                                self.isLoHang = true;
                            } else {
                                self.isLoHang = false;
                            }
                        } else {
                            self.isLoHang = JSON.parse( local_lohang)
                        };
                }
            });
        },
        SetStyle: function (item) {
            return item.DaDoc == false ? "#d0f5f2" : "white";
        },
        ThongBaoXemThem: function ()
        {
            let self = this;
            self.ThongBaoSize = self.ThongBaoSize + 20;
        },
        doctatca: function () {
            let self = this;
            $.ajax({
                url: self.urlApi.NguoiDungApi + 'UpdateDaDocAll?nguoidoc=' + self.IdNguoiDung + '&iddonvi=' + self.IdDonVi,
                success: function (item) {
                    self.ListThongBao = self.ListThongBao.map(p => ({
                        DaDoc: true,
                        Image: p.Image,
                        NgayTao: p.NgayTao,
                        NoiDungThongBao: p.NoiDungThongBao
                    }));
                    self.Count = 0;
                }
            });
        },
    },
    created: function () {
        let self = this;
        self.IdDonVi = '@ViewBag.ID_DonVi';
        self.TenDonVi = "@Html.Raw(ViewBag.TenDonVi)";
        self.IdNguoiDung = '@ViewBag.ID';
        self.TenNhanVien = "@Html.Raw(ViewBag.TenNhanVien)";
        self.IdNhomNguoiDung = '@ViewBag.IDNhomNguoiDung';
        self.IdNhanVien = '@ViewBag.ID_NhanVien';
        self.TenNguoiDung = "@Html.Raw(ViewBag.TenTaiKhoan)";
        self.LaAdmin = "@Html.Raw(ViewBag.LaAdmin)";
        self.IdNganhNgheKinhDoanh = '@ViewBag.ID_NganhKinhDoanh'.toUpperCase();
        self.UserLogin = '@ViewBag.TenTaiKhoan';
        self.LoadChiNhanh();
        self.GetQuyenAndMenu();
        self.LoadCaiDat();
        self.GetCauHinhHeThong();
        self.LoadCauHinhThongBao();
    },
    watch: {
        isTonKho: function (val) {
            localStorage.setItem('NotifyTonKho', val);
            this.GetThongBao();
        },
        isDieuChuyen: function (val) {
            localStorage.setItem('NotifyDieuChuyen', val);
            this.GetThongBao();
        },
        isLoHang: function (val) {
            localStorage.setItem('NotifyLoHang', val);
            this.GetThongBao();
        },
        isSinhNhat: function (val) {
            localStorage.setItem('NotifyBirth', val);
            this.GetThongBao();
        },
    }
    });
    function loadCountThongBao(Count) {
        document.title = document.title.split(')').length > 1 ? (Count > 0 ? "(" + Count + ") " + document.title.split(')')[1] : document.title.split(')')[1])
            : (Count > 0 ? "(" + Count + ") " + document.title : document.title);
    }
</script>
<script>
    $('.menu-drop-ul-style-color').on('click', 'li', function () {
        LocalCaches.SetThemeColor(parseInt($(this).find('a').data('id')));
        commonStatisJs.ChangeThemeColor(parseInt($(this).find('a').data('id')));
        $('.menu-drop-ul-style-color li').each(function () {
            $(this).removeClass('active-color');
        });
        $(this).addClass('active-color');
    });
    function updisable() {
        var url = "/#/profile";
        window.open(url);
    }
    function xoadlhethong() {
        var checkxoahanghoa = 0;
        var checkxoakhachhang = 0;
        var pass = $('#textPassXoaDl').val();
        var taikhoan = $('#txtTenTaiKhoan').text();
        if (pass === "") {
            bottomrightnotify('<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ' + "Xin vui lòng điền mật khẩu để xóa dữ liệu!", "danger");
            $('#textPassXoaDl').focus();
            return false;
        }
        if ($('.checkhanghoaxoa input').is(':checked')) {
            checkxoahanghoa = 1;
        }
        if ($('.checkkhachhangxoa input').is(':checked')) {
            checkxoakhachhang = 1;
        }
        var model = { tenTaiKhoan: taikhoan, pass: pass };
        $.ajax({
            url: '/api/DanhMuc/HT_NguoiDungAPI/' + 'CheckMatKhauKhiXoaDL',
            type: 'POST',
            data: model,
            dataType: 'json',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function (item) {
                if (item === "") {
                    hidewaitHH('xoadulieu');
                    $.ajax({
                        url: '/api/DanhMuc/HT_ThietLapAPI/' + 'DeleteDuLieuHeThong?checkhh=' + checkxoahanghoa + '&checkkh=' + checkxoakhachhang,
                        success: function (item) {
                            bottomrightnotify('<i class="fa fa-check" aria-hidden="true"></i>' + "Xóa dữ liệu thành công!", "success");
                            $('#wait').remove();
                            var objDiary = {
                                ID_NhanVien: VHeader.IdNhanVien,
                                ID_DonVi: $('#hd_IDdDonVi').val(),
                                ChucNang: "Xóa dữ liệu hệ thống",
                                NoiDung: "Xóa dữ liệu hệ thống, người xóa:" + taikhoan,
                                NoiDungChiTiet: "Xóa dữ liệu hệ thống, người xóa:" + taikhoan,
                                LoaiNhatKy: 21 // 1: Thêm mới, 2: Cập nhật, 3: Xóa, 4: Hủy, 5: Import, 6: Export, 7: Đăng nhập
                            };
                            var myData = {};
                            myData.objDiary = objDiary;
                            $.ajax({
                                url: '/api/DanhMuc/SaveDiary/' + "post_NhatKySuDung",
                                type: 'POST',
                                async: true,
                                dataType: 'json',
                                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                data: myData,
                                success: function (item) {
                                },
                                statusCode: {
                                    404: function () {
                                    },
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    bottomrightnotify('<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ' + "Ghi nhật ký sử dụng thất bại!", "danger");
                                },
                                complete: function () {
                                }
                            })
                            location.reload();
                        }
                    });
                } else {
                    bottomrightnotify('<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ' + "Mật khẩu không chính xác xin nhập lại!", "danger");
                    $('#textPassXoaDl').focus().select();
                }
            }
        });
    }
    function loadthongbao(item, maload, id)
    {
        if (item == 1) {
            $.ajax({
                url: '/api/DanhMuc/HT_NguoiDungAPI/' + 'UpdateNguoiDocTB?idtb=' + id + '&nguoidoc=' + VHeader.IdNguoiDung,
                success: function (item) {
                    localStorage.setItem('loadMaHang', maload);
                    window.location.href = "/#/" + '@UrlPage.Danhsachhanghoa';
                }
            });
        }
        if (item == 2) {
            $.ajax({
                url: '/api/DanhMuc/HT_NguoiDungAPI/' + 'UpdateNguoiDocTB?idtb=' + id + '&nguoidoc=' + VHeader.IdNguoiDung,
                success: function (item) {
                    localStorage.setItem('FindHD', maload);
                    window.location.href = "/#/" + '@UrlPage.ChuyenHang';
                }
            });
        }
        if (item == 3) {
            $.ajax({
                url: '/api/DanhMuc/HT_NguoiDungAPI/' + 'UpdateNguoiDocTB?idtb=' + id + '&nguoidoc=' + VHeader.IdNguoiDung,
                success: function (item) {
                    localStorage.setItem('FindKhachHang', maload);
                    window.location.href = "/#/" + '@UrlPage.KhachHang';
                }
            });
        }
        if (item == 4) {
            $.ajax({
                url: '/api/DanhMuc/HT_NguoiDungAPI/' + 'UpdateNguoiDocTB?idtb=' + id + '&nguoidoc=' + VHeader.IdNguoiDung,
                success: function (item) {
                    localStorage.setItem('FindLoHang', maload);
                    window.location.href = "/#/" + '@UrlPage.LoHangHoa';
                }
            });
        }
    }
    function loaddadoc(id) {
        $.ajax({
            url: '/api/DanhMuc/HT_NguoiDungAPI/' + 'UpdateNguoiDocTB?idtb=' + id + '&nguoidoc=' + VHeader.IdNguoiDung,
            success: function (item) {
                //ReturnLoadThongBao();
            }
        });
    }
    function unique(array) {
        return $.grep(array, function (el, index) {
            return index == $.inArray(el, array);
        });
    }
    function checkpassold() {
        document.getElementById("clickluu").disabled = true;
        var passOld = $('#passOld').val();
        var taikhoan = $('#txtTenTaiKhoan').text();
        var model = { tenTaiKhoan: taikhoan, pass: passOld };
        $.ajax({
            url: '/api/DanhMuc/HT_NguoiDungAPI/' + 'CheckMatKhauKhiXoaDL',
            type: 'POST',
            data: model,
            dataType: 'json',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function (item) {
                if (item === "") {
                    document.getElementById("passNew").disabled = false;
                } else {
                    document.getElementById("passNew").disabled = true;
                    document.getElementById("passRepeat").disabled = true;
                    bottomrightnotify('<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ' + "Mật khẩu hiện tại không chính xác xin nhập lại!", "danger");
                    $('#passOld').focus().select();
                }
            }
        });
    }
    function checkpass() {
        document.getElementById("clickluu").disabled = true;
        $('.notyfi-check').css('display', 'block');
        var passnew = $('#passNew').val();
        var passrepeat = $('#passRepeat').val();
        if (passnew !== passrepeat) {
            $('.notyfi-check').html('Mật khẩu nhập lại không khớp nhau');
            $('#passRepeat').focus();
        } else {
            document.getElementById("clickluu").disabled = false;
            $('.notyfi-check').css('display', 'none');
        }
    }
    function testpass() {
        document.getElementById("clickluu").disabled = true;
        $('.notyfi-check').css('display', 'block');
        document.getElementById("passRepeat").disabled = true;
        var passnew = $('#passNew').val();
        var passrepeat = $('#passRepeat').val();
        if (passnew !== passrepeat && passrepeat !== "") {
            $('.notyfi-check').html('Mật khẩu nhập lại không khớp nhau');
            $('#passRepeat').focus();
            return false;
        } else {
            if (passrepeat !== "") {
                document.getElementById("clickluu").disabled = false;
                $('.notyfi-check').css('display', 'none');
            }
            else {
                document.getElementById("clickluu").disabled = true;
                $('.notyfi-check').css('display', 'block');
            }
        }
        var specialChars = "<>!#$%^&*()+[]{}?:;|'\"\\,./~`="
        var check = function (string) {
            for (i = 0; i < specialChars.length; i++) {
                if (string.indexOf(specialChars[i]) > -1) {
                    return true
                }
            }
            return false;
        }
        if (passnew.length < 6) {
            $('.notyfi-check').text('Mật khẩu chứa ít nhất 6 ký tự');
            $('#passNew').select();
            document.getElementById("passRepeat").disabled = true;
        } else if (passnew.length > 50) {
            $('.notyfi-check').text("Mật khẩu chứa nhiều nhất 50 ký tự");
            $('#passNew').select();
            document.getElementById("passRepeat").disabled = true;
        } else if (passnew.search(/\d/) === -1) {
            $('.notyfi-check').text("Mật khẩu phải chứa ít nhất 1 chữ số");
            $('#passNew').select();
            document.getElementById("passRepeat").disabled = true;
        } else if (passnew.search(/[a-zA-Z]/) === -1) {
            $('.notyfi-check').text("Mật khẩu phải chứa ít nhất 1 chữ cái");
            $('#passNew').select();
            document.getElementById("passRepeat").disabled = true;
        } else if (check(passnew) === true) {
            $('.notyfi-check').text("Mật khẩu không được chứa ký tự đặc biệt");
            $('#passNew').select();
            document.getElementById("passRepeat").disabled = true;
        } else {
            document.getElementById("passRepeat").disabled = false;
            $('.notyfi-check').css('display', 'none');
        }
    }
    function hidewaitHH(o) {
        $('.' + o).append('<div id="wait"><img src="/Content/images/wait.gif" width="64" height="64" /><div class="happy-wait">' +' </div>' +'</div>')    }
    function createShortcut() {
        $.ajax({
            url: "/Home/CreateShortcut",
            type: "POST",
            success: function (data) {
            }
        });
    }
    function locdau(obj) {
        if (!obj)
            return "";
        var str = obj.trim();
        str = str.toLowerCase();
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/^\-+|\-+$/g, "");
        // Some system enBaoHiemode vietnamese combining accent as individual utf-8 characters
        str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // Huyền sắc hỏi ngã nặng
        str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // Â, Ê, Ă, Ơ, Ư
        return str;
    }
    $(window).on('load', function (e) {
        var chatframe = document.querySelectorAll("iframe[title='chat widget']");
    });
    $('#LinkKyHieuChamCong').on('click', function () {
        vmKyHieuCong.ModalShow();
    });
    $('#LinkNgayNghiLe').on('click', function () {
        vmNgayNghiLe.ModalShow();
    });
    //Biến local lưu trữ trạng thái navbar
    //đánh dấu dong được chọn trong bảng dữ liệu với class tr-focus
    $("table > tbody > tr.prev-tr-hide").on("click", function () {
        alert(1);
        $(this).siblings().removeClass("tr-focus");
        $(this).addClass("tr-focus");
        if ($("#MainLayout").hasClass("width-200")) {
            $(this).next().find(".op-object-detail ").addClass("tab-500");
        } else {
            $(this).next().find(".op-object-detail ").removeClass("tab-500");
        }
    })

    
    function openSubmenu(ele) { // jquery doesnt work well with vue. idk. just add a function and it work, this is the way
        if ($(document).width() < 1280) {
            $(ele).parent().siblings().children("ul").slideUp();
            $(ele).parent().siblings().children("a").find(".fa-angle-down").removeClass("up");
            $(ele).find(".fa-angle-down").toggleClass("up");
            if ($(ele).next().is(":visible") == true) {
                $(ele).find(".fa-angle-down").removeClass("up");
                $(ele).next().slideUp();
            } else {
                $(ele).next().slideDown();
                $(ele).find(".fa-angle-down").addClass("up");
            }
        }
    }
    $('#op-avatar').on("error", function () {
        $(this).attr('src', '/Content/empty-avatar.png');
    });
    $(document).ready(function () {
        $("#gohome").click(function () {
            $(".w560").show();
            $(".300").hide();
        }
        )
        $("#gopay").click(function () {
            $(".w560").hide();
            $(".300").show();
        }
        )


       
    })
</script>
