@using Model_banhang24vn.Common

@using Open24.Areas.AdminPage.Hellper
<div class="header-top">

    <div class="container container-header">
        <div class="wrapper-container header-z">
            <div class="navbar-header">
                <a href="/" class="logo">
                    <h2>
                        <img src="~/Content/images/logoOpen.png" alt="Phần mềm quản lý kinh doanh và bán hàng toàn diện Open24">
                    </h2>
                </a>
            </div>
            <div style="float:right">
                <div class="canvas navbar-menu">
                    <div class="collapse menu-main navbar-collapse navbar-right navbar-bt">
                        <ul class="nav navbar-nav ">
                            <li class="li-main @Html.IsActive("Home", "GioiThieu")">
                                <a href="/gioi-thieu">Giới thiệu</a>
                            </li>
                            <li class='li-main @Html.IsActive("Home", "TinhNang")'>
                                <a class="a-main" href="javascript:void(0)">Sản phẩm</a>
                                <div class="menu-fun">
                                    <div class="col-md-4 border-right menu-fun-left">
                                        <h5> Mô hình kinh doanh đặc thù</h5>
                                        <ul class=" ul-fun ul-border-none">
                                            <li class="@Html.IsActive("Open24", "Spa")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleSpaTMV">Spa, thẩm mỹ viện</a>
                                            </li>
                                            <li class="@Html.IsActive("Open24", "Salon")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleSalonGym">Salon tóc</a>
                                            </li>
                                            <li class="@Html.IsActive("Open24", "Garaoto")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleOtoXeMay">Gara ô tô</a>
                                            </li>
                                            <li class="@Html.IsActive("Open24", "NhaHang")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleNhaHangCafe">Nhà hàng</a>
                                            </li>
                                            @*<li class="@Html.IsActive("Open24", "PhongKham")">
                                        <a href="/@MaNganhNgheKinhDoanh.TitlePhongKham">Phòng khám</a>
                                    </li>*@
                                        </ul>
                                    </div>
                                    <div class="col-md-8 menu-fun-right">
                                        <h5>Mô hình kinh doanh bán lẻ</h5>
                                        <ul class=" ul-fun">
                                            <li class="@Html.IsActive("Open24", "VanPhongPham")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleVanPhongPham">Văn phòng phẩm</a>
                                            </li>
                                            <li class="@Html.IsActive("Open24", "NoiThat")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleNoiThat">Nội thất</a>
                                            </li>
                                            <li class="@Html.IsActive("Open24", "NhaThuoc")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleNhaThuoc">Nhà thuốc</a>
                                            </li>
                                            <li class="@Html.IsActive("Open24", "ThoiTrang")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleThoiTrangPK">Thời trang, phụ kiện</a>
                                            </li>
                                            <li class="@Html.IsActive("Open24", "MyPham")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleMyPham">Mỹ phẩm</a>
                                            </li>
                                        </ul>
                                        <ul class=" ul-fun ul-border-none">
                                            <li class="@Html.IsActive("Open24", "NongSan")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleNongSanTP">Nông sản thực phẩm</a>
                                            </li>
                                            <li class="@Html.IsActive("Open24", "DoChoi")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleDoChoiTreEm">Đồ chơi trẻ em</a>
                                            </li>
                                            <li class="@Html.IsActive("Open24", "SieuThi")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleSieuThi">Siêu thị mini</a>
                                            </li>
                                            <li class="@Html.IsActive("Open24", "PhuTung")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitlePhuTung">Phụ tùng </a>
                                            </li>
                                            <li class="@Html.IsActive("Open24", "LinhVucKhac")">
                                                <a href="/@MaNganhNgheKinhDoanh.TitleOther">Lĩnh vực khác</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class='li-main @Html.IsActive("Open24", "KhachHang")'>
                                <a class="a-main" href="~/khach-hang">Khách hàng</a>
                            </li>
                            @*<li class='li-main @Html.IsActive("Open24", "LandingPage")'>
                        <a class="a-main" href="~/LandingPage">LandingPage</a>
                    </li>*@
                            <li class='li-main @Html.IsActive("Open24", "HopTac")'>
                                <a class="a-main" href="/gioi-thieu-khach-hang">Hợp tác</a>
                            </li>

                            <li class='li-main '>
                                <a class="a-main" href="javascript:void(0)">Hỗ trợ</a> <i class="fa fa-caret-down" aria-hidden="true" style="display:none"></i>
                                <ul class="ul-children">


                                    <li class="@Html.IsActive("Home", "Contact")">
                                        <a href="~/lien-he">Liên hệ</a>
                                    </li>

                                    <li class="@Html.IsActive("Home", "HoTroPhanMem")">
                                        <a href="~/huong-dan-su-dung">Hướng dẫn sử dụng</a>
                                    </li>
                                </ul>
                            </li>
                            <li class='li-main @Html.IsActive("Open24", "TinTuc")'>
                                <a class="a-main" href="~/tin-tuc">Tin tức</a>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="navbar-login">
                    <div class="login-inner">
                        <a href="" class="login login-dang-nhap" data-toggle="modal" data-target="#login" style="background:#005AA3" >
                            Đăng nhập
                        </a>
                        <a href="/dung-thu-mien-phi" class="login login-dang-ky ">
                            Đăng ký
                        </a>

                        <a href="javascript:void(0)" class="click-menu">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>

                    <div class="nav menu-main-mobile ">
                        <ul>

                            <li class="">
                                <a href="/gioi-thieu">Giới thiệu</a>
                            </li>
                            <li class="">
                                <a href="/@Model_banhang24vn.Common.MaNganhNgheKinhDoanh.TitleOther">Sản phẩm</a>
                            </li>
                            <li class="">
                                <a href="~/khach-hang">Khách hàng</a>
                            </li>
                            <li class="">
                                <a href="/gioi-thieu-khach-hang">Hợp tác</a>
                            </li>

                            <li class="icon-mobile">
                                <a href="">Hỗ trợ</a>
                                <i class="fa fa-caret-down "></i>
                                <ul class="ul-children-mobile">
                                    <li>
                                        <a href="~/lien-he">Liên hệ</a>
                                    </li>
                                    <li>
                                        <a href="~/huong-dan-su-dung">Hướng dẫn sử dụng</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="~/tin-tuc">Tin tức</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

</div>
