@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Open24.vn - Quên mật khẩu</title>

    <link rel="stylesheet" href="@Html.WriteRenderFile(Styles.Url("~/Content/CssFramework"))" />
    <link rel="stylesheet" href="@Html.WriteRenderFile(Styles.Url("~/Content/Open24Css"))" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
</head>
<html>
<body>
    <div id="wrapper">
        @if (@TempData["Message"] != null && @TempData["Message"].ToString() == "OK")
        {
            <div class="sus-pass text-center">
                <h3 class="text-center pabot20">Thành công !</h3>
                <p>
                    Bạn vui lòng kiểm tra email...Để nhận lại mật khẩu mới
                </p>
                <div class="floatleft padingtop">
                    <button class="login">  Đồng ý</button>
                </div>
            </div>

        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="forgotpass">
                    <h3 class="text-center pabot20">Quên mật khẩu</h3>
                    <div class="form-group floatleft">
                        <label>Email đăng ký</label>
                    </div>
                    <div class="form-group floatleft">
                        <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="Nhập email" />
                        <span style="color: red;">@TempData["Message"]</span>
                    </div>
                    <div class="floatleft padingtop">
                        <button class="login" type="submit"><i class="fa fa-envelope"></i>  Lấy mật khẩu</button>
                        <button class="login pull-right" onclick="window.history.go(-1); return false;"><i class="fa fa-mail-reply-all"></i> Quay lại </button>
                    </div>
                </div>
            }
        }
    </div>
</body>
</html>