@using banhang24.Controllers
@using System.Web.Optimization
@using Model;
@{
    ViewBag.Title = "Open24.vn - Tổng quan";
    Layout = null;
}
<link href="~/Content/dcalendar.picker.css" rel="stylesheet" />
<style>
    .office {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        height: 69PX;
    }

    .bold-strokes {
        font-size: 16px;
        font-weight: bold;
    }

    .size-font {
        font-size: 16px;
    }

    .between {
        line-height: 20px;
    }

    .overview-left {
        margin-bottom: 20px;
    }

    .size-number {
        font-size: 25px;
    }

    .color-KT {
        color: #32b7b3;
    }

    .color-KD {
        color: #f8772a;
    }

    .color-MKT {
        color: #f9b632;
    }

    .color-TK {
        color: #0081d2;
    }

    .color-hopdong {
        color: #0081d2;
    }

    .color-gioitinh {
        color: #f9b632;
    }

    .align-row {
        background-color: #f6f7fa;
        margin-bottom: 20px;
        margin-left: 30PX;
        margin-right: 20PX;
    }

    .list-group {
        padding-top: 5px;
    }

    .list-group-item {
        border: 0;
        padding: 0px;
        margin: 5px;
    }

    .badge {
        width: 22px;
        height: 22px;
        padding: 5px 3px;
        border-radius: 30px;
        background-color: #f9b632;
    }

    .calendar-wrapper {
        width: 100%;
    }

    .calendar-grid .calendar-date-holder {
        width: 100%;
    }

    .datachoose {
        overflow: hidden;
    }
    .content-right-remind ul li {
        width: 100%;
        padding-left: 5px;
        border-bottom: 1px dotted #999;
        line-height: 30px;
        padding-right: 20px;
        font-size: 14px;
        position: relative;
    }
    .ac-title
    {
        font-size:14px;
    }
    .content-right-remind ul {
        padding: 50px 20px 20px 20px;
    }

    .content-right-remind .ac-title:before {
        font-family: FontAwesome;
        position: absolute;
        bottom: 0;
        left: 111px;
        font-size: 18px;
        top: 15px;
        content: "\f0f3";
        color: #32b7b3;
    }

    .content-right-remind .ac-title {
        position: relative;
        height: 50px;
        line-height: 20px;
        background: white;
        z-index: 99999;
        font-size: 14px;
    }

    .price-color, .db-header-chart .dropdown span {
        color: var(--color-main);
    }

    .time-note {
        color: #919192;
        font-size: 12px !important;
        margin-bottom:5px;
    }
        .time-note i {
            font-size: 16px;
            color: #ccc;
            padding-right: 5px;
        }
    .content-right-time ul {
        padding-right: 20px;
        padding-left: 20px;
    }

        .content-right-time ul li {
            float: left;
            border-bottom: 1px dotted #ccc;
            color: black;
            line-height: 18px;
            font-size: 14px;
            width: 100%;
            padding-top: 10px;
            position: relative;
            padding-left: 35px;
        }

            .content-right-time ul li:before {
                font-family: FontAwesome;
                /* font-weight: 400; */
                position: absolute;
                font-size: 22px;
                bottom: 0;
                left: 0px;
                top: 13px;
                content: "\f017";
                color: #f8772a;
            }

    .content-right-time {
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .tab-dashboard .img-user {
        width: 300px;
        float: left;
        text-align: center;
    }
    .tab-dashboard .content-user {
        width: calc(100% - 300px);
        float: left;
        margin-bottom: 15px;
    }
    .content-user
    {
        padding-left:15px;
    }
    .img-trai-gai {
        width: 158px;
        float:left
    }
    .content-user .col-md-6 .db-user-girl-boy {
        width: calc(100% - 158px);
        float: left;
        margin-top: 120px;
        padding-left: 50px;
    }
    .content-user i {
        color: var(--color-main);
        font-size:24px;
    }
    .img-user p, .content-user p {
        font-weight: bold;
        font-size: 18px
    }
    .img-user p span, .content-user p span {
        font-size:28px;
        color: var(--color-main);
    }
    .title-db {
        font-size: 16px;
        font-weight: bold;
        color: var(--color-main);
        padding-left: 30px;
    }
    .highcharts-credits{
        display:none;
    }
    .db-header-chart {
        padding: 15px 20px 30px 0px;
    }
        .db-header-chart .pull-right .dropdown-menu li a i{
           float:right;
        }
</style>
<div style="background-color:#f6f7fa; padding-top:15px;">
    <div class="container " >
        <div class="row tongquan" style=" padding-left: 18px;">
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="hello-admin">
                    <img src="~/Content/images/home/h4.png" height="25" />
                    <span class="bold" style="font-size:16px;">
                        Xin chào:
                    </span>
                    <span class="bold UseDangNhap_"  style="font-size:15px; color:var(--color-main); "> @ViewBag.TenNhanVien</span> Chúc bạn một ngày làm việc hiệu quả !
                </div>
                <div class="col-md-12 content-left-sections">
                    <div class="db-header-chart">

                        <span class="title-db"><strong data-bind="text:Title"></strong> </span>
                    </div>
                    <div class="tab-dashboard">
                        <div class="img-user">
                            <div class="db-left">
                                <img src="~/Content/images/Open24HRM/Op-hrm-user-all.png" />
                                <p>Nhân sự </p>
                                <p><span data-bind="text:UserAll">1000</span> (người) </p>
                            </div>
                            <div class="db-right">
                                <i class="fa fa-transgender" aria-hidden="true" style="     position: absolute;
                                font-size: 40px;
                                top: 75px;
                                left: 270px;
                                color: var(--color-main);"></i>
                            </div>
                        </div>
                        <div class="content-user">
                        </div>
                    </div>
                    <div class="tab-dashboard tab-col-12">
                        <div class="img-user">
                        </div>
                        <div class="content-user" style="float:right">
                            <div class="col-md-6">
                                <img src="~/Content/images/Open24HRM/icon-nam.png"class="img-trai-gai" />
                                <div class="db-user-girl-boy">
                                    <i class="fa fa-mars" aria-hidden="true" ></i>
                                    <p><span data-bind="text:UserBoy">700</span>(người)</p>
                                </div>
                                </div>
                            <div class="col-md-6">
                                <img src="~/Content/images/Open24HRM/icon-nu.png" class="img-trai-gai"/>
                                <div class="db-user-girl-boy">
                                    <i class="fa fa-venus" aria-hidden="true" ></i>
                                    <p><span data-bind="text:UserGirl">300</span>(người)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 content-left-sections">
                    <div class="db-header-chart">
                        <span class="title-db">Biểu đồ nhân sự theo phòng ban </span>
                        <div class="btn-group pull-right" style="margin-top: -7px" id="ChartPhongBanSI">
                            <div type="button" class="dropdown month3" data-toggle="dropdown" aria-expanded="true" aria-haspopup="true">
                                <span data-bind="text:NameChartPhongBan">Tháng này</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </div>
                            <div>
                                <ul class="dropdown-menu dropdown-menu-right month-oll">
                                    @for (int i = 0; i < commonEnumHellper.ListTimeChart.Count; i++)
                                    {
                                        if (i ==2)
                                        {
                                            <li data-id="@commonEnumHellper.ListTimeChart.ToList()[i].Key"><a href="javascript:void(0)">@commonEnumHellper.ListTimeChart.ToList()[i].Value<i class="fa fa-check check-after-litr"></i></a></li>
                                        }
                                        else if (i >2)
                                        {
                                            <li data-id="@commonEnumHellper.ListTimeChart.ToList()[i].Key"><a href="javascript:void(0)">@commonEnumHellper.ListTimeChart.ToList()[i].Value</a></li>
                                        }
                                    }

                                </ul>
                            </div>
                        </div>
                       </div>
                    <div class="col-md-12 db-chart">
                        <div id="ChartPhongBan"></div>
                    </div>

                    </div>
                <div class="col-md-12 content-left-sections">
                    <div class="db-header-chart">
                    <span class="title-db">Biểu đồ nhân sự theo loại hợp đồng </span>
                      <div class="btn-group pull-right" style="margin-top: -7px" id="ChartLoaiHopDongSI">
                        <div type="button" class="dropdown month3" data-toggle="dropdown" aria-expanded="true" aria-haspopup="true">
                            <span data-bind="text:NameChartLoaiHopDong" >Tháng này</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <div>
                            <ul class="dropdown-menu dropdown-menu-right month-oll" >
                                @for (int i = 0; i < commonEnumHellper.ListTimeChart.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        <li data-id="@commonEnumHellper.ListTimeChart.ToList()[i].Key"><a href="javascript:void(0)">@commonEnumHellper.ListTimeChart.ToList()[i].Value<i class="fa fa-check check-after-litr"></i></a></li>
                                    }
                                    else
                                    {
                                        <li data-id="@commonEnumHellper.ListTimeChart.ToList()[i].Key"><a href="javascript:void(0)">@commonEnumHellper.ListTimeChart.ToList()[i].Value</a></li>
                                    }
                                }
                              
                            </ul>
                        </div>
                    </div>
                        </div>
                    <div class="col-md-12 db-chart">
                        <div id="ChartHopDong"></div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div >
                    <div class=" content-right-remind datachoose bg-white1 ">
                        <table id="datein" class="calendar"></table>
                    </div>
                    <div class="content-right-time floatleft bg-white1">
                        <div class="ac-title floatleft">
                            Nhật ký hoạt động
                        </div>
                        <ul  data-bind="foreach:DiaryBH">
                            <li>
                                <p data-bind="text:NoiDung">Thêm mới hợp đồng nhân viên</p>
                                <p class="time-note"><i class="fa fa-user" ></i> <span data-bind="text:TenNhanVien"/></p>
                                <p class="time-note" ><i class="fa fa-clock-o" aria-hidden="true" ></i><span data-bind="text: moment(ThoiGian).format('DD/MM/YYYY HH:mm')"></span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.db-header-chart .btn-group').on('click', '.dropdown', function () {
        $(this).next('div').find('.dropdown-menu').toggle()
        
    });
</script>

<script src="~/Content/js/dcalendar.picker.js"></script>
@Scripts.Render("~/bundles/TongQuanHRM")

