
@using Open24.Areas.AdminPage.Hellper
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="vi"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      itemscope="itemscope"
      itemtype="http://schema.org/WebPage">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription)" />
    <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)" />
    <meta property="fb:app_id" content="1992802757652987">
    <meta property="fb:admins" content="100004299791963">
    <meta name="google-site-verification" content="1-wYjpsvOFwOLbv6DXzi4OAjYRrKuWxTtDEiUbbd-A0" />
    <link rel="canonical" href="@Html.Raw(ViewBag.UrlPage)">
    <link rel="icon" href="~/Content/images/open24.vn.png" type="image/gif">
    <script type='text/javascript' src='//c.trazk.com/c.js?_key=1588205822' async="async"></script>

    @Styles.Render("~/bundles/LayoutOpen24")
    <script src="//code.jquery.com/jquery-1.11.1.min.js" async="async"></script>
    @*<link rel="stylesheet" href="~/Content/css/NewUI.css" />*@
    
</head>
<body>
    
    @Html.Partial("~/Views/Open24/_Header.cshtml")
    <div class="container-body">
        @RenderBody()
    </div>
    @Html.Partial("~/Views/Open24/_Footer.cshtml")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/public")
    @RenderSection("scripts", required: false)
    <div class="bg-fuzzy"></div>
    <a id="toTop"><i class="fa fa-angle-up"></i></a>

    <script>
       
        AOS.init({
            duration: 1200,
            disable: 'mobile'
        })
  
        @* animation detail card in GaraDetail Page TNS 18012021 *@
        $(".accordion .accordion-head").click(function () {
            if ($(this).next("div").is(":visible")) {
                $(this).next("div").slideUp("normal");
                $(this).find('i').removeClass('arrow-open').addClass('arrow-close');
            } else if
                ($(this).next("div").is(":hidden")) {
                $(this).next("div").slideDown("normal");
                $(this).find('i').removeClass('arrow-close').addClass('arrow-open');
            } else {
                $(".accordion-body").slideUp("normal");
                $(this).next("div").slideToggle("normal");
                $(this).find('i').removeClass('arrow-open').addClass('arrow-close');
            }
        });

        $(".accordion-mobile .accordion-mobile-head").click(function () {
            if ($(this).next("div").is(":visible")) {
                $(this).next("div").slideUp("normal");
            } else if
                ($(this).next("div").is(":hidden")) {
                $(this).next("div").slideDown("normal");
            } else {
                $(".accordion-mobile-body").slideUp("normal");
                $(this).next("div").slideToggle("normal");
            }
        });
        @* view detail card in GaraDetail Page TNS 18012021 *@


        $(window.document).on('hide.bs.modal', '#modalPopup_CHDK', function () {
            $("#register").hide();
            $("#ViewNganhNgheKD").show();
        });

        function btnTruyCapCuaHangClick() {
            window.location = 'https://' + document.getElementById("truycapDiaChiCuaHang").value + '.open24.vn';
        }

        $(document).ready(function () {
        localStorage.setItem("KeyNganhNghe", '@ViewBag.NganhNghe');
            $(".navbar-menu .menu-main ul li.li-main")
                .mouseenter(function () {
                    $(this).find('ul').show();
                    $(this).find('.menu-fun').show();
                })
                .mouseleave(function () {
                    $(this).find('ul').hide(); $(this).find('.menu-fun').hide();
                });
            $('.click-menu').on('click', function () {
                $('.menu-main-mobile').toggleClass("visi");
            });
        });

        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 50) {
                //$(".header-top").addClass("active");
                $(".home-logo").addClass("active");
                $(".nav-menu").addClass("active");
                $(".nav_login").addClass("active");
            } else {
                //$(".header-top").removeClass("active");
                $(".home-logo").removeClass("active");
                $(".nav-menu").removeClass("active");
                $(".nav_login").removeClass("active");
            }
        });
    </script>
</body>
</html>

<!-- Facebook Pixel Code -->
<script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2292624924318484');
        fbq('track', 'PageView');

</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=2292624924318484&ev=PageView&noscript=1" />
</noscript>


@*Global site tag (gtag.js) - Google Analytics*@
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145069938-1"></script>
<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-145069938-1');
</script>

<div class="modal fade in" id="login">
    <div id="modalContainer_delete" class="modal-dialog modal-sx">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid row" style="margin-bottom:15px">
                    <button class="close" type="button" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title ">Truy cập vào cửa hàng Open24</h4>
                </div>
                <div class="form-group adress">
                    <input type="text" class="form-control" placeholder="Tên cửa hàng" id="truycapDiaChiCuaHang">
                    <span>.open24.vn</span>
                </div>
                <div class=" fL  text-center P20">
                    <a id="btnTruyCapCuaHang" style="background:var(--color-theme)" class="btn-updata" onclick="btnTruyCapCuaHangClick()">Truy cập cửa hàng</a>
                </div>

            </div>
        </div>
    </div>
</div>