@using Open24.Areas.AdminPage.Hellper
@using Open24.Appcache
@using System.Web.Optimization
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="vi"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      itemscope="itemscope"
      itemtype="http://schema.org/WebPage">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription)" />
    <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)" />
    <meta property="fb:app_id" content="1992802757652987">
    <meta property="fb:admins" content="100004299791963">
    <meta name="google-site-verification" content="1-wYjpsvOFwOLbv6DXzi4OAjYRrKuWxTtDEiUbbd-A0" />
    <link rel="canonical" href="@Html.Raw(ViewBag.UrlPage)">
    <link rel="icon" href="~/Content/images/open24.vn.png" type="image/gif">
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    @Styles.Render("~/bundles/Css")
    @Styles.Render("~/bundles/Open24Css")
    @Scripts.Render("~/bundles/Js")
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/Open24Js")
    
</head>
<body>
    @Html.Partial("~/Views/Open24/_Header.cshtml")
    <div class="container-body">
        @RenderBody()
    </div>
    @Html.Partial("~/Views/Open24/_Footer.cshtml")
    <a id="toTop"><i class="fa fa-angle-up"></i></a>
    <div class="wrap-btn-call-to-action phone">
        <a href="tel:0936363069" target="_blank" rel="nofollow">
            <img width="41" height="40" src="~/Content/images/open24/IconHomePage/icon-phone-cta.svg" class="img-responsive" alt="Phone">
            <span class="number-phone">Gọi ngay</span>
        </a>
    </div>
    <div class="wrap-btn-call-to-action zalo">
        <a href="https://chat.zalo.me/?phone=0936363069" target="_blank" rel="nofollow">
            <img width="41" height="39" src="~/Content/images/open24/IconHomePage/icon-zalo-cta.svg" class="img-responsive" alt="zalo chat">
            <span class="number-phone">Zalo chat</span>
        </a>
    </div>
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "114252172574861");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v12.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        AOS.init({
            duration: 1200,
            disable: 'mobile'
        })
        @* animation detail card in GaraDetail Page TNS 18012021 *@
        $(window.document).on('hide.bs.modal', '#modalPopup_CHDK', function () {
            $("#register").hide();
            $("#ViewNganhNgheKD").show();
        });
        function btnTruyCapCuaHangClick() {
            window.location = 'https://' + document.getElementById("truycapDiaChiCuaHang").value + '.open24.vn';
        }
        $(document).ready(function () {
        localStorage.setItem("KeyNganhNghe", '@ViewBag.NganhNghe');
            $(".navbar-menu .menu-main ul li.li-main")
                .mouseenter(function () {
                    $(this).find('ul').show();
                    $(this).find('.menu-fun').show();
                })
                .mouseleave(function () {
                    $(this).find('ul').hide(); $(this).find('.menu-fun').hide();
                });
            $('.click-menu').on('click', function () {
                $('.menu-main-mobile').toggleClass("visi");
            });
        });
    </script>
</body>
</html>
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2292624924318484');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=2292624924318484&ev=PageView&noscript=1" />
</noscript>
@*Global site tag (gtag.js) - Google Analytics*@
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145069938-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-145069938-1');
</script>
<!--Modal login-->
<div class="modal fade in" id="login">
    <div id="modalContainer_delete" class="modal-dialog modal-sx">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid row" style="margin-bottom:15px">
                    @*<button class="close" type="button" data-dismiss="modal"><i class="fa fa-times"></i></button>*@
                    <h4 class="modal-title ">Truy cập vào cửa hàng Open24</h4>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Tên cửa hàng" id="truycapDiaChiCuaHang">
                    <span class="input-group-text">.open24.vn</span>
                </div>
                <div class=" fL  text-center P20">
                    <a id="btnTruyCapCuaHang" style="background:var(--color-theme)" class="btn-updata" onclick="btnTruyCapCuaHangClick()">Truy cập cửa hàng</a>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Open24/_ModalTuVanOpen24.cshtml")
<script>
    AOS.init();
</script>
<script>
    function ToggleNext(ele) {
        $(ele).next().slideToggle()
        $(ele).children("a").toggleClass("arrow-up")
    }
</script>
