@using System.Web.Optimization;
@using banhang24.Hellper;
@{
    Layout = null;
    ViewBag.Title = "Open24.vn - Chuyển Hàng";
}
<link href="~/Content/Dathang.css" rel="stylesheet" />
<div class="op-container">
    <div class="col-left">
        <div class=" op-filter">
            <section class="op-filter-body">
                <!--ko if: ChiNhanhs().length > 1 -->
                <article class="boxLeft ">
                    <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                        <img src="/Content/images/icon/loaithuchi.png">  Chi nhánh
                    </h3>
                    <aside class="op-filter-container">
                        <div class="outselect">
                            <div class="outselect outselectDV">
                                <div class="choose-person floatleft " data-toggle="dropdown" id="choose_TenDonVi">
                                    <ul data-bind="foreach: MangNhomDV">
                                        <li class="li-input-span">
                                            <span data-bind="text: TenDonVi">
                                            </span>
                                            <span data-bind="click: $parent.CloseDV">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                    <input type="text" id="dllChiNhanh" readonly="readonly" class="dropdown" placeholder="Chọn chi nhánh" />
                                </div>
                                <div class="selec-person dropdown-menu floatleft" id="selec-all-DV">
                                    <ul data-bind="foreach: ChiNhanhs ">
                                        <li data-bind="attr:{id: ID}, click: $parent.selectedCN">
                                            <span data-bind="text: TenDonVi"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                </article>
                <!--/ko-->
                <article class="boxLeft">
                    <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                        <img src="~/Content/images/icon/thoigian.png" />       Thời gian
                    </h3>
                    <aside class="op-filter-container">
                        <div class="menuCheckbox">
                            <div class="form-group floatleft">
                                <div class="radio-menu">
                                    <input type="radio" data-bind="checked: filterNgayLapHD" value="0" />
                                </div>
                                <div class="conten-choose">
                                    <div class=" choose-date ">
                                        <div data-toggle="dropdown" aria-expanded="true">
                                            <input type="text" class="dropdown form-control choose-date-show" autocomplete="off" placeholder="Toàn thời gian" id="txtNgayTao">
                                        </div>
                                        <div class="dropdown-menu choseNgayTao">
                                            <div class="col-md-4 col-sm-4">
                                                <h3>Theo ngày và tuần</h3>
                                                <ul>
                                                    <li value="1"><a href="javascript:void(0);">Hôm nay</a></li>
                                                    <li value="2"><a href="javascript:void(0);">Hôm qua</a></li>
                                                    <li value="3"><a href="javascript:void(0);">Tuần này</a></li>
                                                    <li value="4"><a href="javascript:void(0);">Tuần trước</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <h3>Theo tháng và quý</h3>
                                                <ul>
                                                    <li value="6"><a href="javascript:void(0);">Tháng này</a></li>
                                                    <li value="7"><a href="javascript:void(0);">Tháng trước</a></li>
                                                    <li value="10"><a href="javascript:void(0);">Quý này</a></li>
                                                    <li value="11"><a href="javascript:void(0);">Quý trước</a></li>
                                                </ul>
                                            </div><div class="col-md-4 col-sm-4">
                                                <h3>Theo năm</h3>
                                                <ul>
                                                    <li value="12"><a href="javascript:void(0);">Năm này</a></li>
                                                    <li value="13"><a href="javascript:void(0);">Năm trước</a></li>
                                                    <li value="0"><a href="javascript:void(0);">Toàn thời gian</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group floatleft">
                                <div class="radio-menu">
                                    <input type="radio" data-bind="checked: filterNgayLapHD" value="1" />
                                </div>
                                <div class="conten-choose">
                                    <div class="floatleft form-wrap ">
                                        <input type='text' class="form-control daterange" id="txtNgayTaoInput" placeholder="23/12/2017" name="daterange"
                                               data-bind="value: filterNgayLapHD_Input, enable: filterNgayLapHD()!=='0'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </article>
                <article class="boxLeft">
                    <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                        <img src="~/Content/images/icon/trangthai.png" />
                        Trạng thái
                    </h3>
                    <aside class="op-filter-container">
                        <div class="menuCheckbox">
                            <ul>
                                <li>
                                    <label><input type="checkbox" data-bind="checked: ckDangChuyen"> Đang Chuyển</label>
                                </li>
                                <li>
                                    <label><input type="checkbox" data-bind="checked: ckPhieuTam"> Phiếu tạm</label>
                                </li>
                                <li>
                                    <label><input type="checkbox" data-bind="checked: ckDahuy"> Đã hủy</label>
                                </li>
                                <li>
                                    <label><input type="checkbox" data-bind="checked: ckDaNhan"> Đã nhận</label>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </article>
            </section>
            <div class="op-filter-footer">
                <button type="button" class="btn btn-link" style="color:red" onclick="closeFilter()">Hủy</button>
                <button type="button" class="btn btn-link" onclick="collapseSubFilter(this)">
                    <span>Thu gọn</span>
                </button>
                <button type="button" class="btn btn-link" style="display:none" onclick="expandSubFilter(this)">
                    <span>Mở rộng</span>
                </button>
                <button type="button" class="btn btn-main kv2Btn" onclick="closeFilter()">Hoàn tất</button>
            </div>
        </div>
    </div>
    <div class="col-right">
        <div class="op-header">
            <div class="op-header-title">
                <h2 class="pull-left title"> @banhang24.Resources.ResourceTexts.Exchange / Chuyển hàng</h2>
            </div>
            <div class="flex flex-between">
                <div class="op-header-button">
                    <div class=" header-button-left">
                        <!--ko if: $root.Show_BtnInsert()-->
                        <div class="btn-group" style="margin-right: 5px;" data-bind="click: clickChuyenHang">
                            <button type="button" class="btn btn-main dropdown-toggle btn-main">
                                <i class="fa fa-plus"></i><font>Thêm mới</font>
                            </button>
                        </div>
                        <!--/ko-->
                        <!--ko if: $root.Show_BtnExcelDetail()-->
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-main dropdown-toggle" data-toggle="dropdown" data-bind="click: ExportExcel_ChuyenHang">
                                <i class="glyphicon glyphicon-export"></i>
                                Xuất file
                            </button>
                        </div>
                        <!--/ko-->
                        <div class="btn-dropdown">
                            <button type="button" class="btn btn-main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="showCollumnFilter(this)">
                                <i class="fa fa-angle-double-down"></i>
                            </button>
                            <div class="dropdown-list" id="myList">
                                <ul data-bind="foreach: ListCheckBox">
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="checkbox" checked="checked" data-bind="value: Key">
                                                <span></span>
                                                <label class="nopadding" data-bind="text: Value"></label>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="op-search">
                        <input type="text" class="form-control" id="txtSearchCH" placeholder="Theo mã phiếu chuyển" data-bind="value: filter, valueUpdate: 'afterkeydown'" autocomplete="off">
                        <button type="button" class="op-search-button" data-bind="click: $root.clickiconSearch">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <button class="btn btn-main op-filter-toggle" onclick="showFilter()" title="Hiển thị bộ lọc"><i class="material-icons">sort</i></button>
                </div>
            </div>
        </div>
        <div class="content-table ">
            <input id="loaiHoaDon" value="@ViewBag.LoaiHoaDon" style="display:none" />
            <div class="table-reponsive bangchung table-frame">
                <table class="table-new table-hover" id="tb">
                    <thead class="thead-boder">
                        <tr>
                            @foreach (var item in commonEnum.ListColumnTransfers)
                            {
                                <th class="@item.Key">
                                    <a href="javascript:void(0)">@item.Value</a>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: HoaDons">
                        <tr class="prev-tr-hide" data-bind="click: $parent.LoadChiTietHD,css:{bggray : $index()%2 == 1}">
                            <td class="@commonEnum.ColumnTransfers.mahoadon" data-bind="text: MaHoaDon, style: { color: (TongTienHang > TongChiPhi) && NguoiSua=='4' ? 'red' : 'black' }"></td>
                            <td class="@commonEnum.ColumnTransfers.chinhanhchuyen" data-bind="text: TenDonVi"></td>
                            <td class="@commonEnum.ColumnTransfers.nguoichuyen" data-bind="text: NguoiTao"></td>
                            <td class="@commonEnum.ColumnTransfers.chinhanhnhan" data-bind="text: TenDonViChuyen"></td>
                            <td class="@commonEnum.ColumnTransfers.nguoinhan" data-bind="text: NguoiTaoHD"></td>
                            <td class="@commonEnum.ColumnTransfers.ngaychuyen"><span data-bind="text: moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm')!='Invalid date'? moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm'):''"></span></td>
                            <td class="@commonEnum.ColumnTransfers.ngaynhan"><span data-bind="text: moment(NgaySua).format('DD/MM/YYYY HH:mm')!='Invalid date'? moment(NgaySua).format('DD/MM/YYYY HH:mm'):''"></span></td>
                            <td class="@commonEnum.ColumnTransfers.giatrichuyen text-right" data-bind="text: $root.HangHoa_XemGiaVon()? formatNumber3Digit(TongTienHang,2) : 0"></td>
                            <td class="@commonEnum.ColumnTransfers.giatrinhan text-right" data-bind="text: $root.HangHoa_XemGiaVon()? formatNumber3Digit(TongChiPhi,2) : 0"></td>
                            <td class="@commonEnum.ColumnTransfers.ghichu" data-bind="text: DienGiai"></td>
                            <td class="@commonEnum.ColumnTransfers.trangthai" data-bind="text: YeuCau"></td>
                        </tr>
                        <tr class="op-js-tr-hide">
                            <td colspan="12">
                                <div class="op-object-detail ">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab">Thông tin</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active">
                                            <div class="op-object-detail ">
                                                <div class="op-object-detail-left">
                                                    <div class="form-group floatleft">
                                                        <label class="css-form-label">Mã chuyển:</label>
                                                        <div class="css-form-detail">
                                                            <span data-bind="text: MaHoaDon">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group floatleft">
                                                        <label class="css-form-label">Từ chi nhánh:</label>
                                                        <div class="css-form-detail">
                                                            <span data-bind="text: TenDonVi">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group floatleft">
                                                        <label class="css-form-label">Ngày chuyển:</label>
                                                        <div class="css-form-detail ">
                                                            <span data-bind="text: moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm')!='Invalid date'? moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm'):''"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group floatleft ">
                                                        <label class="css-form-label">Ngày nhận:</label>
                                                        <div class="css-form-detail">
                                                            <span data-bind="text: moment(NgaySua).format('DD/MM/YYYY HH:mm')!='Invalid date'? moment(NgaySua).format('DD/MM/YYYY HH:mm'):''"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group floatleft ">
                                                        <label class="css-form-label">Người nhận:</label>
                                                        <div class="css-form-detail">
                                                            <span class="css-form-detail " data-bind="text: NguoiTaoHD"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group floatleft ">
                                                        <label class="css-form-label">Người tạo:</label>
                                                        <div class="css-form-detail">
                                                            <span class="css-form-detail " data-bind="text: NguoiTao">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group floatleft ">
                                                        <label class="css-form-label">Tới chi nhánh:</label>
                                                        <div class="css-form-detail">
                                                            <span data-bind="text: TenDonViChuyen">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group floatleft">
                                                        <label class="css-form-label">Trạng thái:</label>
                                                        <div class="css-form-detail">
                                                            <span data-bind="text: YeuCau">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group floatleft border-end">
                                                        <label class="css-form-label">Ghi chú:</label>
                                                        <div class="css-form-detail">
                                                            <textarea class="floatleft" data-bind="value: DienGiai" placeholder="Ghi chú..."></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="op-object-detail-right btn-function" style="margin-left:0">
                                                    <div class="table-res">
                                                        <table class="table-filter  table-detal">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="col-md-3 header-title-filter">
                                                                            Mã hàng hóa  <span class="glyphicon glyphicon-search icon-filter"></span>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <div class="right-inner-addon" hidden>
                                                                                <span class="glyphicon glyphicon-search"></span>
                                                                                <input type="text" class="form-control" data-bind="event:{keyup:$root.FilterHangHoaChildren}, attr:{id: 'txtSearch' + ID}" placeholder="Tìm kiếm chi tiết hàng hóa">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <span class="glyphicon glyphicon-chevron-left  icon-filter2" hidden></span>
                                                                        </div>
                                                                    </th>
                                                                    <th>Tên hàng</th>
                                                                    <th>Đvt</th>
                                                                    <th data-bind="visible: $root.checkThietLapLoHang() === true">Lô hàng</th>
                                                                    <th>Số lượng chuyển</th>
                                                                    <th>Số lượng nhận</th>
                                                                    <th class="text-right">Giá chuyển/nhận</th>
                                                                    <th>Ghi chú</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody data-bind="foreach: $parent.BH_HoaDonChiTiets">
                                                                <tr>
                                                                    <td>
                                                                        <span data-bind="text: commonStatisJs.SubStringContent(MaHangHoa,15)"></span>
                                                                        <span data-bind="text: Del" style="color:red"></span>
                                                                    </td>
                                                                    <td>
                                                                        <span data-bind="text: commonStatisJs.SubStringContent(TenHangHoa,30)"></span>
                                                                        <span data-bind="text: ThuocTinh_GiaTri" style="color:#ff6a00"></span>
                                                                    </td>
                                                                    <td>
                                                                        <span style="color: #8abb0f" data-bind="visible: TenDonViTinh">
                                                                            <span data-bind="text: TenDonViTinh"></span>
                                                                        </span>
                                                                    </td>
                                                                    <td data-bind="visible: $root.checkThietLapLoHang() === true">
                                                                        <span data-bind="visible: MaLoHang">
                                                                            <a data-bind="click: $root.linkLoHangHoa"><span data-bind="text: MaLoHang" style="color:palevioletred"></span></a>
                                                                        </span>
                                                                    </td>
                                                                    <td data-bind="text: formatNumber3Digit(SoLuong)"></td>
                                                                    <td data-bind="text: (YeuCau == '1' || YeuCau == '2')? 0 : formatNumber3Digit(GiamGia,2), style: { color: (SoLuong > GiamGia) && GiamGia !==0 ? 'red' : 'black' }"></td>
                                                                    <td class="text-right" data-bind="text: $root.HangHoa_XemGiaVon()? formatNumber3Digit(DonGia,2) : 0"></td>
                                                                    <td data-bind="text: GhiChu"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!--ko if: $root.TotalRecordCTNH() > 10-->
                                                        <div class="page">
                                                            <div class="flex flex-end">
                                                                <a href="#" data-bind="click: $root.StartPageCTNH, visible: $root.VisibleStartPageCTNH"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                                                <a href="#" data-bind="click: $root.BackPageCTNH, visible: $root.VisibleStartPageCTNH "><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                                                <ul data-bind="foreach: $root.PageListCTNH">
                                                                    <li>
                                                                        <a href="javascript:void(0)" data-bind="text: pageNumberCTN, click: $root.GoToPageCTNH, css: $root.GetClassCTNH($data)"></a>
                                                                    </li>
                                                                </ul>
                                                                <a href="#" data-bind="click: $root.GoToNextPageCTNH, visible: $root.VisibleEndPageCTNH "><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                                                <a href="#" data-bind="click: $root.EndPageCTNH, visible: $root.VisibleEndPageCTNH "><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                                                <div class="total-recos">Hiển thị <span data-bind="text: $root.fromitemCTNH"></span> - <span data-bind="text: $root.toitemCTNH"></span> trên tổng số <span data-bind="text: $root.TotalRecordCTNH()"></span> mã hàng.</div>
                                                            </div>
                                                        </div>
                                                        <!--/ko-->
                                                    </div>
                                                    <div class="container-fluid nopadding op-table-summary">
                                                        <div class="col-md-5 footer-total-detail pull-right">
                                                            <div class="floatleft sum-prduct">
                                                                <div class="col-xs-5 col-sm-5  col-lg-7 text-right">
                                                                    Tổng số mặt hàng :
                                                                </div>
                                                                <div class="col-xs-7 col-sm-7 col-lg-5 text-right">
                                                                    <div class="row" data-bind="text: $root.BH_HoaDonChiTietsThaoTac().length">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="floatleft sum-prduct">
                                                                <div class="col-xs-5 col-sm-5  col-lg-7 text-right">
                                                                    Tổng số lượng hàng chuyển:
                                                                </div>
                                                                <div class="col-xs-7 col-sm-7 col-lg-5 text-right">
                                                                    <div class="row" data-bind="text: formatNumber3Digit($root.TongSLChuyen())">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="floatleft sum-prduct">
                                                                <div class="col-xs-5 col-sm-5  col-lg-7 text-right">
                                                                    Tổng giá trị chuyển:
                                                                </div>
                                                                <div class="col-xs-7 col-sm-7 col-lg-5 text-right">
                                                                    <div class="row" data-bind="text: $root.HangHoa_XemGiaVon()? formatNumber3Digit(TongTienHang,2) : 0">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="floatleft sum-prduct" data-bind="visible: NguoiSua =='4'">
                                                                <div class="col-xs-5 col-sm-5  col-lg-7 text-right">
                                                                    Tổng số lượng hàng nhận:
                                                                </div>
                                                                <div class="col-xs-7 col-sm-7 col-lg-5 text-right">
                                                                    <div class="row" data-bind="text: formatNumber3Digit($root.TongSLNhan())">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="floatleft sum-prduct" data-bind="visible: NguoiSua =='4'">
                                                                <div class="col-xs-5 col-sm-5  col-lg-7 text-right">
                                                                    Tổng giá trị nhận:
                                                                </div>
                                                                <div class="col-xs-7 col-sm-7 col-lg-5 text-right">
                                                                    <div class="row" data-bind="text: $root.HangHoa_XemGiaVon()? formatNumber3Digit(TongChiPhi,2) : 0">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex flex-end flex-row flex-wrap container-fluid">
                                                    <!--ko if: $root.Show_BtnEdit() && $root.Enable_NgayLapHD()-->
                                                    <button href="javascript:void(0)" class="btn btn-main" data-bind="click: function(){$parent.ChiTietMoPhieuTL($data,2)}">
                                                        <i class="fa fa-share"></i> Sửa đổi
                                                    </button>
                                                    <!--/ko-->
                                                    <!--ko if: $root.Enable_NgayLapHD()-->
                                                    <button href="javascript:void(0)" class="btn btn-main" data-bind="click: $parent.editHD">
                                                        <i class="fa fa-save"></i> Lưu
                                                    </button>
                                                    <!--ko if: $root.Show_BtnUpdateHDTam()-->
                                                    <button href="javascript:void(0)" class="btn btn-main" data-bind="click: function(){$parent.ChiTietMoPhieuTL($data,1)} ">
                                                        <i class="fa fa-share"></i> Mở phiếu
                                                    </button>
                                                    <!--/ko-->
                                                    <!--ko if: $root.Show_BtnOpenNhanHang()-->
                                                    <button href="javascript:void(0)" class="btn btn-main" data-bind="click: $parent.ChiTietMoPhieu">
                                                        <i class="fa fa-share"></i> Mở phiếu
                                                    </button>
                                                    <!--/ko-->
                                                    <!--/ko-->
                                                    <div class="btn-group dropdown-mauin">
                                                        <button href="javascript:void(0)" class="btn btn-main " data-bind="click: $parent.InHoaDon">
                                                            <i class="fa fa-print" aria-hidden="true"></i> In
                                                        </button>
                                                        <button class="btn btn-main  dropdown-toggle dropdown-toggle-split" role="button" data-toggle="dropdown">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-bind="foreach:$root.ListTypeMauIn " style="padding:0; border:none;right:0; box-shadow:3px 3px 10px rgba(0,0,0,0.15)">
                                                            <li>
                                                                <a data-bind="text:Value,click:function() { $root.PrintHoaDon($parent,Key) }"></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!--ko if: $root.Show_BtnExcelDetail()-->
                                                    <button href="javascript:void(0)" class="btn btn-main" data-bind="click: $parent.ExportExcel_ChiTietChuyenHang">
                                                        <i class="fa fa-file-excel-o"></i> Xuất file
                                                    </button>
                                                    <!--/ko-->
                                                    <!--ko if: $root.Show_BtnCopy()-->
                                                    <button href="javascript:void(0)" class="btn btn-main" data-bind="click: $parent.SaoChep">
                                                        <i class="fa fa-cut"></i> Sao chép
                                                    </button>
                                                    <!--/ko-->
                                                    <!--ko if: $root.Role_XoaPhieuDieuChuyen_ifOtherDate() && $root.Enable_NgayLapHD()-->
                                                    <button href="javascript:void(0)" class="btn btn-cancel" data-bind="click: $parent.modalDelete">
                                                        <i class="fa fa-close"></i> Hủy bỏ
                                                    </button>
                                                    <!--/ko-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="floatleft">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot id="footerSum">
                        <tr class="border-bottom">
                            <td class="bg12 bold @commonEnum.ColumnTransfers.mahoadon">Tổng cộng</td>
                            <td class="bg12 @commonEnum.ColumnTransfers.chinhanhchuyen"></td>
                            <td class="bg12 @commonEnum.ColumnTransfers.nguoichuyen"></td>
                            <td class="bg12 @commonEnum.ColumnTransfers.chinhanhnhan"></td>
                            <td class="bg12 bold @commonEnum.ColumnTransfers.nguoinhan"></td>
                            <td class="bg12 bold @commonEnum.ColumnTransfers.ngaychuyen"></td>
                            <td class="bg12 bold @commonEnum.ColumnTransfers.ngaynhan"></td>
                            <td class="bg12 bold @commonEnum.ColumnTransfers.giatrichuyen text-right" data-bind="text: $root.HangHoa_XemGiaVon()? formatNumber3Digit(TongTienHang(),2) : 0"></td>
                            <td class="bg12 bold @commonEnum.ColumnTransfers.giatrinhan text-right" data-bind="text: $root.HangHoa_XemGiaVon()? formatNumber3Digit(TongChiPhi(),2) : 0"></td>
                            <td class="bg12 bold @commonEnum.ColumnTransfers.ghichu"></td>
                            <td class="bg12 bold @commonEnum.ColumnTransfers.trangthai"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="page">
                <div class="flex flex-row">
                    <label>Số bản ghi:</label>
                    <select id="SelecttedPage" class="form-control seleted-page" data-bind="value: pageSize,
                                                options: pageSizes, event: {change: ResetCurrentPage}"></select>
                </div>
                <div class="flex flex-end">
                    <a href="javascript:void(0)" data-bind="click: $root.StartPage, visible: VisibleStartPage"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)" data-bind="click: $root.BackPage, visible: VisibleStartPage "><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                    <ul data-bind="foreach: PageList_Display">
                        <li>
                            <a href="javascript:void(0)" data-bind="text: pageNumber, click: $root.GoToPageHD, css: $root.GetClassHD($data)"></a>
                        </li>
                    </ul>
                    <a href="javascript:void(0)" data-bind="click: $root.GoToNextPage, visible: VisibleEndPage "><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)" data-bind="click: $root.EndPage, visible: VisibleEndPage "><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                    <div class="total-recos">Hiển thị <span data-bind="text: fromitem"></span> - <span data-bind="text: toitem"></span> trên tổng số <span data-bind="text: TotalRecord"></span> hóa đơn.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalPopuplg_DichVu">
        <div id="modalContainerlg_DichVu" class="modal-dialog draggable modal-lg">
            @* @Html.Action("_themmoicapnhatdichvu", new { area = "", Controller = "HangHoa" })*@
        </div>
    </div>
    @*Xóa*@
    <div class="modal fade" id="modalpopup_deleteHD">
        <div id="modalContainer_delete" class="modal-sm">
            <div class="modal-content ">
                <div class="modal-body">
                    <div class="title-delete">
                        <span id="header-confirm-delete">Xóa chuyển hàng</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                    </div>
                    Bạn có chắc chắn muốn hủy hóa đơn <span style="font-weight:bold" data-bind="text: deleteMaHoaDon"></span> khỏi danh sách hóa đơn.
                    <div class="modal-footer">
                        <button type="button" class="btn btn-main" id="btnDongY" data-bind="click: xoaHD"><i class="fa fa-save"></i> Đồng ý</button>
                        <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade">
        <div class="modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                    <h4 class="modal-title">Hóa đơn</h4>
                </div>
                <div id="content-print-ChuyenHang">
                    @Html.Raw(Html.Action("LoadMauIn", "ThietLap", new { id = "ChuyenHang.txt" }))
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPopuplgDelete">
    <div class="modal-dialog draggable modal-sm">
        @Html.Action("_modalDelete", new { area = "", Controller = "GiaoDich" })
    </div>
</div>
@*iframein*@
<iframe class="ifram-text" id="InputPrint" name="IframeName" data-bind="iframeContent: dataIframe" hidden></iframe>
<script>
    var TeamplateMauIn = '@commonEnum.MauInTeamPlates.ChuyenHang';
    var funcName = '@RoleKey.ChuyenHang';
    $('.bgwhite').hide();
    $(document).on('click', '.open-li', function () {
        $(".op-filter-container ul li").css("display", "block");
        $(this).toggle();
        $(this).next(".close-li").toggle();
    });
    $(document).on('click', '.close-li', function () {
        $(".op-filter-container ul li").css("display", "none");
        $(this).toggle();
        $(this).prev(".open-li").toggle();
        $(".op-filter-container ul li").eq(0).css("display", "block");
        $(".op-filter-container ul li").eq(1).css("display", "block");
    });
    var heigth = 0;
    var heightold = 0;
    var setTop = 0;
    function SetHeightShowDetail($this) {
        setTop = 35 + parseInt($this.height() * ($this.index() / 2));
        var t = $this.next(".op-js-tr-hide").css("display");
        if (t !== "none") {
            heightold = $this.next().height();
            heigth = parseInt($this.height()) + heightold;
            $('.line-right').height(heigth).css("margin-top", setTop + "px");
        }
    }
    function SetHeightShow($this)
    {
        setTop = 35 + parseInt($this.height() * ($this.index() / 2));
        var t = $this.next(".op-js-tr-hide").css("display");
        $(".prev-tr-hide td").not($this.find("td")).removeClass("bor");
        $("td").not($this.find("td")).removeClass("bg-gray");
        $(".prev-tr-hide").not($this).removeClass("bor-right");
        $this.toggleClass("bor-right");
        $this.find("td").toggleClass("bg-gray");
        $this.find("td").toggleClass("bor");
        if (t == "none") {
            if (parseInt($('#SelecttedPage').val()) >= 20) {
                $(".table-reponsive").removeClass('height470');
            }
            $(".op-js-tr-hide").removeClass("ac");
            $this.next(".op-js-tr-hide").addClass("ac");
            heightold = $this.next().height();
            heigth = parseInt($this.height()) + heightold;
            $('.line-right').height(heigth).css("margin-top", setTop + "px");
        }
        else if (t == "block") {
            if (parseInt($('#SelecttedPage').val()) >= 20) {
                $(".table-reponsive").addClass('height470');
            }
            $this.next(".op-js-tr-hide").removeClass("ac");
            $('.line-right').height(0).css("margin-top", "0px");
        }
        else {
            if (parseInt($('#SelecttedPage').val()) >= 20) {
                $(".table-reponsive").addClass('height470');
            }
            $(".op-js-tr-hide").removeClass("ac");
            $('.line-right').height(0).css("margin-top", "0px");
        }
    }
    $('#tb').on('click', '.prev-tr-hide', function () {
        sleep(200).then(() => { SetHeightShow($(this)); });
    });
    $(function () {
        $('.datetimepicker4').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
    $(document).on('click', '.choose-date .dropdown-menu ul li', function () {
        var date = $(this).find("a").html();
        $(".choose-date-show").val(date);
    });
</script>
<script>
    var height_table = $("#td").height();
    var width_table = $(".table-hover").width();
    if (height_table > 500) {
        $(".table-reponsive").addClass("table_h");
    }
    if (width_table > 850) {
        $(".table-reponsive").addClass("table_h");
    }
</script>
<script>
    var t = $(".table-reponsive").width();
    $(".op-object-detail .tab-content").width(t - 50);
</script>
<script>
   
    $('#tb').on('click', '.icon-filter', function () {
        $(this).hide();
        $(this).closest('th').find('.icon-filter2').show();
        $(this).closest('th').next().toggle();
        if ($(window).width() <= 1024) {
            $(this).closest('th').find('.right-inner-addon input').attr("placeholder", "Tìm kiếm hàng hóa");
        }
        else { $(this).closest('th').find('.right-inner-addon input').attr('placeholder', 'Tìm kiếm chi tiết hàng hóa'); }
        if ($(this).closest('th').find('.right-inner-addon').css('display') === 'none') {
            $(this).closest('th').attr('colspan', 2).addClass('actioveFilter');
        }
        else {
            $(this).closest('th').attr('colspan', 1).removeClass('actioveFilter');
        }
        $(this).closest('th').find('.right-inner-addon').toggle();
    });
    $('#tb').on('click', ' .icon-filter2', function () {
        $(this).hide();
        $(this).closest('th').find('.icon-filter').show();
        $(this).closest('th').next().toggle();
        if ($(this).closest('th').find('.right-inner-addon').css('display') === 'none') {
            $(this).closest('th').attr('colspan', 2).addClass('actioveFilter');
        }
        else {
            $(this).closest('th').attr('colspan', 1).removeClass('actioveFilter');
        }
        $(this).closest('th').find('.right-inner-addon').toggle();
    });
</script>
<script src="@Scripts.Url("~/bundles/GiaoDich/ChuyenHang2")" type="text/javascript"></script>
<script>
    expand_sts = window.localStorage;
    $("#shownhapxuat").click(function () {
        //alert(localStorage.getItem("expand_sts"));
        if ($((".btnExport")).hasClass("forcehide")) {
            expand_import();
        } else {
            hide_import();
        }
    });
    if (localStorage.getItem("expand_sts") == "open") {
        expand_import();
    } else {
        hide_import();
    }
    function expand_import() {
        if ($("html").width() > 425) {
            $(".btnImport").removeClass("forcehide");
            $((".btnExport")).removeClass("forcehide");
            localStorage.setItem("expand_sts", "open");
        }
    };
    function hide_import() {
        if ($("html").width() > 425) {
            $(".btnImport").addClass("forcehide");
            $((".btnExport")).addClass("forcehide");
            localStorage.setItem("expand_sts", "close");
        }
    };
</script>
