@using System.Web.Optimization;
@using banhang24.Hellper;
@{
    Layout = null;
    ViewBag.Title = "Open24.vn - Xuất kho";
}
<link rel="stylesheet" type="text/css" href="~/Content/dragtable.css" />
<script src="~/Content/js/jquery.dragtable.js"></script>
<link rel="stylesheet" href="~/Content/Dathang.css" />
@Html.Hidden("shopCookies", (string)ViewBag.ShopCookies, new { id = "shopCookies" })
<div class="op-container">
    <div class="container-fluid  nopadding">
        <div class="col-left">
            <div class="op-filter">
                <section class="op-filter-body">
                    <article class="boxLeft showChiNhanh">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/loaithuchi.png" />  Chi nhánh
                        </h3>
                        <aside class="op-filter-container">
                            <div class="outselect">
                                <div class="nameDonVi choose-person floatleft " data-toggle="dropdown" id="choose_DonVi">
                                    <ul data-bind="foreach: MangChiNhanh">
                                        <li class="li-input-span">
                                            <span data-bind="text: TenDonVi">
                                            </span>
                                            <span data-bind="click: $parent.CloseDonVi">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                    <input type="text" class="dropdown nameDonVi" id="NoteNameDonVi" data-bind="event:{keyup: NoteNameDonVi}" placeholder="Chọn chi nhánh..." />
                                </div>
                                <div class="selec-person dropdown-menu" id="selec-all-DonVi">
                                    <ul data-bind="foreach: DonVis">
                                        <li data-bind="attr:{id: ID}, click: $parent.SelectedDonVi">
                                            <span data-bind="text: TenDonVi "></span>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/thoigian.png" />       Thời gian
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuCheckbox choose_TimeReport">
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" name="rdThoiGian" data-bind="checked: filterNgayPhieuHuy" value="0">
                                    </div>
                                    <div class="conten-choose">
                                        <div class=" dropdown choose-date ">
                                            <div class="dr_TimeReport" data-toggle="dropdown" aria-expanded="true">
                                                <input type="text" class="dropdown form-control choose-date-show ip_TimeReport" placeholder="Tuần này" data-bind="value: timeValue" @*value="Tuần này"*@>
                                            </div>
                                            <div class="dropdown-menu choseNgayTaoPhieuHuy">
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo ngày và tuần</h3>
                                                    <ul>
                                                        <li value="1"><a href="javascript:void(0);" class="ng-binding">Hôm nay</a></li>
                                                        <li value="2"><a href="javascript:void(0);" class="ng-binding">Hôm qua</a></li>
                                                        <li value="3"><a href="javascript:void(0);" class="ng-binding">Tuần này</a></li>
                                                        <li value="4"><a href="javascript:void(0);" class="ng-binding">Tuần trước</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo tháng và quý</h3>
                                                    <ul>
                                                        <li value="6"><a href="javascript:void(0);" class="ng-binding">Tháng này</a></li>
                                                        <li value="7"><a href="javascript:void(0);" class="ng-binding">Tháng trước</a></li>
                                                        <li value="11"><a href="javascript:void(0);" class="ng-binding">Quý này</a></li>
                                                        <li value="12"><a href="javascript:void(0);" class="ng-binding">Quý trước</a></li>
                                                    </ul>
                                                </div><div class="col-md-4 col-sm-4">
                                                    <h3>Theo năm</h3>
                                                    <ul>
                                                        <li value="13"><a href="javascript:void(0);" class="ng-binding">Năm này</a></li>
                                                        <li value="14"><a href="javascript:void(0);" class="ng-binding">Năm trước</a></li>
                                                        <li value="0"><a href="javascript:void(0);" class="ng-binding">Toàn thời gian</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" name="rdThoiGian" data-bind="checked: filterNgayPhieuHuy" value="1">
                                    </div>
                                    <div class="conten-choose">
                                        <div class="floatleft form-wrap ">
                                            <input type="text" class="form-control ip_DateReport newDateTime" name="daterange"
                                                   data-bind="enable: filterNgayPhieuHuy() !=='0'" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft showChungTu">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/loaithuchi.png" />  Loại chứng từ
                        </h3>
                        <aside class="op-filter-container">
                            <div class="outselect">
                                <div class="nameDonVi choose-person floatleft " data-toggle="dropdown" id="choose_ChungTu">
                                    <ul data-bind="foreach: MangChungTu">
                                        <li class="li-input-span">
                                            <span data-bind="text: TenChungTu">
                                            </span>
                                            <span data-bind="click: $parent.CloseChungTu">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                    <input type="text" class="dropdown nameChungTu" id="NoteNameChungTu" data-bind="event:{keyup: NoteNameChungTu}" placeholder="Chọn chứng từ..." />
                                </div>
                                <div class="selec-person dropdown-menu" id="selec-all-ChungTu">
                                    <ul data-bind="foreach: ChungTus">
                                        <li data-bind="attr:{id: ID}, click: $parent.SelectedChungTu">
                                            <span data-bind="text: TenChungTu "></span>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/trangthai (1).png" />   Trạng thái
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuCheckbox">
                                <ul>
                                    <li class=" choseTamLuu">
                                        <label><input type="checkbox" name="checkTamLuu" data-bind="checked: checkTamLuu" value="true"> Tạm lưu</label>
                                    </li>
                                    <li class="choseHoanThanh">
                                        <label><input type="checkbox" name="checkHoanThanh" data-bind="checked: checkHoanThanh" value="true"> Hoàn thành</label>
                                    </li>
                                    <li class=" choseHuy">
                                        <label><input type="checkbox" name="checkHuy" data-bind="checked: checkHuy" value="true"> Hủy bỏ</label>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </article>
                </section>
                <div class="op-filter-footer">
                    <button type="button" class="btn btn-link" style="color:red" onclick="closeFilter()">Hủy</button>
                    <button type="button" class="btn btn-link" onclick="collapseSubFilter(this)">
                        <span>Thu gọn</span>
                    </button>
                    <button type="button" class="btn btn-link" style="display:none" onclick="expandSubFilter(this)">
                        <span>Mở rộng</span>
                    </button>
                    <button type="button" class="btn btn-main kv2Btn" onclick="closeFilter()">Hoàn tất</button>
                </div>
            </div>
        </div>
        <div class="col-right">
            <div class="op-header">
                <div class="op-header-title ">
                    <h2 class="pull-left title">@banhang24.Resources.ResourceTexts.Exchange / Phiếu xuất kho</h2>
                </div>
                <div class="flex flex-between">
                    <div class="op-header-button">
                        <div class=" header-button-left">
                            <button class="btn btn-main   clickxuathuy btn-main" data-bind="visible: XuatHuy_ThemMoi(), click: PhieuXuatHuy">
                                <i class="fa fa-plus"></i>
                                <font>Tạo phiếu</font>
                            </button>
                            <button type="button" class="btn btn-main xuatfile btnExport" data-bind="click: ExportExcel,visible: XuatHuy_XuatFile()">
                                <i class="fa fa-file-excel-o"></i> Xuất file
                            </button>
                            <div class="btn-dropdown open">
                                <button type="button" class="btn btn-main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="showCollumnFilter(this)">
                                    <i class="fa fa-angle-double-down"></i>
                                </button>
                                <div class="dropdown-list " style="right:0">
                                    <div id="myList">
                                        <ul data-bind="foreach: ListCheckBox">
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" class="checkbox" checked="checked" data-bind="value: Key">
                                                        <span></span>
                                                        <label class="nopadding" data-bind="text: Value"></label>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="op-search">
                            <input id="EnterMaXH" type="text" class="form-control" placeholder="Theo mã phiếu xuất kho..."
                                   data-bind="value: MaHangHoa_Search, valueUpdate: 'afterkeydown',
                                   event:{keyup: NoteMaHD}" />
                            <button type="button" class=" op-search-button" data-bind="click: ClickInconSearch">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <button class="btn btn-main op-filter-toggle" onclick="showFilter()" title="Hiển thị bộ lọc">
                            <i class="material-icons">sort</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-table " id="myScrollspy" style="top: 48px;position: sticky;">
                <div class="table-reponsive table_h bangchung tab-show table-frame" id="table-reponsive">
                    <table class="table-new  table-hover tblXH" id="tb">
                        <thead class="thead-boder">
                            <tr>
                                @if ((string)ViewBag.ShopCookies == "C16EDDA0-F6D0-43E1-A469-844FAB143014")
                                {
                                    // gara
                                    foreach (var item in commonEnum.ListColumnDamageItems)
                                    {
                                        <th class="@item.Key">
                                            <a href="javascript:void(0)">@item.Value</a>
                                        </th>
                                    }
                                }
                                else
                                {
                                    string[] keyGara = { "maphieutiepnhan", "mahoadonsuachua", "bienso" };
                                    foreach (var item in commonEnum.ListColumnDamageItems.Where(x => x.Key.Any(y => keyGara.Contains(x.Key) == false)))
                                    {
                                        <th class="@item.Key">
                                            <a href="javascript:void(0)">@item.Value</a>
                                        </th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: HoaDons">
                            <tr class="prev-tr-hide" id="table" data-bind="click: $parent.LoadHangHoaChiTiet,css:{bggray : $index()%2 == 1}">
                                <td class="@commonEnum.ColumnDamageItems.mahoadon" data-bind="text: MaHoaDon"></td>
                                <!--ko if: $root.IsGara()-->
                                <td class="@commonEnum.ColumnInvoices.maphieutiepnhan">
                                    <a href="javascript:void(0)" data-bind="text: MaPhieuTiepNhan, click: function(){ $root.gotoPageOther ($data,2)}">
                                    </a>
                                </td>
                                <td class="@commonEnum.ColumnDamageItems.mahoadonsuachua text-center">
                                    <a href="javascript:void(0)" data-bind="text: MaHoaDonGoc, click: function(){ $root.gotoPageOther ($data,1)}">
                                    </a>
                                </td>
                                <td class="@commonEnum.ColumnDamageItems.bienso text-center">
                                    <a data-bind="text: BienSo, click: function(){ $root.gotoPageOther ($data,3)}"></a>
                                </td>
                                <!--/ko-->
                                <td class="@commonEnum.ColumnDamageItems.loaiphieu" data-bind="text: LoaiPhieu"></td>
                                <td class="@commonEnum.ColumnDamageItems.ngaylaphoadon text-center" data-bind="text:  moment(NgayLapHoaDon).format('DD/MM/YYYY')!='Invalid date'? moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm'):''"></td>
                                <td class="@commonEnum.ColumnDamageItems.tenchinhanh" data-bind="text: TenDonVi"></td>
                                <td class="@commonEnum.ColumnDamageItems.tennhanvien" data-bind="text: TenNhanVien"></td>
                                <td class="@commonEnum.ColumnDamageItems.tongxuat text-right" data-bind="text: $root.HangHoa_XemGiaVon()==='HangHoa_XemGiaVon'?formatNumber3Digit(TongTienHang,2) : 0"></td>
                                <td class="@commonEnum.ColumnDamageItems.ghichu" data-bind="text: DienGiai"></td>
                                <td class="@commonEnum.ColumnDamageItems.trangthai" data-bind="text: YeuCau"></td>
                            </tr>
                            <tr class="op-js-tr-hide" data-bind="attr: {id: 'chitiet' + ID}">
                                <td colspan="11">
                                    <div class="op-object-detail ">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-bind=" attr: {href: '#home'+ MaHoaDon}" data-toggle="tab">Thông tin</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" data-bind="attr:{ id: 'home'+ MaHoaDon}">
                                                <div class="op-object-detail  floatleft">
                                                    <div class="container-fluid nopadding">
                                                        <div class="op-object-detail-left">
                                                            <div class="form-group floatleft">
                                                                <label class="css-form-label"> Chi nhánh :</label>
                                                                <div class="css-form-detail">
                                                                    <span data-bind="text: TenDonVi"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft">
                                                                <label class="css-form-label">Người tạo :</label>
                                                                <div class="css-form-detail">
                                                                    <span data-bind="text: NguoiTaoHD"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft ">
                                                                <label class="css-form-label">Mã hóa đơn:</label>
                                                                <div class="css-form-detail">
                                                                    <span data-bind="text: MaHoaDon"></span>
                                                                </div>
                                                            </div>
                                                            <!--ko if: $root.IsGara()-->
                                                            <div class="form-group floatleft ">
                                                                <label class="css-form-label">Mã phiếu tiếp nhận:</label>
                                                                <div class="css-form-label">
                                                                    <span data-bind="text: MaPhieuTiepNhan"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft ">
                                                                <label class="css-form-label">Mã HĐ sửa chữa:</label>
                                                                <div class="css-form-label">
                                                                    <span data-bind="text: MaHoaDonGoc"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft ">
                                                                <label class="css-form-label">Biển số xe:</label>
                                                                <div class="css-form-label">
                                                                    <span data-bind="text: BienSo"></span>
                                                                </div>
                                                            </div>
                                                            <!--/ko-->
                                                            <div class="form-group floatleft " data-bind="visible: $parent.XuatHuy_ThayDoiThoiGian()">
                                                                <label class="css-form-label ">Thời gian :</label>
                                                                <div class="css-form-detail">
                                                                    <input class="form-control datetimepicker_maskedit" type="text"
                                                                           data-bind="value: moment(NgayLapHoaDon).format('DD/MM/YYYY')!='Invalid date'? moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm'):'',
                                                                           enable: $root.Enable_NgayLapHD()">
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft ">
                                                                <label class="css-form-label ">Người xuất kho:</label>
                                                                <div class="css-form-detail">
                                                                    <select class="form-control" data-bind="options: $root.NhanViens, optionsValue: 'ID',optionsText:'TenNhanVien',
                                                                         value: ID_NhanVien, optionsCaption: 'Chọn...', click: $root.SelectIDNV, enable: $root.Enable_NgayLapHD()"></select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft">
                                                                <label class="css-form-label">Trạng thái :</label>
                                                                <div class="css-form-detail">
                                                                    <span data-bind="text: YeuCau"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group floatleft border-end">
                                                                <label class="css-form-label">Ghi chú :</label>
                                                                <div class="css-form-detail">
                                                                    <textarea class="floatleft" data-bind="value: DienGiai, enable: $root.Enable_NgayLapHD()" rows="2"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="op-object-detail-right btn-function" style="margin-left:0">
                                                            <div class="table-res scoll-300">
                                                                <table class="table table-filter  table-detal">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                <div class="col-md-3 header-title-filter">
                                                                                    Mã hàng hóa  <span class="glyphicon glyphicon-search icon-filter"></span>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <div class="right-inner-addon" hidden>
                                                                                        <span class="glyphicon glyphicon-search"></span>
                                                                                        <input type="text" class="form-control"
                                                                                               data-bind="event:{keyup: $root.NoteHangHoa_ChiTiet}" placeholder="Nhập thông tin tìm kiếm">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <span class="glyphicon glyphicon-chevron-left  icon-filter2" title="Đóng tìm kiếm danh sách" hidden></span>
                                                                                </div>
                                                                            </th>
                                                                            <th class="text-left">Tên hàng</th>
                                                                            <th class="text-left">Đvt</th>
                                                                            <th class="text-left">Lô hàng</th>
                                                                            <th class="text-center">SL xuất</th>
                                                                            <th class="text-right">Giá vốn</th>
                                                                            <th class="text-right">Giá trị xuất</th>
                                                                            <th class="text-center">Ghi chú</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody data-bind="foreach: $root.XH_HangHoaChiTiet">
                                                                        <tr>
                                                                            <td class="text-left" data-bind="text: MaHangHoa"></td>
                                                                            <td class="text-left">
                                                                                <span data-bind="text: TenHangHoa"></span>
                                                                                <span data-bind="text: ThuocTinh_GiaTri" style="color:#ff6a00"></span>
                                                                            </td>
                                                                            <td class="bhsoluong cls4 text-left" data-bind="text: TenDonViTinh"></td>
                                                                            <td>
                                                                                <a style="cursor: pointer" class="text-left Trinhpv-hovver" data-bind="text: TenLoHang, click: $parent.LoadLoHang_byMaLH">
                                                                                </a>
                                                                            </td>
                                                                            <td class="text-center" data-bind="text: formatNumber3Digit(SoLuong)"></td>
                                                                            <td class="text-right" data-bind="text: $root.HangHoa_XemGiaVon() == 'HangHoa_XemGiaVon'? formatNumber3Digit(GiaVon,2): 0"></td>
                                                                            <td class="text-right" data-bind="text: $root.HangHoa_XemGiaVon() == 'HangHoa_XemGiaVon'? formatNumber3Digit(GiaTriHuy,2) : 0"></td>
                                                                            <td class="text-left" data-bind="text: GhiChu"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="container-fluid nopadding op-table-summary">
                                                                <div class="col-md-6 col-sm-6 col-xs-12 total-sum-bot pull-right">
                                                                    <div class="floatleft sum-prduct">
                                                                        <div class="col-xs-5 col-sm-5  col-lg-7 text-right">
                                                                            Tổng số lượng:
                                                                        </div>
                                                                        <div>
                                                                            <div class="col-xs-7 col-sm-7 col-lg-5 text-right">
                                                                                <div class="row" id="tonglechtang" data-bind="text: formatNumber3Digit($root.sum_SoLuongXuat())">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="floatleft sum-prduct">
                                                                        <div class="col-xs-5 col-sm-5  col-lg-7 text-right">
                                                                            Tổng giá trị xuất:
                                                                        </div>
                                                                        <div>
                                                                            <div class="col-xs-7 col-sm-7 col-lg-5 text-right">
                                                                                <div class="row" id="tonglechtang" data-bind="text: $root.HangHoa_XemGiaVon() == 'HangHoa_XemGiaVon'? formatNumber3Digit($root.sum_GiaTriXuat(),2):0">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="btn-function">
                                                        <div class="group-btn pull-right">
                                                            <!--ko if: $root.Enable_NgayLapHD() -->
                                                            <button class="btn btn-main"
                                                                    data-bind="visible: !$root.isXuatKhoGDV() && (LoaiHoaDon == 8 || LoaiHoaDon === 3) &&
                                                                    $parent.XuatHuy_CapNhat(), click: $parent.editHD">
                                                                <i class="fa fa-save"></i> Lưu
                                                            </button>
                                                            <!--/ko-->
                                                            <!--ko if: $root.Enable_NgayLapHD() && $root.XuatHuy_SuaDoi() && !$root.isXuatKhoGDV() && (LoaiHoaDon == 8 || (LoaiHoaDon !==8 && ID_PhieuTiepNhan !==null)) && ChoThanhToan == false -->
                                                            <button class="btn btn-main"
                                                                    data-bind="click: $parent.UpdateAgain_PhieuXK">
                                                                <i class="fa fa-share"></i> Cập nhật
                                                            </button>
                                                            <!--/ko-->
                                                            <!--ko if: $root.Enable_NgayLapHD() -->
                                                            <button class="btn btn-main" data-bind="visible: !$root.isXuatKhoGDV()
                                                                    && (LoaiHoaDon == 8 || (LoaiHoaDon !==8 && ID_PhieuTiepNhan !==null))
                                                                 && $parent.XuatHuy_ThemMoi() && $parent.XuatHuy_MoPhieu() && ChoThanhToan
                                                               , click: $parent.ClickMoPhieuHuy">
                                                                <i class="fa fa-share"></i> Mở phiếu
                                                            </button>
                                                            <!--/ko-->
                                                            <div class="btn-group dropdown-mauin"
                                                                 data-bind="visible: $parent.XuatHuy_XuatFile()">
                                                                <button href="javascript:void(0)" class="btn btn-main " data-bind="click: $parent.InHoaDon">
                                                                    <i class="fa fa-print" aria-hidden="true"></i> In
                                                                </button>
                                                                <button class="btn btn-main  dropdown-toggle dropdown-toggle-split" role="button" data-toggle="dropdown">
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-bind="foreach:$root.ListTypeMauIn " style="padding:0; border:none;right:0; box-shadow:3px 3px 10px rgba(0,0,0,0.15)">
                                                                    <li>
                                                                        <a data-bind="text:Value,click:function() { $root.PrinXuatHuy($parent,Key) }"></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <button class="btn btn-main"
                                                                    data-bind="visible: $parent.XuatHuy_XuatFile() ,click: $parent.ExportExcel_ChiTiet">
                                                                <i class="fa fa-file-excel-o"></i> Xuất file
                                                            </button>
                                                            <button href="/GiaoDich/PhieuXuatHuy" class="btn btn-main clickSCXH"
                                                                    data-bind="visible: !$root.isXuatKhoGDV() && $parent.XuatHuy_ThemMoi()
                                                                    && (LoaiHoaDon == 8 || (LoaiHoaDon !==8 && ID_PhieuTiepNhan !==null))
                                                               && $parent.XuatHuy_SaoChep(),click: $parent.ClickSaoChep">
                                                                <i class="fa fa-cut"></i> Sao chép
                                                            </button>
                                                            <!--ko if: $root.Enable_NgayLapHD() -->
                                                            <button class="btn btn-cancel"
                                                                    data-bind="visible: (LoaiHoaDon == 8 || (LoaiHoaDon !==8 && ID_PhieuTiepNhan !==null))
                                                                    && $parent.XuatHuy_Xoa() && YeuCau != 'Hủy bỏ',
                                                                    click: $parent.xoaHD">
                                                                <i class="fa fa-close"></i>Hủy bỏ
                                                            </button>
                                                            <!--/ko-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot data-bind="visible: $root.RowsHangHoas() > 0">
                            <tr class="bg12">
                                <td class="@commonEnum.ColumnDamageItems.mahoadon text-left bold">Tổng cộng: </td>
                                <!--ko if: $root.IsGara()-->
                                <td class="@commonEnum.ColumnInvoices.maphieutiepnhan "></td>
                                <td class="@commonEnum.ColumnDamageItems.mahoadonsuachua "></td>
                                <td class="@commonEnum.ColumnDamageItems.bienso "></td>
                                <!--/ko-->
                                <td class="@commonEnum.ColumnDamageItems.loaiphieu "></td>
                                <td class="@commonEnum.ColumnDamageItems.ngaylaphoadon "></td>
                                <td class="@commonEnum.ColumnDamageItems.tenchinhanh "></td>
                                <td class="@commonEnum.ColumnDamageItems.tennhanvien"></td>
                                <td data-bind="text: $root.HangHoa_XemGiaVon() === 'HangHoa_XemGiaVon'? formatNumber3Digit(_ThanhTien(),2) : 0"
                                    class="@commonEnum.ColumnDamageItems.tongxuat bold text-right"></td>
                                <td class="@commonEnum.ColumnDamageItems.ghichu "></td>
                                <td class="@commonEnum.ColumnDamageItems.trangthai "></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="page">
                    <div class="flex flex-row">
                        <label>Số bản ghi:</label>
                        <select id="SelecttedPage" class="form-control seleted-page" data-bind="value: pageSize,
                                                options: pageSizes, event: {change: ResetCurrentPage}"></select>
                    </div>
                    <div class="flex flex-end">
                        <a href="javascript:void(0)"
                           data-bind="click: $root.StartPage, visible: $root.VisibleStartPage()"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)"
                           data-bind="click: $root.BackPage,visible: $root.VisibleStartPage()"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                        <ul data-bind="foreach: pageHangHoas">
                            <li>
                                <a href="javascript:void(0)" data-bind="text: SoTrang, click: $root.gotoNextPage, css: $root.GetClass($data)"></a>
                            </li>
                        </ul>
                        <a href="javascript:void(0)"
                           data-bind="click: $root.NextPage, visible: $root.VisibleEndPage()"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)"
                           data-bind="click: $root.EndPage, visible: $root.VisibleEndPage()"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                        <div class="total-recos">
                            Hiển thị <span data-bind="text: RowsStart"></span> - <span data-bind="text: RowsEnd"></span> trên tổng số
                            <span data-bind="text: $root.RowsHangHoas()"></span> phiếu xuất kho.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalPopuplg_DichVu">
            <div id="modalContainerlg_DichVu" class="modal-dialog draggable modal-lg">
            </div>
        </div>
        <div class="modal fade" id="modalPopuplg_HH">
            <div id="modalContainerlg_HH" class="modal-dialog draggable modal-lg">
            </div>
        </div>
        <!-- Modal -->
        @*Xóa*@

        <div class="modal fade">
            <div class="modal-xs">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                        <h4 class="modal-title">Hóa đơn</h4>
                    </div>
                    <div id="content-print-XuatHuy">
                        @Html.Raw(Html.Action("LoadMauIn", "ThietLap", new { id = "XuatHuy.txt" }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal " id="modalPopuplgDelete">
    <div class="modal-dialog draggable modal-sm">
        @Html.Action("_modalDelete", new { area = "", Controller = "GiaoDich" })
    </div>
</div>
<!-- Button trigger modal -->
<script>
    var TeamplateXuatHuy = '@commonEnum.MauInTeamPlates.XuatHuy';
    var funcName = '@RoleKey.XuatHuy';
    $('.bgwhite').hide();
     //lấy tên và ID của tài khoản đăng nhậ
    $(function () {
        $.datetimepicker.setLocale('vi');
        var time = new Date();
        $('#datetimepicker_maskedit').datetimepicker({
            timepicker: true,
            mask: true, // '9999/19/39 29:59' - digit is the maximum possible for a cell
            format: 'd/m/Y H:i',
            //value: moment(time).format('DD/MM/YYYY HH:mm')
        });
    });
    $(function () {
        $('.datetimepicker4').datetimepicker();
        format: 'DD/MM/YYYY HH:mm'
    });
    $(document).on('click', '.close-li', function () {
        $(".op-filter-containertop ul li").css("display", "none");
        $(this).toggle();
        $(this).prev(".open-li").toggle();
        $(".op-filter-container ul li").eq(0).css("display", "block");
        $(".op-filter-container ul li").eq(1).css("display", "block");
    });
    var heigth = 0;
    var heightold = 0;
    var setTop = 0;
    function SetHeightShowDetail($this) {
        setTop = 35 + parseInt($this.height() * ($this.index() / 2));
        var t = $this.next(".op-js-tr-hide").css("display");
        if (t !== "none") {
            heightold = $this.next().height();
            heigth = parseInt($this.height()) + heightold;
            $('.line-right').height(heigth).css("margin-top", setTop + "px");
        }
    }
    function SetHeightShow($this) {
        setTop = 35 + parseInt($this.height() * ($this.index() / 2));
        $this.parents(".table-reponsive").toggleClass("table_re");
        $(".prev-tr-hide td").not($this.find("td")).removeClass("bor");
        $this.find("td").toggleClass("bor");
        $("td").not($this.find("td")).removeClass("bg-gray");
        $(".prev-tr-hide").not($this).removeClass("bor-right");
        $this.toggleClass("bor-right");
        $this.find("td").toggleClass("bg-gray");
        var t = $this.next(".op-js-tr-hide").css("display");
        if (t == "none") {
            if (parseInt($('#SelecttedPage').val()) >= 20) {
                $(".table-reponsive").removeClass('height470');
            }
            $(".op-js-tr-hide").removeClass("ac");
            $(".op-js-tr-hide").removeClass("l");
            $this.next(".op-js-tr-hide").addClass("ac");
            heightold = $this.next().height();
            heigth = parseInt($this.height()) + heightold;
            $('.line-right').height(heigth).css("margin-top", setTop + "px");
        }
        else if (t == "block") {
            if (parseInt($('#SelecttedPage').val()) >= 20) {
                $(".table-reponsive").addClass('height470');
            }
            $this.next(".op-js-tr-hide").removeClass("ac");
            $('.line-right').height(0).css("margin-top", "0px");
        }
        else {
            if (parseInt($('#SelecttedPage').val()) >= 20) {
                $(".table-reponsive").addClass('height470');
            }
            $(".op-js-tr-hide").removeClass("ac");
            $('.line-right').height(0).css("margin-top", "0px");
        }
    }
    $('#tb').on('click', '.prev-tr-hide', function (item) {
        sleep(200).then(() => { SetHeightShow($(this)); });
    });
     var loginUser = '@Session["User"]'.toString();
     var loginID = '@Session["ID"]';
     var SuKienClick = '1';
    var height_table = $("#td").height();
    var width_table = $(".table-hover").width();
    if (height_table > 500) {
        $(".table-reponsive").addClass("table_h");
    }
    if (width_table > 850) {
        $(".table-reponsive").addClass("table_h");
    }
    $('.selec-person').on('click', 'li', function () {
        var check = $(this).find(".fa-check").css("display");
        //console.log('check ' + check);
        if (check == "none") {
            var per = $(this).html();
            $(this).parents(".selec-person").prev(".choose-person").find("ul").append("<li></li>");
            $(this).parents(".selec-person").prev(".choose-person").find("ul li:last").html(per);
            $(this).parents(".selec-person").prev(".choose-person").find("input").addClass("per_ac");
            $(this).parents(".selec-person").prev(".choose-person").find("ul").addClass("per_ac1");
            $(this).find(".fa-check").toggle();
        }
        else {
            var k = $(this).index();
        }
    });
    $(document).on('click', '.choose-date .dropdown-menu ul li', function () {
        var date = $(this).find("a").html();
        $(".choose-date-show").val(date);
    });
    $(function () {
        $('.newDateTime').daterangepicker({
            locale: {
                "format": 'DD/MM/YYYY',
                "separator": " - ",
                "applyLabel": "Tìm kiếm",
                "cancelLabel": "Hủy",
                "fromLabel": "Từ",
                "toLabel": "Đến",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "CN",
                    "T2",
                    "T3",
                    "T4",
                    "T5",
                    "T6",
                    "T7"
                ],
                "monthNames": [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12"
                ],
                "firstDay": 1
            }
        });
    });
</script>

<style>
    .li-input-span {
        color: #333;
        line-height: 30px;
        text-align: left;
        width: auto !important;
        padding: 0px 7px;
        margin: 1px 0 1px 1px;
    }

    .li-input-select {
        background: #fff;
        color: #333;
        line-height: 30px;
        text-align: left;
        width: auto !important;
        padding: 0px 7px;
        margin: 1px 0 1px 1px;
    }

    .check-after-li {
        float: right;
        padding-right: 20px;
        line-height: 21px;
        color: #009ddc;
        display: inline !important;
    }

    .nameDonVi input {
        border: none;
        height: 30px;
        outline: none;
        padding-left: 10px;
        width: 50%;
    }
</style>
<script>
    $('#tb').on('click', '.icon-filter', function () {
        $(this).hide();
        $(this).closest('th').find('.icon-filter2').show();
        $(this).closest('th').next().toggle();
        if ($(this).closest('th').find('.right-inner-addon').css('display') === 'none') {
            $(this).closest('th').attr('colspan', 2).addClass('actioveFilter');
        }
        else {
            $(this).closest('th').attr('colspan', 1).removeClass('actioveFilter');
        }
        $(this).closest('th').find('.right-inner-addon').toggle();
    });
    $('#tb').on('click', ' .icon-filter2', function () {
        $(this).hide();
        $(this).closest('th').find('.icon-filter').show();
        $(this).closest('th').next().toggle();
        if ($(this).closest('th').find('.right-inner-addon').css('display') === 'none') {
            $(this).closest('th').attr('colspan', 2).addClass('actioveFilter');
        }
        else {
            $(this).closest('th').attr('colspan', 1).removeClass('actioveFilter');
        }
        $(this).closest('th').find('.right-inner-addon').toggle();
    });
</script>
<script src="@Scripts.Url("~/bundles/XuatHuy")" type="text/javascript"></script>
<script>
    expand_sts = window.localStorage;
    $("#shownhapxuat").click(function () {
        //alert(localStorage.getItem("expand_sts"));
        if ($((".btnExport")).hasClass("forcehide")) {
            expand_import();
        } else {
            hide_import();
        }
    });
    if (localStorage.getItem("expand_sts") == "open") {
        expand_import();
    } else {
        hide_import();
    }
    function expand_import() {
        if ($("html").width() > 425) {
            $(".btnImport").removeClass("forcehide");
            $((".btnExport")).removeClass("forcehide");
            localStorage.setItem("expand_sts", "open");
        }
    };
    function hide_import() {
        if ($("html").width() > 425) {
            $(".btnImport").addClass("forcehide");
            $((".btnExport")).addClass("forcehide");
            localStorage.setItem("expand_sts", "close");
        }
    };
    $(document).mouseup(function (e) {
        var container = $(".choose-date");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.removeClass('open');
        }
    });
</script>
