@using banhang24.Hellper;
@using System.Web.Optimization
@using banhang24.AppCache
@{
    Layout = null;
    ViewBag.Title = "Open24.vn - Gói dịch vụ";
}
<style>
    table thead tr td {
        text-align: center;
    }
</style>

<div class="op-container" id="vmDanhSachHoaHongGioiThieu">
    <div class="container-fluid nopadding">
        <div class="col-left">
            <div class=" op-filter">
                <article class="boxLeft op-baocao-classic">
                    <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                        <i class="fa fa-chalkboard-teacher"></i> Kiểu hiển thị
                    </h3>
                    <aside class="op-filter-container">
                        <ul>
                            <li>
                                <input type="radio" name="LoaiBaoCao" id="rdoanhsach" value="1" v-model="LoaiBaoCao" class="radio-option"
                                       v-on:change="ChangeLoaiBaoCao" />
                                <label for="rdoanhsach">
                                    Danh sách
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="LoaiBaoCao" id="rdochitiet" value="2" v-model="LoaiBaoCao" class="radio-option"
                                       v-on:change="ChangeLoaiBaoCao" />
                                <label for="rdochitiet">
                                    Chi tiết
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="LoaiBaoCao" id="rdotonghop" value="3" v-model="LoaiBaoCao" class="radio-option"
                                       v-on:change="ChangeLoaiBaoCao" />
                                <label for="rdotonghop">
                                    Tổng hợp
                                </label>
                            </li>
                        </ul>

                    </aside>
                </article>
                <section class="op-filter-body">
                    <article class="boxLeft ">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="far fa-code-branch"></i>  Chi nhánh
                        </h3>
                        <aside class="op-filter-container">
                            <filter-chinhanh v-bind:listchinhanh="listData.ChiNhanh" v-on:callfunctionloaddata="ResetCurrentPage_andLoadData"></filter-chinhanh>
                        </aside>
                    </article>
                    <article class="boxLeft" v-show="LoaiBaoCao == 2">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="fal fa-search"></i>   Người giới thiệu
                        </h3>
                        <aside class="op-filter-container">
                            <input placeholder="Mã phiếu trích, người giới thiệu" class="form-control"
                                   v-on:keyup.13="ResetCurrentPage_andLoadData"
                                   v-model="filter.TextSearch2" />
                        </aside>
                    </article>

                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="fal fa-calendar-alt"></i>       Thời gian lập phiếu
                        </h3>
                        <aside class="op-filter-container">
                            <filter-datetime radioname="rdThoiGian" v-bind:typetime="filter.TypeTime"
                                             v-on:callfunction="onCallThoiGian"
                                             v-bind:selectvalue="5"></filter-datetime>
                        </aside>
                    </article>

                    <article class="boxLeft" v-show="LoaiBaoCao == 3">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="fal fa-calendar-alt"></i> Ngày tạo
                        </h3>
                        <aside class="op-filter-container">
                            <filter-datetime radioname="rdThoiGian1" v-bind:typetime="filter.NgayTao_TypeTime"
                                             v-on:callfunction="changeNgayTao"
                                             v-bind:selectvalue="0"></filter-datetime>
                        </aside>
                    </article>

                    <article class="boxLeft" v-show="LoaiBaoCao == 2">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="fal fa-check-circle"></i>  Là hóa đơn bổ sung
                        </h3>
                        <aside class="op-filter-container">
                            <filter-checkbox v-bind:listitem="listData.LoaiHoaDon"
                                             v-on:callfunctionloaddata="ResetCurrentPage_andLoadData"></filter-checkbox>

                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="far fa-users-class"></i>
                            Loại đối tượng
                        </h3>
                        <filter-checkbox v-bind:listitem="listData.LoaiDoiTuong"
                                         v-on:callfunctionloaddata="ResetCurrentPage_andLoadData"></filter-checkbox>
                    </article>
                    <article class="boxLeft" v-show="LoaiBaoCao != 3">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="fal fa-toggle-on"></i>
                            Trạng thái
                        </h3>
                        <filter-checkbox v-bind:listitem="listData.TrangThai"
                                         v-on:callfunctionloaddata="ResetCurrentPage_andLoadData"></filter-checkbox>
                    </article>
                    <article class="boxLeft" v-show="LoaiBaoCao == 3">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="fal fa-toggle-on"></i>
                            Trạng thái hoạt động
                        </h3>
                        <filter-checkbox v-bind:listitem="listData.TrangThaiHoatDong"
                                         v-on:callfunctionloaddata="ResetCurrentPage_andLoadData"></filter-checkbox>
                    </article>
                </section>
                <div class="op-filter-footer">
                    <button type="button" class="btn btn-link" style="color:red" onclick="closeFilter()">Hủy</button>
                    <button type="button" class="btn btn-link" onclick="collapseSubFilter(this)">
                        <span>Thu gọn</span>
                    </button>
                    <button type="button" class="btn btn-link" style="display:none" onclick="expandSubFilter(this)">
                        <span>Mở rộng</span>
                    </button>
                    <button type="button" class="btn btn-main kv2Btn" onclick="closeFilter()">Hoàn tất</button>
                </div>
            </div>
        </div>
        <div class="col-right">
            <div class="op-header">
                <div class="op-header-title">
                    <h2 class="pull-left title">{{TenBaoCao}}</h2>
                </div>
                <div class="flex flex-between">
                    <div class=" header-button">
                        <div class="btn-group" title="Thêm mới"
                             v-if="role.HoaHongGioiThieu.ThemMoi">
                            <div type="button" class="btn btn-main  dropdown-toggle add-new btn-main"
                                 v-on:click="showModalThemMoi">
                                <i class="fa fa-plus"></i><font>Thêm mới</font>
                            </div>
                        </div>
                        <div class="btn-group ">
                            <button type="button" class="btn btn-main dropdown-toggle" data-toggle="dropdown"
                                    v-on:click="ExportExcel">
                                <i class="fa fa-file-excel-o"></i> Xuất file
                            </button>
                        </div>
                        <div class="dropdown open ">
                            <button type="button" class="btn btn-main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="showCollumnFilter(this)">
                                <i class="fa fa-angle-double-down"></i>
                            </button>
                            <div class=" dropdown-list" style="display:none; right:0" id="myList">
                                <ul>
                                    <li v-for="item in ListHeader">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="checkbox" v-model="item.colShow" />
                                                <span></span>
                                                {{item.colText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="op-search">
                            <input type="text" class="form-control"
                                   v-bind:placeholder="txtLeftPlaceholder"
                                   autocomplete="off"
                                   v-model="filter.TextSearch"
                                   v-on:keyup.13="ResetCurrentPage_andLoadData" />
                            <button type="button" class=" op-search-button"
                                    v-on:click="ResetCurrentPage_andLoadData">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <button class="btn btn-main op-filter-toggle" onclick="showFilter()" title="Hiển thị bộ lọc">
                            <i class="material-icons">sort</i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="content-table tab-content" style="top: 48px;position: sticky;">

                <div class="tab-pane active" v-show="LoaiBaoCao == 1">
                    <div class="table-frame">
                        <table class="table" id="tb">
                            <thead class="thead-boder">
                                <tr>
                                    <th v-for="item in ListHeader.filter(p=>p.colShow === true)">
                                        {{item.colText}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="(item, index) in TongHop.data">
                                    <tr class="prev-tr-hide">
                                        <td v-if="CheckColShow('colMaHoaDon')"
                                            v-on:click="RowSelected(item)">
                                            <a href="javascript:void(0)">{{item.MaHoaDon}}</a>
                                        </td>
                                        <td class="text-center" v-if="CheckColShow('colNgayLapHoaDon')"
                                            v-on:click="RowSelected(item)">
                                            {{moment(item.NgayLapHoaDon).format('DD/MM/YYYY HH:mm')}}
                                        </td>
                                        <td v-if="CheckColShow('colLoaiDoiTuong')" v-on:click="RowSelected(item)">
                                            {{item.SLoaiDoiTuong}}
                                        </td>
                                        <td v-if="CheckColShow('colMaDoiTuong')" v-on:click="RowSelected(item)">
                                            <a href="javascript:void(0)"
                                               v-on:click="gotoPageOther(item,0)">
                                                {{item.MaNguoiGioiThieu}}
                                            </a>
                                        </td>
                                        <td v-if="CheckColShow('colTenDoiTuong')" v-on:click="RowSelected(item)">
                                            {{item.TenNguoiGioiThieu}}
                                        </td>
                                        <td class="text-right" v-if="CheckColShow('colTongGiaTri')" v-on:click="RowSelected(item)">
                                            {{formatNumber3Digit(item.TongTienHang)}}
                                        </td>
                                        <td class="text-right" v-if="CheckColShow('colKhachDaTra')" v-on:click="RowSelected(item)">
                                            {{formatNumber3Digit(item.KhachDaTra)}}
                                        </td>
                                        <td class="text-right" v-if="CheckColShow('colConNo')" v-on:click="RowSelected(item)"
                                            v-bind:style="{color: item.ConNo > 0?'red':'black'}">
                                            {{formatNumber3Digit(item.ConNo)}}
                                        </td>
                                        <td v-if="CheckColShow('colDienGiai')" v-on:click="RowSelected(item)">
                                            {{item.DienGiai}}
                                        </td>
                                        <td v-if="CheckColShow('colTrangThai')" v-on:click="RowSelected(item)">
                                            {{item.STrangThai}}
                                        </td>
                                        <td v-if="CheckColShow('colNguoiTao')" v-on:click="RowSelected(item)">
                                            {{item.NguoiTao}}
                                        </td>
                                        <td v-if="CheckColShow('colTenChiNhanh')" v-on:click="RowSelected(item)">
                                            {{item.TenDonVi}}
                                        </td>
                                    </tr>
                                    <tr class="op-js-tr-hide" v-bind:style="{display : inforOld.ID == item.ID ? 'table-row' : 'none'}">
                                        <td colspan="18">
                                            <div class="op-object-detail ">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" v-bind:href="'#infor_'+ item.ID" v-on:click="ChangeTab(0,item)">Thông tin</a></li>
                                                    <li><a data-toggle="tab" v-bind:href="'#nky_'+ item.ID" v-on:click="ChangeTab(1, item)">Nhật ký thanh toán</a></li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div class="tab-pane active" role="tabpanel" v-bind:id="'infor_'+ item.ID">
                                                        <div class="op-object-detail ">
                                                            <div class="col-md-12 nopadding">
                                                                <div class="op-object-detail-left min-45 ">
                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label"> Chi nhánh:</label>
                                                                        <div class="css-form-detail">
                                                                            <span>  {{item.TenDonVi}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft ">
                                                                        <label class="css-form-label">Người tạo:</label>
                                                                        <div class="css-form-detail">
                                                                            <span>  {{item.NguoiTao}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label">Mã hóa đơn:</label>
                                                                        <div class="css-form-detail">
                                                                            <span>  {{item.MaHoaDon}}</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label">Người giới thiệu:</label>
                                                                        <div class="css-form-detail">
                                                                            <span>  {{item.TenNguoiGioiThieu}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft ">
                                                                        <label class="css-form-label">Ngày lập phiếu:</label>
                                                                        <div class="css-form-detail">
                                                                            <date-time :date-chose="moment(item.NgayLapHoaDon).format('YYYY-MM-DD HH:mm')"
                                                                                       v-on:change-date="Update_ChangeDate">
                                                                            </date-time>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label">Trạng thái:</label>
                                                                        <div class="css-form-detail">
                                                                            <span> {{item.STrangThai}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft border-end">
                                                                        <label class="css-form-label">Ghi chú:</label>
                                                                        <div class="css-form-detail">
                                                                            <textarea rows="2"
                                                                                      v-model="item.DienGiai"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="op-object-detail-right">
                                                                    <div class="table-res loadcthd">
                                                                        <table class=" table table-filter table-detail">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>
                                                                                        Mã hóa đơn
                                                                                    </th>
                                                                                    <th class="text-center">
                                                                                        Ngày lập
                                                                                    </th>
                                                                                    <th>
                                                                                        Mã khách hàng
                                                                                    </th>
                                                                                    <th>
                                                                                        Tên khách hàng
                                                                                    </th>
                                                                                    <th>
                                                                                        Giá trị HĐ
                                                                                    </th>
                                                                                    <th>
                                                                                        Số tiền trích
                                                                                    </th>
                                                                                    <th class="text-center">
                                                                                        % trích
                                                                                    </th>
                                                                                    <th>
                                                                                        Thành tiền
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr v-for="(ct, index2) in ChiTiet.data">
                                                                                    <td>
                                                                                        <a>{{ct.MaHoaDon}}</a>
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        {{moment(ct.NgayLapHoaDon).format('DD/MM/YYYY HH:mm')}}
                                                                                    </td>
                                                                                    <td>
                                                                                        {{ct.MaDoiTuong}}
                                                                                    </td>
                                                                                    <td>
                                                                                        {{ct.TenDoiTuong}}
                                                                                    </td>
                                                                                    <td>
                                                                                        {{formatNumber3Digit(ct.TongThanhToan)}}
                                                                                    </td>
                                                                                    <td>
                                                                                        {{formatNumber3Digit(ct.SoTienTrich)}}
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        {{formatNumber3Digit(ct.PTChietKhau)}}
                                                                                    </td>
                                                                                    <td>
                                                                                        {{formatNumber3Digit(ct.TienChietKhau)}}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="op-table-summary">
                                                                        <div class="col-md-6 col-sm-6 col-xs-6 footer-total-detail pull-right">
                                                                            <div class="floatleft sum-prduct">
                                                                                <div class="col-xs-5 col-sm-5  col-lg-7 text-right">
                                                                                    Tổng giá trị :
                                                                                </div>
                                                                                <div class="col-xs-7 col-sm-7 col-lg-5 text-right">
                                                                                    <div class="row">
                                                                                        {{formatNumber3Digit(item.TongTienHang)}}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div style="display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-end">
                                                                        <button href="javascript:void(0)" class="btn btn-main"
                                                                                v-if="role.HoaHongGioiThieu.SuaDoi && item.TrangThai !=2"
                                                                                v-on:click="showModalUpdate(item)">
                                                                            <i class="fa fa-share"></i> Sửa đổi
                                                                        </button>
                                                                        <button href="javascript:void(0)" class="btn btn-main"
                                                                                v-on:click="$root.Export_PhieuTrichHoaHong_byID(item)">
                                                                            <i class="fa fa-file-excel-o"></i> Xuất file
                                                                        </button>
                                                                        <button href="javascript:void(0)" class="btn btn-cancel"
                                                                                v-if="$root.role.HoaHongGioiThieu.Xoa_NeuKhacNgay && item.TrangThai !=2"
                                                                                v-on:click="HuyPhieuTrich(item)">
                                                                            <i class="fa fa-close"></i> Hủy bỏ
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane" role="tabpanel" v-bind:id="'nky_'+ item.ID">
                                                        <div class="table-res">
                                                            <table class='table'>
                                                                <tr>
                                                                    <th>Mã phiếu</th>
                                                                    <th>Thời gian</th>
                                                                    <th>Người tạo</th>
                                                                    <th>Loại phiếu</th>
                                                                    <th>Phương thức</th>
                                                                    <th>Trạng thái</th>
                                                                    <th>Tiền thu</th>
                                                                </tr>
                                                                <tbody>
                                                                    <tr v-for="(item, index) in LichSuThanhToan">
                                                                        <td>
                                                                            <a v-on:click="updatePhieuChi(item)">
                                                                                {{item.MaHoaDon}}
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            {{moment(item.NgayLapHoaDon).format('DD/MM/YYYY HH:mm')}}
                                                                        </td>
                                                                        <td>
                                                                            {{item.NguoiTao}}
                                                                        </td>
                                                                        <td>
                                                                            {{item.LoaiHoaDon==11?'Phiếu thu':'Phiếu chi'}}
                                                                        </td>
                                                                        <td>
                                                                            {{item.PhuongThucTT}}
                                                                        </td>
                                                                        <td>
                                                                            {{item.TrangThai==false?'Đã hủy':'Đã thanh toán'}}
                                                                        </td>
                                                                        <td>
                                                                            {{formatNumber3Digit(item.TongTienThu,2)}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="op-object-detail-function">
                                                                <button class="btn btn-main"
                                                                        v-if="item.ConNo > 0"
                                                                        v-on:click="showModalThanhToan(item)">
                                                                    <i class="fa fa-calculator"></i>&nbsp; Thanh toán
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                            <tfoot v-if="TongHop.data.length > 0">
                                <tr class="border-bottom bold">
                                    <td v-bind:colspan="ListHeader.filter(p=>p.index < 5 && p.colShow).length"
                                        v-if="ListHeader.filter(p=>p.index < 5 && p.colShow).length > 0">
                                        Tổng cộng
                                    </td>
                                    <td class="text-right" v-if="CheckColShow('colTongGiaTri')">
                                        {{formatNumber3Digit(TongHop.SumTongTienHang)}}
                                    </td>
                                    <td class="text-right" v-if="CheckColShow('colKhachDaTra')">
                                        {{formatNumber3Digit(TongHop.SumKhachDaTra)}}
                                    </td>
                                    <td class="text-right" v-if="CheckColShow('colConNo')">
                                        {{formatNumber3Digit(TongHop.SumConNo)}}
                                    </td>
                                    <td v-bind:colspan="ListHeader.filter(p=>p.index > 7 && p.colShow).length"
                                        v-if="ListHeader.filter(p=>p.index > 7 && p.colShow).length > 0">
                                    </td>
                                </tr>
                            </tfoot>
                            <tfoot class="Report_Empty"
                                   v-if="TongHop.data.length == 0">
                                <tr class="text-center">
                                    <td colspan="25">
                                        <i>Không có dữ liệu</i>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="tab-pane active" v-if="LoaiBaoCao == 2">
                    <div class="table-frame">
                        <table class="table" id="tb">
                            <thead class="thead-boder">
                                <tr>
                                    <th v-for="item in ListHeader.filter(p=>p.colShow === true)">{{item.colText}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="prev-tr-hide"
                                    v-for="(item, index) in TongHop.data"
                                    v-bind:style="{background : item.TrangThai == 1 ? 'yellow' : 'none'}">
                                    <td v-if="CheckColShow('colMaHoaDon')">
                                        <a>{{item.MaPhieuTrich}}</a>
                                    </td>
                                    <td v-if="CheckColShow('colNgayLapPhieu')" class="text-center">{{moment(item.NgayLapPhieuTrich).format('DD/MM/YYYY HH:mm')}}</td>
                                    <td v-if="CheckColShow('colLoaiDoiTuong')">{{item.SLoaiDoiTuong}}</td>
                                    <td v-if="CheckColShow('colMaNguoiGT')">
                                        <a>
                                            {{item.MaNguoiGioiThieu}}
                                        </a>
                                    </td>
                                    <td v-if="CheckColShow('colTenNguoiGT')">{{item.TenNguoiGioiThieu}}</td>
                                    <td v-if="CheckColShow('colMaHoaDonTrich')">
                                        <a v-on:click="gotoPageOther(item,1)">
                                            {{item.MaHoaDon}}
                                        </a>
                                    </td>
                                    <td v-if="CheckColShow('colNgayLapHoaDon')" class="text-center">{{moment(item.NgayLapHoaDon).format('DD/MM/YYYY HH:mm')}}</td>
                                    <td v-if="CheckColShow('colMaKhachHang')"><a>{{item.MaDoiTuong}}</a></td>
                                    <td v-if="CheckColShow('colTenKhachHang')">{{item.TenDoiTuong}}</td>
                                    <td v-if="CheckColShow('colTongThanhToan')" class="text-right">{{formatNumber3Digit(item.TongThanhToan)}}</td>
                                    <td v-if="CheckColShow('colPTChietKhau')" class="text-right">{{item.PTChietKhau}}</td>
                                    <td v-if="CheckColShow('colTienChietKhau')" class="text-right">{{formatNumber3Digit(item.TienChietKhau)}}</td>
                                </tr>
                            </tbody>
                            <tfoot class="Report_Empty" v-show="TongHop.data.length < 1">
                                <tr>
                                    <td class="bg12 text-center" colspan="20"><i>Không có dữ liệu</i></td>
                                </tr>
                            </tfoot>
                            <tfoot v-if="TongHop.data.length > 0">
                                <tr class="border-bottom bold">
                                    <td v-bind:colspan="ListHeader.filter(p=>p.index < 9 && p.colShow).length"
                                        v-if="ListHeader.filter(p=>p.index < 9 && p.colShow).length > 0">
                                        Tổng cộng
                                    </td>
                                    <td class="text-right" v-if="CheckColShow('colTongThanhToan')">
                                        {{formatNumber3Digit(TongHop.SumTongTienHang)}}
                                    </td>
                                    <td v-if="CheckColShow('colPTChietKhau')">
                                    </td>
                                    <td v-if="CheckColShow('colTienChietKhau')" class="text-right">
                                        {{formatNumber3Digit(TongHop.SumTienChietKhau)}}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>


                <div class="tab-pane active" v-if="LoaiBaoCao == 3">
                    <div class="table-frame">
                        <table class="table" id="tb">
                            <thead class="thead-boder">
                                <tr>
                                    <th v-for="item in ListHeader.filter(p=>p.colShow === true)">{{item.colText}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="(item, index) in TongHop.data">
                                    <tr class="prev-tr-hide">
                                        <td v-if="CheckColShow('colLoaiDoiTuong')"
                                            v-on:click="RowSelected(item)">
                                            {{item.SLoaiDoiTuong}}
                                        </td>
                                        <td v-if="CheckColShow('colMaNguoiGT')"
                                            v-on:click="RowSelected(item)">
                                            {{item.MaNguoiGioiThieu}}
                                        </td>
                                        <td v-if="CheckColShow('colTenNguoiGT')"
                                            v-on:click="RowSelected(item)">
                                            {{item.TenNguoiGioiThieu}}
                                        </td>
                                        <td v-if="CheckColShow('colSDTNguoiGT')"
                                            v-on:click="RowSelected(item)">
                                            {{item.SDTNguoiGioiThieu}}
                                        </td>
                                        <td class="text-right" v-if="CheckColShow('colTienHoaHong')"
                                            v-on:click="RowSelected(item)">
                                            {{formatNumber3Digit(item.TongTienHang)}}
                                        </td>
                                        <td v-if="CheckColShow('colNguoiTao')"
                                            v-on:click="RowSelected(item)">
                                            {{item.NguoiTao}}
                                        </td>
                                        <td class="text-center"
                                            v-if="CheckColShow('colNgayTao')"
                                            v-on:click="RowSelected(item)">
                                            {{moment(item.NgayLapHoaDon).format('DD/MM/YYYY HH:mm')}}
                                        </td>
                                        <td v-if="CheckColShow('colTrangThai')">{{item.STrangThai}}</td>
                                    </tr>
                                    <tr class="op-js-tr-hide"
                                        v-bind:style="{display : inforOld.ID_CheckIn == item.ID_CheckIn ? 'table-row' : 'none'}">
                                        <td colspan="18">
                                            <div class="op-object-detail ">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" v-bind:href="'inforBCTH_'+ item.ID_CheckIn">Thông tin</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" v-bind:id="'inforBCTH_'+ item.ID_CheckIn">
                                                        <div class="op-object-detail ">
                                                            <div class="col-md-12 nopadding">
                                                                <div class="op-object-detail-left min-45 ">
                                                                    <div class="form-group floatleft ">
                                                                        <label class="css-form-label">Mã người giới thiệu:</label>
                                                                        <div class="css-form-detail">
                                                                            <span>  {{item.MaNguoiGioiThieu}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label">Tên người giới thiệu:</label>
                                                                        <div class="css-form-detail">
                                                                            <span>  {{item.TenNguoiGioiThieu}}</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label">Số điện thoại:</label>
                                                                        <div class="css-form-detail">
                                                                            <span>  {{item.SDTNguoiGioiThieu}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label">Địa chỉ:</label>
                                                                        <div class="css-form-detail">
                                                                            <span>  {{item.DiaChiNguoiGioiThieu}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label">Người giới thiệu là:</label>
                                                                        <div class="css-form-detail">
                                                                            {{item.SLoaiDoiTuong}}
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group floatleft">
                                                                        <label class="css-form-label">Trạng thái:</label>
                                                                        <div class="css-form-detail">
                                                                            <span> {{item.STrangThai}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft border-none">

                                                                    </div>
                                                                    <div class="form-group floatleft border-end">
                                                                        <button href="javascript:void(0)" class="btn btn-main"
                                                                                v-if="item.LoaiDoiTuong == 4"
                                                                                v-on:click="updateNguoiGioiThieu(item.ID_CheckIn)">
                                                                            <i class="fa fa-edit"></i> Cập nhật người giới thiệu
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="op-object-detail-right">
                                                                    <div class="table-res loadcthd">
                                                                        <table class=" table table-filter table-detail">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>
                                                                                        Mã phiếu trích
                                                                                    </th>
                                                                                    <th class="text-center">
                                                                                        Ngày lập phiếu
                                                                                    </th>
                                                                                    <th class="text-right">
                                                                                        Giá trị hóa đơn
                                                                                    </th>
                                                                                    <th>
                                                                                        Mã phiếu chi
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr v-for="(ct, index2) in ChiTiet.data">
                                                                                    <td>
                                                                                        <a>
                                                                                            {{ct.MaHoaDon}}
                                                                                        </a>
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        {{moment(ct.NgayLapHoaDon).format('DD/MM/YYYY HH:mm')}}
                                                                                    </td>
                                                                                    <td class="text-right">{{formatNumber3Digit(ct.PhaiThanhToan)}}</td>
                                                                                    <td>
                                                                                        <a>
                                                                                            {{ct.MaPhieuChi}}
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                            <tfoot class="Report_Empty" v-show="TongHop.data.length < 1">
                                <tr>
                                    <td class="bg12 text-center" colspan="20"><i>Không có dữ liệu</i></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <page-list v-bind:pagesize="Paging.PageSize"
                           v-bind:listpage="Paging.ListPage" v-bind:currentpage="Paging.CurrentPage" v-bind:pageview="Paging.PageView"
                           v-bind:numberofpage="Paging.NumberOfPage"
                           v-on:pageselected="PageChange"></page-list>
            </div>
        </div>

    </div>
</div>

<div class="modal " id="modalPopuplgDelete">
    <div class="modal-dialog draggable">
        @Html.Action("_modalDelete", new { area = "", Controller = "GiaoDich" })
    </div>
</div>
<script src="@Html.WriteRenderFile(Scripts.Url("~/bundles/HoaHongGioiThieu"))" type="text/javascript"></script>
<script>
    $(function () {
        $('.daterange').daterangepicker({
            locale: {
                "format": 'DD/MM/YYYY',
                "separator": " - ",
                "applyLabel": "Tìm kiếm",
                "cancelLabel": "Hủy",
                "fromLabel": "Từ",
                "toLabel": "Đến",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "CN",
                    "T2",
                    "T3",
                    "T4",
                    "T5",
                    "T6",
                    "T7"
                ],
                "monthNames": [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12"
                ],
                "firstDay": 1
            }
        });
    });
</script>

@Html.Partial("~/Views/Gara/KhachHang/_ThemNhomKhachHang.cshtml")
@Html.Partial("~/Views/Gara/KhachHang/_ThemMoiKhachHang.cshtml")
@Html.Partial("~/Views/Gara/HoaDon/_vmHoaHongKhachGioiThieu.cshtml");
@Html.Partial("~/Views/Gara/_ThongTinThanhToanNCC.cshtml")
@Html.Partial("~/Views/Gara/HoaDon/_ThuTienNhapHang.cshtml")