@using System.Web.Optimization;
@using banhang24.AppCache
<style>
    ._op24-form-kh {
        padding-top: 30px;
    }
    ._op24-form-group {
        width: 100% !important;
        float: left !important;
        margin-bottom: 15px;
        position:relative;
    }
    ._op24-form-group label{
        width:130px !important;
        float:left !important;
        font-size:13px !important;
        font-weight:bold !important;
    }
    ._op24-form-news {
        width: calc(100% - 130px) !important;
        float: left;
        position: relative;
    }
        ._op24-form-news ._op24-img-choose {
            width: 125px !important;
            border: 1px solid #ccc !important;
            height: 95px !important;
            border-radius: 4px !important;
            display: table-cell !important;
            vertical-align: middle !important;
            text-align: center !important;
        }
    .btn ._op24-btn {
        display: inline-block !important;
        padding: 6px 12px !important;
        margin-bottom: 0 !important;
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 1.42857143 !important;
        text-align: center !important;
        white-space: nowrap !important;
        vertical-align: middle !important;
        -ms-touch-action: manipulation !important;
        touch-action: manipulation !important;
        cursor: pointer !important;
        padding: 4px 12px !important
    }
    ._op24-btn-file {
        position: relative !important;
        overflow: hidden !important;
        border: 1px solid #ccc !important;
        color: black !important;
        line-height: 22px !important ;
        font-size: 13px !important ;
    }


    ._op24-note-optin i {
        position: absolute !important;
        right: -18px !important;
        color: #ccc;
        font-size: 16px;
        top: 6px !important;
    }
        ._op24-note-optin i:hover {
            color: #0097c4;
        }
    ._op24-note-title {
        padding: 5px !important;
        border: 1px solid #0097c4 !important;
        border-radius: 4px !important;
        position: absolute !important;
        width: 200px !important;
        right: 0px !important;
        background: white !important;
        z-index: 999 !important;
        top: 0px !important;
        display: none;
    }
        ._op24-note-title:before {
            content: "f0da";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: #000;
            font-size: 18px;
        }
    ._op24-form-group .form-control {
        height: 30px !important;
        font-size: 12px;
        width: 100%;
        padding: 6px 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    ._op24-radio-button-leff input[type=radio] {
        line-height: 10px;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: 0;
        font-family: 'FontAwesome';
        font-size: 14px;
        margin-right: 5px;
    }
        ._op24-radio-button-leff input[type=radio]:checked:after {
            content: "\f111";
            color: #0097c4;
        }
        ._op24-radio-button-leff input[type=radio]:after {
            content: "\f10c";
            color: #0097c4;
        }
    ._op24-outselect {
        float: left;
        width: 100%;
        position: relative;
    }
    ._op24-form-news textarea{
        width:100% !important;
        border-radius:4px !important;

    }
    ._op24-dk {
        padding: 10px 30px 10px 30px;
        background: #0097c4;
        color: white;
        font-weight: bold;
        line-height: 50px;
        /* margin-top: 15px; */
        border-radius: 4px;
    }
        ._op24-dk:hover {
            background: #0d7696;
            color: white;
        }
    ._op24-note-optin{
        position:absolute;
    }
    ._op24-img-choose i, ._op24-img-choose img{
        margin:0 auto;
    }
    ._op24-selec-person {
        float: left;
        position: absolute;
        border: 1px solid #ccc;
        border-top: 0px;
        width: 100%;
        display: none;
        border-radius: 4px;
        z-index: 9999;
        background: white;
        max-height: 350px;
        overflow: auto;
    }
    ._op-seach-combobox{
        padding-left:5px;
        padding-right:5px;
    }
        ._op-seach-combobox input {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
            border-bottom: 1px solid #ccc !important;
            border-radius: 0px !important;
            padding-left: 30px !important;
        }
        ._op-seach-combobox i {
            position: absolute;
            top: 8px;
            left: 9px;
            color: #999 !important
        }
    ._op24group-parent {
        padding-left: 5px;
        padding-right: 5px;
    }
        ._op24group-parent li {
            border-bottom: 1px dotted #ccc !important;
            padding: 8px;
        }
        ._op24group-parent li:last-child {
            border-bottom: none !important;
        }
            ._op24group-parent li a {
                color: #111;
                font-size: 12px;
            }
    ._op24-floatleft{
        width:100%;
    }

    </style>

<link href='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Content/bootstrap.css")' rel="stylesheet" />
<link href='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Content/font-awesome.min.css")' rel="stylesheet" />
<link href='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Content/js/Datetime/jquery.datetimepicker.css")' rel="stylesheet" />

<div class="_op-form-kh"  style="    width: 425px; margin: auto;padding-top:30px">
    <div class="_list-paramester" style="width:100%;float:left;margin-bottom:15px;margin-top:15px">
        <div class="_op24-form-group " id="AnhDaiDien">
            <label>Ảnh đại diện <span style="color:red">(*)</span></label>
            <div class="_op24-form-news">
                <div class="_op24-img-choose">
                    <img id="_op24-blah" alt="Ảnh đại diện" hidden/>
                    <i class="fa fa-camera _op24-fa-camera" aria-hidden="true" style="font-size: 28px !important; color: #ccc !important"></i>
                </div>
                <input type='file' id="_op24_imageUploadForm" name="files[]" accept=".png,.jpg,.jpeg,.gif" onchange="op24readload(this)"  style="display:none"/>
                <a class="_op24-btn  _op24-btn-file form-control" style="width:125px !important;margin-top:5px;    text-align: center" href="javascript:void(0)" >
                    Chọn ảnh 
                </a>
            </div>
            <span class="_op24-note-optin" hidden>
                <i class="fa fa-info-circle"></i>
                <span href="javascript:void(0)" class="_op24-note-title"></span>
            </span>
        </div>
        <div class="_op24-form-group " id="TenKhachHang">
            <label>Tên khách hàng<span style="color:red">(*)</span></label>
            <div class="_op24-form-news">
                <input class="form-control" type="text" id="txt_TenKhachHang">
            </div>
            <span class="_op24-note-optin" hidden>
                <i class="fa fa-info-circle"></i>
                <span href="javascript:void(0)" class="_op24-note-title"></span>
            </span>
        </div>
        <div class="_op24-form-group " id="GioiTinh">
            <label> Giới tính <span style="color:red">(*)</span></label>
            <div class="_op24-form-news  _op24-radio-button-leff">
                <form name="gendersForm">
                    <input type="radio" name="gender" value="1" checked /> Nam
                    <input type="radio" name="gender" value="0" /> Nữ
                </form>

            </div>
            <span class="_op24-note-optin" hidden>
                <i class="fa fa-info-circle"></i>
                <span href="javascript:void(0)" class="_op24-note-title"></span>
            </span>
        </div>
        <div class="_op24-form-group " id="NgaySinh">
            <label>Ngày sinh <span style="color:red">(*)</span></label>
            <div class="_op24-form-news">
                <input class="form-control " id="_op24-date-ngay-sinh" type="text" name="ngaysinhkh">
            </div>
            <span class="_op24-note-optin" hidden>
                <i class="fa fa-info-circle"></i>
                <span href="javascript:void(0)" class="_op24-note-title "></span>
            </span>
        </div>
        <div class="_op24-form-group " id="SoDienThoai">
            <label>Số điện thoại <span style="color:red">(*)</span></label>
            <div class="_op24-form-news">
                <input class="form-control" type="text" id="txt_SoDienThoai" onkeypress="return chekPhone(event)">
            </div>
            <span class="_op24-note-optin" hidden>
                <i class="fa fa-info-circle"></i>
                <span href="javascript:void(0)" class="_op24-note-title"></span>
            </span>
        </div>
        <div class="_op24-form-group " id="Email" >
            <label>Email <span style="color:red">(*)</span></label>
            <div class="_op24-form-news">
                <input class="form-control" type="text" id="txt_Email">
            </div>
            <span class="_op24-note-optin" hidden>
                <i class="fa fa-info-circle"></i>
                <span href="javascript:void(0)" class="_op24-note-title"></span>
            </span>
        </div>
        <div class="_op24-form-group " id="DiaChi">
            <label>Địa chỉ <span style="color:red">(*)</span></label>
            <div class="_op24-form-news">
                <textarea rows="2" id="txt_DiaChi"></textarea>
            </div>
            <span class="_op24-note-optin" hidden>
                <i class="fa fa-info-circle"></i>
                <span href="javascript:void(0)" class="_op24-note-title"></span>
            </span>
        </div>
        <div class="_op24-form-group " id="TinhThanh">
            <label>Tỉnh thành <span style="color:red">(*)</span></label>
            <div class="_op24-form-news _cobobox">
             
                <div class="outselect">
                    <select class="form-control margin-botton-15" id="hk_tinhthanh_filter">
                        <option value="">--- Chọn tỉnh thành ---</option>
                        <!--ko foreach: TinhThanhs -->
                        <option data-bind="value:ID,text:TenTinhThanh"></option>
                        <!--/ko-->
                    </select>
                 
                </div>

              
            </div>
            <span class="_op24-note-optin" hidden>
                <i class="fa fa-info-circle"></i>
                <span href="javascript:void(0)" class="_op24-note-title"></span>
            </span>
        </div>
        <div class="_op24-form-group " id="QuanHuyen" >
            <label>Quận huyện <span style="color:red">(*)</span></label>
            <div class="_op24-form-news _cobobox">
              
                <div class="outselect">
                    <select class="form-control margin-botton-15" id="hk_quanhuyen_filter">
                        <option value="">--- Chọn quận huyện ---</option>
                        <!--ko foreach: QuanHuyens -->
                        <option data-bind="value:ID,text:TenQuanHuyen"></option>
                        <!--/ko-->
                    </select>
                 
                </div>

            </div>
            <span class="_op24-note-optin" hidden>
                <i class="fa fa-info-circle"></i>
                <span href="javascript:void(0)" class="_op24-note-title"></span>
            </span>
        </div>
        <div class="_op24-form-group " id="MaSoThue">
            <label>Mã số thuế <span style="color:red">(*)</span></label>
            <div class="_op24-form-news">
                <input class="form-control" type="text" id="txt_MaSoThue">
            </div>
            <span class="_op24-note-optin" hidden>
                <i class="fa fa-info-circle"></i>
                <span href="javascript:void(0)" class="_op24-note-title"></span>
            </span>
        </div>
        <div class="_op24-form-group " id="KhachLe">
            <label>Khách lẻ <span style="color:red">(*)</span></label>
            <div class="_op24-form-news  _op24-radio-button-leff">
                <form name="gendersForm1">
                    <input type="radio" name="gender1" value="1" checked /> Cá nhân
                    <input type="radio" name="gender1" value="0" /> Công ty
                </form>
            </div>
            <span class="_op24-note-optin" hidden>
                <i class="fa fa-info-circle"></i>
                <span href="javascript:void(0)" class="_op24-note-title"></span>
            </span>
        </div>
        <div class="_op24-form-group " id="NguoiGioiThieu">
            <label>Người giới thiệu <span style="color:red">(*)</span></label>
            <div class="_op24-form-news ">
                <input class="form-control" type="text" id="txt_NguoiGioiThieu">
            </div>
            <span class="_op24-note-optin" id="tolTipGoiY">
                <i class="fa fa-info-circle"></i>
                <span href="javascript:void(0)" class="_op24-note-title"></span>
            </span>
        </div>
        <div class="_op24-form-group">
            <a href="javascript:void(0)" class="_op24-dk" id="add_HoanThanh"></a>
        </div>
    </div>
</div>

@Html.Partial("_PopupMessagerPartial")
<script type="text/javascript" src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Scripts/SDK/jquery-1.10.2.js")'></script>
<script type="text/javascript" src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Scripts/bootstrap.js")'></script>

<script>
        var sub = '@ViewBag.Subdomain';
    var utm_user = '@ViewBag.utm_user';
    var ID_OptinForm = '@ViewBag.ID_OptinForm';
    function op24readload(input) {
        if (input.files && input.files[0]) {
            if (input.files[0].size > 1048576) {
                alert("Giới hạn file ảnh không quá 1M !");
                return
            }
            else {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('._op24-fa-camera').hide();
                    $('#_op24-blah')
                        .attr('src', e.target.result)
                        .width("100%")
                        .height("100%").show();
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    }
    $('._op24-btn-file').on('click', function () {
        $('#_op24_imageUploadForm').click();
    });
</script>

<script>
    $("._list-paramester ._op24-form-group ._op24-note-optin").on('mouseenter', ' i', function () {
        $('.note-title').hide();
        if ($(this).next('._op24-note-title').text() !== '' && $(this).next('._op24-note-title').text() !== undefined && $(this).next('._op24-note-title').text() !== null) {
            $(this).next('._op24-note-title').show();
        }
    });
    $("._list-paramester ._op24-form-group").on('mouseleave', ' ._op24-note-optin', function () {
        $('._op24-note-title').hide();
    });
   
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#_op24-blah')
                    .attr('src', e.target.result)
                    .width(130)
                    .height(95);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    $(document).ready(function () {
        $.datetimepicker.setLocale('vi');
        $('#_op24-date-ngay-sinh').datetimepicker({
            timepicker: false,
            mask: true, // '9999/19/39 29:59' - digit is the maximum possible for a cell
            format: 'd/m/Y',
            maxDate: new Date
            //value: moment(time).format('DD/MM/YYYY')
        });
        $('._op24-combobox-select').on('click', function () {
            var css = $(this).next().css('display');
            $('._op24-selec-person').hide();
            if (css === 'none') {
                $(this).next().toggle();
            }
            
        });
        $('._op24group-parent').on('click', 'li', function () {
            $(this).closest('._op24group-parent').closest('._op24-selec-person').toggle();

        });
    
    });
    function chekPhone(e) {

        var keyCode = window.event.keyCode || e.which;
        var arrAscii = [32, 40, 41, 43, 45]; // space,(,),+, -,

        if (keyCode < 48 || keyCode > 57) {
            // 8: tab; 127: delete
            if (keyCode == 8 || keyCode == 127 || arrAscii.indexOf(keyCode) > -1) {
                return;
            }
            return false;
        }
    }
   
</script>
<script type="text/javascript" src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Content/js/main.js")'></script>
<script type="text/javascript" src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Content/js/moment.js")'></script>
<script type="text/javascript" src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Content/js/moment.min.js")'></script>
<script type="text/javascript" src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Scripts/knockout-3.4.2.js")'></script>
<script type="text/javascript" src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Scripts/jquery-ui.js")'></script>
<script type="text/javascript" src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Scripts/jquery.cookie.js")'></script>
<script type="text/javascript" src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Scripts/BanHang/Public.js")'></script>
<script type="text/javascript" src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Scripts/SDK/OptinFromKhachHang_MaNhung.js")'> </script>
<script src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Content/js/Datetime/jquery.datetimepicker.full.min.js")'> </script>
<script src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Scripts/bootstrap-notify.js")'></script>
<script  src='@Html.WriteStringLinkOptinform((string)ViewBag.Subdomain,"/Scripts/ssoftvn.js")'></script>