
@{
    ViewBag.Title = "Đăng ký dùng thử miễn phí";
    Layout =null;
}
@using Open24.Areas.AdminPage.Hellper
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription)" />
    <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)" />
    <meta property="fb:app_id" content="1992802757652987">
    <meta property="fb:admins" content="100004299791963">
    <link rel="canonical" href="https://open24.vn/">
    <meta name="google-site-verification" content="1-wYjpsvOFwOLbv6DXzi4OAjYRrKuWxTtDEiUbbd-A0" />
    <link rel="icon" href="~/Content/images/open24.vn.png" type="image/gif">
    <script type='text/javascript' src='//c.trazk.com/c.js?_key=1588205822' async='async'> </script>
    <script src="~/Assets/js/Client/open24/localValidateFunction.js"></script>
    @Styles.Render("~/bundles/LayoutClient")
    
</head>
<body>
    
    @using Model_banhang24vn.Common
    <style>
        .wait-res {
            display: none;
            position: absolute;
            z-index: 999;
            font-size: 20px;
            font-weight: bold;
            padding-top: 25%;
            padding-left: 43%;
        }
        </style>
    <div class="container" id="dkContainer" style="display: none;">
        <div class="col-md-12 form-dk-dung-thu-v1">
            <div class="row">
                <span>Xin chào: </span><span id="txtTenNhanVien"></span>
            </div>
            <div class="row">
                <div class=" fl">
                    <div class="progress dk-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        </div>
                    </div>

                    <a href="https://open24.vn" class="logo-dk-op">
                        <img src="/Content/images/logoOpen.png" alt="open24.vn">
                    </a>
                    <div class="dk-op-b1" >
                       
                        <div class="dk-tt-left">
                         
                            <h1>Tạo tài khoản Open24 của bạn!</h1>
                            <span class="dk_Notification" style="color:red;float:right;font-size: 14px;"></span>
                            <div class="dk-form-optin form-focus">
                                <label>Họ và tên bạn</label>
                                <div class="form-group fl">
                                    <input type="text" class="form-control hoten"  data-bind="value:HoTen" autocomplete="off"/>
                                </div>
                            </div>
                                <div class="form-dk-phone form-focus">
                                    <label>Điện thoại <span style="color:var(--main-color)">(*)</span></label>
                                    <div class="form-group fl">
                                        <input type="text" class="form-control sodienthoai"  data-bind="value:SoDienThoai,event: { change: ChangeSoDienThoai }" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="11" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="form-dk-email form-focus">
                                    <label>Email </label>
                                    <div class="form-group fl">
                                        <input type="text" class="form-control email" name="emailopen24" data-bind="value:Email" autocomplete="off"/>
                                    </div>
                                </div>
                            <div class="dk-form-optin form-focus">
                                <label>Lĩnh vực bạn kinh doanh <span style="color:var(--main-color)">(*)</span></label>
                                <div class="form-group fl">
                                   <select class="form-control" id="linhvuckd">
                                       <option value="-1">-- Chọn lĩnh vực bạn kinh doanh --</option>
                                       @foreach (var item in Notification.ListKeyInTitle.ToList())
                                       {
                                           <option value="@item.Key" >@item.Value</option>
                                       }
                                       </select>
                                </div>
                            </div>
                            <div class="col-md-12 nopadding fl dk-group-btn">
                                <div class=" dk-group-btn-b1">
                                    <a href="javascript:void(0)" class="pull-right btn-dk-next"><span>Tiếp theo</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </div>

                            </div>
                        </div>
                        <div class="dk-tt-right">
                            <div class="dk-img">
                                <img src="~/Content/images/dangky/i-dang-ky-web.png" />
                            </div>
                            <p>Open24 giúp bạn quản lý <br /> hoạt động kinh doanh mọi lúc, mọi nơi trên mọi thiết bị</p>
                        </div>
                      

                    </div>
                    <div class="dk-op-b2" style="display:none">

                        <div class="dk-tt-left">

                            <h1>Tạo tài khoản Open24 của bạn!  </h1>
                            <span class="dk_Notification" style="color:red;float:right;font-size: 14px;"></span>
                            <div class="dk-form-optin form-focus">
                                <label>Tên cửa hàng, công ty bạn kinh doanh</label>
                                <div class="form-group fl">
                                    <input type="text" class="form-control tencuahangdangky" data-bind="value:TenCuaHangKinhDoanh,event: { change: ChangeCuaHang }" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="dk-form-optin form-focus">
                                <label>Địa chỉ tài khoản Open24<span style="color:var(--main-color)"> (*)</span></label>
                                <div class="form-group fl dk-form-url">
                                    <span class="url-http">https://</span>
                                    <input type="text" class="form-control"  data-bind="value:TenGianHang,event: { change: ChangeTenGianHang }" autocomplete="off"/>
                                    <span class="url-open">.open24.vn</span>
                                </div>
                            </div>
                                <div class="form-dk-tk form-focus">
                                    <label>Tên đăng nhập <span style="color:var(--main-color)"> (*)</span></label>
                                    <div class="form-group fl">
                                       
                                        <input type="text" class="form-control"  data-bind="value:TenDangNhap,event: { change: ChangeTenDangNhap }" autocomplete="off"/>
                                       
                                    </div>
                                </div>
                                <div class="form-dk-mk form-focus">
                                    <label>Mật khẩu <span style="color:var(--main-color)"> (*)</span></label>
                                    <div class="form-group fl">
                                        <input type="password" class="form-control" name="passworkopen24"  data-bind="value:MatKhauopen" autocomplete="off"/>
                                    </div>
                                </div>
                        
                            <div class="form-group">
                                <div class="form-check-dk">
                                    <div class="fl font12" id="divcbdongy">
                                        <input type="checkbox" style="width:0px;" id="cbdongy" checked> <span style="    padding-left: 15px;">Tôi đồng ý với <a href="/dieu-khoan" target="_blank">quy định</a> sử dụng và bảo mật của Open24</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 nopadding fl dk-group-btn">
                                <div class=" dk-group-btn-b1">
                                    <a href="javascript:void(0)" class="pull-left btn-dk-back"><i class="fa fa-arrow-left" aria-hidden="true"></i> Quay lại </a>
                                    <a href="javascript:void(0)" class="pull-right btn-dk-succes" data-bind="click:save"> <span>Đăng ký</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="dk-tt-right">
                            <div class="dk-img">
                                <img src="~/Content/images/dangky/i-dang-ky-web.png" />
                            </div>
                            <p>Các tính năng Open24 đáp ứng <br /> đúng theo nhu cầu quản lý, kinh doanh của bạn</p>
                        </div>
                       

                    </div>

                
                </div>
                <div class="wait-res wait-res-news">
                    <p class="text-center">
                        <img src="~/Content/images/loading-image.gif" alt="Ảnh đăng ký">
                    </p>
                    <p class="text-center">
                        Vui lòng đợi !
                    </p>
                </div>
                <div class="fuzzy">
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/staticjs")
    @Scripts.RenderFormat(@"<script async src=""{0}"" ></script>", "~/bundles/layoutFontend")
 
    <script src="~/Assets/js/Client/dangkyver1.js"></script>
</body>
</html>

<script type="text/javascript">
    
    function btnTruyCapCuaHangClick() {
        window.location = 'https://' + document.getElementById("truycapDiaChiCuaHang").value + '.open24.vn';
    }

    $(document).ready(function () {
        var KeyNganhNghe = localStorage.getItem("KeyNganhNghe");
        if (!localValidate.CheckNull(KeyNganhNghe)) {
            $('#linhvuckd').val(KeyNganhNghe);
        }
        $(".kv12").click(function () {
            $(".list-kv1").toggle();
            $(".resdown i").toggle();
            $(".list-kv1").mouseup(function () {
                return false
            });
            $(".kv12").mouseup(function () {
                return false
            });
            $(document).mouseup(function () {
                $(".list-kv1").hide();
            });
            window.setTimeout(function () {
                document.getElementById("inputTinhThanh").focus();
            }, 0);
        });
        $("#myListTinhThanh li").click(function () {
            var name = $(this).find("a").text();
            var idtinhthanh = $(this)[0].getAttribute("id");
            $(".kv12").text(name);
            $(".kv12")[0].setAttribute("id", idtinhthanh);
            $(".list-kv1").hide();
        });
        AlertCheckDienThoai("Nhập số điện thoại của bạn:");
    });
    var SoDienThoaiNhanVien = "";
    var TenNhanVienDangKy = "";
    function AlertCheckDienThoai(message) {
        var person = prompt(message, "");
        if (person == null || person == "") {
            AlertCheckDienThoai("Nhập số điện thoại của bạn:");
        } else {
            $.ajax({
                url: '/Open24Api/PostAPI/CheckPhone/' + person,
                type: 'GET',
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (result) {
                    if (result.res) {
                        SoDienThoaiNhanVien = person;
                        TenNhanVienDangKy = result.mess;
                        document.getElementById("txtTenNhanVien").textContent = result.mess;
                        document.getElementById('dkContainer').style.display = '';
                    }
                    else {
                        AlertCheckDienThoai("Số điện thoại chưa đăng ký. Vui lòng thử lại hoặc liên hệ Admin.");
                    }
                }
            });
        }
    };
</script>

