@using Open24.Areas.AdminPage.Hellper
@{
    ViewBag.Title = "Hỗ trợ phần mềm open24";
    Layout = null;
}
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription)" />
    <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)" />
    <meta property="fb:app_id" content="1992802757652987">
    <meta property="fb:admins" content="100004299791963">
    <link rel="icon" href="~/Content/images/open24.vn.png" type="image/gif">
    @Styles.Render("~/bundles/LayoutClient")
</head>
<body>
    <div class="header-top">
        <div class="container-fluid">
            <a href="/" class="logotrch">
                <img style="    margin-top: 10px;" src="~/Content/images/logoOpen.png" alt="open24.vn">
            </a>
            <div class="nav menu-main ">
                <ul>
                    <li class='@Html.IsActive("Home", "TinhNang")'>
                        <a href="/@Model_banhang24vn.Common.MaNganhNgheKinhDoanh.TitleOther">Tính năng</a>
                    </li>
                    <li class='@Html.IsActive("Home", "PhiDV")'>
                        <a href="~/bang-gia-phan-mem">Bảng giá</a>
                    </li>
                    <li class='@Html.IsActive("Home", "KhachHang")'>
                        <a href="~/khach-hang">Khách hàng</a>
                    </li>

                    <li class='@Html.IsActive("Home", "hoptac")'>
                        <a href="/gioi-thieu-khach-hang">Hợp tác</a>
                    </li>
                    <li class='@Html.IsActive("Home", "Contact")'>
                        <a href="~/lien-he">Hỗ trợ</a>
                    </li>
                    <li class='@Html.IsActive("News", "tintuc")'>
                        <a href="~/tin-tuc">Tin tức</a>
                    </li>
                </ul>
            </div>

            <div class="login-inner">
                <a href="~/dang-ky" class="login dklogin ">
                    Đăng ký
                </a>
                <a href="" class="login loginres" data-toggle="modal" data-target="#login">
                    Đăng nhập
                </a>

            </div>
            <a href="#" class="click-menu">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <iframe class="i-frame-hotro" style="width:100%;height:100%" src="http://help.open24.vn/"></iframe>
    <div class="footer fl">
        <div class="container">
            <div class="fl">
                <a href="">
                    <img src="/Content/images/home/iconblue.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <p class="padding-left20 text-uppercase bold"> VP.Hà Nội</p>
                <p><img src="/Content/images/home/52.png"> - Tầng 3 tòa nhà Nam Anh, số 68/116</p>
                <p class="padding-left20"> Nhân hòa nhân chính, Thanh Xuân, Hà Nội</p>
                <p>
                    <img src="/Content/images/home/53.png"> 0247 303 9333 (Hà Nội)
                </p>
                <p class="padding-left20 text-uppercase bold"> VP.Hồ Chí Minh</p>
                <p><img src="/Content/images/home/52.png"> 185 Lý Chính Thắng, Phường 7</p><p>
                </p><p class="padding-left20">Quận 3, Tp.Hồ Chí Minh</p>

                <p>
                </p><p>
                    <img src="/Content/images/home/53.png">
                    0287 303 9333 (HCM)
                </p>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">

                <p>
                    <img src="/Content/images/home/54.png"> hotro@open24.vn
                </p>
                <p class="padding-left20">- <a href="/gioi-thieu">Về Open24</a></p><p>
                </p><p class="padding-left20">- <a href="/dieu-khoan">Điều khoản sử dụng</a></p><p>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="title-footer">
                    Kết nối với Open24
                </div>
                <div class="connection fl">
                    <a href="https://www.facebook.com/open24.vn/">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCCpOLI7uz31aAV6QZbe3fSA">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-wifi"></i>
                    </a>
                </div>

            </div>
        </div>
        <div class="img-bottom">
        </div>
    </div>
    <div class="modal fade in" id="login">
        <div id="modalContainer_delete" class="modal-dialog modal-sx">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h4 class="modal-title ">Truy cập vào cửa hàng Open24</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group adress">
                        <input type="text" class="form-control" placeholder="Tên cửa hàng" id="truycapDiaChiCuaHang">
                        <span>.open24.vn</span>
                    </div>
                    <div class=" fL  text-center P20">
                        <a id="btnTruyCapCuaHang" class="btn-updata" onclick="btnTruyCapCuaHangClick()">Truy cập cửa hàng</a>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>