@model Model_banhang24vn.CustomView.OrderDetailView
@{
    Layout = null;
    ViewBag.Title = "banhang24vn";
}
<title>Open24 - Thanh toán</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link href="/Content/bootstrap.css" rel="stylesheet">
<link href="/Content/font-awesome.css" rel="stylesheet">
<link href="~/Content/css/style.css" rel="stylesheet">
<link href="/Content/css/responsive.css" rel="stylesheet">
<div class="container">
    <div class="header-cart fl">
        <a href="/" class="pull-left"><img src="/Content/images/logoOpen.png" alt="open24.vn"></a>
    </div>
    <div class="fl text-center icon-check">
        <img src="~/Content/images/gioithieu/check1.png" />
    </div>
    <div class="fl text-center thanks-check">
        Cảm ơn  bạn đã đặt hàng !
    </div>
    <p class="text-center p-check">
        Chúng tôi đã gửi email xác nhận đơn hàng tới <span>gmail.com</span>

    </p>
    <p class="text-center p-check">
        Xin vui lòng kiểm tra e mail.
    </p>
    <div class="content-check">
       <div class="border-check fl">
           <div class="check-left">
               <div class="name-check">
                   Thông tin đặt hàng
               </div>
               <p>
                  @Model.UserOrder
               </p>
               <p>
                   @Model.PhoneOrder
               </p>
               <p>
                  @Model.EmailOrder
               </p>
               <p>
                   @Model.AdressOrder
               </p>
               <div class="hinht-check">
                   Hình thức thanh toán
               </div>
               <p>@Model.payment</p>
           </div>
           <div class="check-right">
               <div class="name-check">
                   Thông tin nhận hàng
               </div>
               <p>
                  @Model.UserReceived
               </p>
               <p>
                  @Model.PhoneReceived
               </p>
               <p>
               @Model.AdressReceived
               </p>

               <p>
                  @Model.Note
               </p>
               <div class="hinht-check">
                   Hình thức vận chuyển
               </div>
               <p>Giao hàng tận nơi - miễn phí</p>
           </div>
          
       </div>
        <div class="pull-right">
            <a href="/" class="prev-home"><i class="fa fa-chevron-left"></i> Về trang chủ</a>
        </div>
    </div>
</div>