@model List<Open24.Models.RSSFeed>

@{
    Layout = null;
}
@{ 
    var hosturl = "https://" + Request.Url.Host;
}
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>Open24 RSS news</title>
        <link>@hosturl</link>
        <description>Open24 RSS feed</description>
        <lastBuilđate>@Model.First().PubDate</lastBuilđate>
        <language>vi-vn</language>
        @{ 
            foreach (var item in Model)
            {
                <item>
                    <title>@item.Title</title>
                    @Html.Raw("<link>")@hosturl@item.Link@Html.Raw("</link>")
                    <pubDate>@item.PubDate</pubDate>
                    <description>@item.Description</description>
                </item>
                }
            }
    </channel>
</rss>
