@model Open24.Controllers.DangkyViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng ký phần mềm open24";
}
@using Model_banhang24vn.Common
@section scripts{

    @Scripts.Render("~/bundles/Knockout")

<script type="text/javascript">

    var MaNganhngheKD = "";
    $('#SelectLoaiHinhKD').on('click', 'li', function () {
        MaNganhngheKD = $(this).data("id");
        $("#register").show();
        $("#ViewNganhNgheKD").hide();
        alertMessageError(""); $('#passworddksd').val("");
    });
    $(".return").on("click", function () {
        $("#register").hide();
        $("#ViewNganhNgheKD").show();

    })


    $('#btnDangKy').on('click', function () {
        $('#dk_TenDangNhap').val(change_alias($('#dk_TenDangNhap').val()));
        $('#subdomaindksd').val(change_alias($('#subdomaindksd').val()));
        if ($('#storenamedksd').val() === null
            || $('#storenamedksd').val().replace(/\s+/g, '') === "") {
            alertMessageError("Vui lòng nhập tên cửa hàng kinh doanh.");
        }
        else if ($('#phonedksd').val() === null
            || $('#phonedksd').val().replace(/\s+/g, '') === "") {
            alertMessageError("Vui lòng nhập số điện thoại.");
        }
        else if (CheckSdt() === false) {
            alertMessageError("Số điện thoại bạn nhập không hợp lệ.");
        }
        else if (CheckEmail() === false) {
            alertMessageError("Địa chỉ email không hợp lệ.");
        }
        else if ($("#subdomaindksd").val() === null
            || $("#subdomaindksd").val().replace(/\s+/g, '') === "") {
            alertMessageError("Vui lòng nhập địa chỉ Open24.");
        }
        else if ($('#dk_TenDangNhap').val() === null
            || $('#dk_TenDangNhap').val().replace(/\s+/g, '') === "") {
            alertMessageError("Vui lòng nhập tên đăng nhập.");
        }
        else if ($('#passworddksd').val() === null
            || $('#passworddksd').val().replace(/\s+/g, '') === "") {
            alertMessageError("Vui lòng nhập mật khẩu.");
        }
        else if ($("#cbdongy").prop("checked") !== true) {
            alertMessageError("Vui lòng tích chọn đồng ý điều khoản open24.");
        }
        else if (!ValiDatePassword()) {
            alertMessageError("Mật khẩu chứa tiếng việt, vui lòng nhập lại.");
        }
        else {
            $.ajax({
                type: 'GET',
                url: "https://geoip-db.com/json/",
                success: function (data) {
                    var diachi = (data.city !== '' && data.city !== null) ? data.city + " - " + data.country_name : data.country_name;
                    DangKyCuHang(diachi, data.IPv4);
                },
                timeout: 3000,      // 3 seconds
                error: function (qXHR, textStatus, errorThrown) {
                    DangKyCuHang("", "");
                    if (textStatus === "timeout") {
                        console.log(qXHR);
                    }
                }
            });
        }

    });
    function DangKyCuHang(diachi, ip4) {
        $('.fuzzy').show();
        $('.wait-res').show();
        var model = {
            SoDienThoai: $("#phonedksd").val().trim(),
            SubDomain: $("#subdomaindksd").val(),
            TenCuaHang: $("#storenamedksd").val(),
            Email: $("#emaildksd").val(),
            MaNganhKinhDoanh: MaNganhngheKD,
            MatKhauKT: $("#passworddksd").val(),
            KhuVuc_DK: diachi,
            DiaChiIP_DK: ip4,
            UserKT: $("#dk_TenDangNhap").val()
        };
        $.ajax({
            data: model,
            url: '/Open24Api/PostAPI/' + "DangKySuDung",
            type: 'POST',
            async: true,
            dataType: 'json',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function (result) {
                $('.fuzzy').hide();
                $('.wait-res').hide();
                if (result.res) {
                    $("#register").css("right", "-900px");
                    localStorage.setItem("Open24DKSuccess", "1");
                    var host = "https://" + window.location.hostname + "/dang-ky-thanh-cong/" + result.DataSoure;
                    window.location = host;
                }
                else {
                    alertMessageError(result.mess);
                }
            },
            error: function (xhr, status, error) {
                $('.fuzzy').hide();
                $('.wait-res').hide();
                console.log(status);
                console.log(xhr);
            }
        });
    }
    function alertMessageError(mess) {
        $('#dk_Notification').text(mess);
    }

    function CheckEmail() {
        if ($("#emaildksd").val() !== null && $("#emaildksd").val().replace(/\s+/g, '') !== "") {
            var email = $("#emaildksd").val().trim();
            var res = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

            if (res.test(email)) {
                return true;
            }
            else {
                return false;
            }
        }
        else {
            return true;
        }
    };


    function CheckSdt() {
        var fld = $("#phonedksd").val();
        fld = fld.trim();
        var phoneno = /^\(?([0]{1}[1-9]{1}[0-9]{2})\)?[]?([0-9]{3})[]?([0-9]{3})$/;
        var phoneno1 = /^\(?[0]{1}[1-9]{1}[0-9]{3}\)?[]?([0-9]{3})[]?([0-9]{3})$/;
        var phoneno3 = /^\(?[0]{1}[1-9]{1}[0-9]{4}\)?[]?([0-9]{3})[]?([0-9]{3})$/;
        var phoneno4 = /^\(?[0]{1}[1-9]{1}[0-9]{5}\)?[]?([0-9]{4})[]?([0-9]{4})$/;
        var phoneno2 = /^\(?[0]{1}[1-9]{1}[0-9]{6}\)?[]?([0-9]{4})[]?([0-9]{4})$/;
        var allow = allow1 = allow2 = false;

        allow = fld.match(phoneno2);
        allow1 = fld.match(phoneno3);
        allow2 = fld.match(phoneno4);

        if ((fld.match(phoneno)) || fld.match(phoneno1) || allow || allow1 || allow2) {
            return true;
        }
        else {
            return false;
        }
    }



    $('#storenamedksd').change(function () {
        var storenameunsigned = $("#storenamedksd").val();
        var sub = change_alias(storenameunsigned);
        $('#subdomaindksd').val(sub);

    });
    $('#phonedksd').change(function ()
    { $('#dk_TenDangNhap').val(change_alias($(this).val())); });

    $('#dk_TenDangNhap').change(function ()
    { $('#dk_TenDangNhap').val(change_alias($(this).val())); });

    $('#subdomaindksd').change(function ()
    { $('#subdomaindksd').val(change_alias($(this).val())); });

    var Checkvietnamse = [
        "á", "à", "ả", "ã", "ạ", "â", "ấ", "ầ", "ẩ", "ẫ", "ậ", "ă", "ắ", "ằ", "ẳ", "ẵ", "ặ",
        "đ",
        "é", "è", "ẻ", "ẽ", "ẹ", "ê", "ế", "ề", "ể", "ễ", "ệ",
        "í", "ì", "ỉ", "ĩ", "ị",
        "ó", "ò", "ỏ", "õ", "ọ", "ô", "ố", "ồ", "ổ", "ỗ", "ộ", "ơ", "ớ", "ờ", "ở", "ỡ", "ợ",
        "ú", "ù", "ủ", "ũ", "ụ", "ư", "ứ", "ừ", "ử", "ữ", "ự",
        "ý", "ỳ", "ỷ", "ỹ", "ỵ"];
    function ValiDatePassword() {
        var str = $("#passworddksd").val();
        if (str === null || str.replace(/\s+/g, '') === "") {
            return false;
        }
        for (var i = 0; i < Checkvietnamse.length; i++) {
            if (str.indexOf(Checkvietnamse[i]) >= 0)
            { return false; }
        }
        return true;
    }
    
</script>

}
<style>
    .footer,.weareone {
        display: none;
    }
</style>
<div  class="regist">
    <div class="container">
       <div class="row">
           <div class="choose-lh" id="ViewNganhNgheKD">
               <div class="regis-left ">
                   <div class="title-regis ">
                       <h3>Open24 giúp bạn quản lý bán hàng mọi lúc, mọi nơi, trên mọi thiết bị.</h3>
                   </div>
                   <div class="fl img-regis text-center">
                       <img src="~/Content/images/imgmob/ngan23.png" alt="Đăng ký" />

                   </div>
               </div>
               <div class="regis-right">
                   <div class="name-bu text-center">
                       Lựa chọn loại  hình kinh doanh !
                   </div>
                   <ul id="SelectLoaiHinhKD">
                       <li data-id="@MaNganhNgheKinhDoanh.NhaHangCafe">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-bep"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Nhà hàng</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.SpaTMV">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-spa"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Spa, Thẩm mĩ viện</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.SalonGym">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-salon"></span></a>
                               </div>

                               <h3 class="item-name"><a href="javascript:void(0)">Salon tóc, Phòng Gym</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.ThoiTrangPK">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-thoitrang"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Thời trang &amp; Phụ kiện</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.NhaThuoc">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-nhathuoc"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Nhà thuốc</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.SieuThi">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-sieuthi"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Siêu thị mini</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.ThietBiCongNghe">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-thietbicongnghe"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Thiết bị công nghệ</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.NoiThat">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-noithat"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Nội thất</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.VanPhongPham">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-vanphongpham"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Văn phòng phẩm &amp; Quà</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.MyPham">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-mypham"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Mỹ phẩm</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.GiaDungDienMay">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-dienmay"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Gia dụng &amp; Điện máy</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.DoChoiTreEm">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-dotroitreem"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Đồ chơi trẻ em</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.OtoXeMay">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-xemayoto"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Ô tô, xe máy, xe đạp điện</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.NongSanTP">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-thucpham"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Nông sản, thực phẩm</a></h3>
                           </div>
                       </li>
                       <li data-id="@MaNganhNgheKinhDoanh.Other">
                           <div class="item-one">
                               <div class="item-img">
                                   <a href="javascript:void(0)"><span class="icon-nganhnghekhac"></span></a>
                               </div>
                               <h3 class="item-name"><a href="javascript:void(0)">Lĩnh vực khác</a></h3>
                           </div>
                       </li>
                   </ul>

               </div>
           </div>
           <div class="modal-bodyregis" id="register">
               <div class="regis-left ">
                   <div class="title-regis fl">
                       <h3>
                           Sử dụng miễn phí 15 ngày<br />
                           Với đầy đủ các tính năng !
                       </h3>
                   </div>
                   <div class="fl img-regis text-center">
                       <img src="~/Content/images/imgmob/ngan23.png" alt="Đăng ký" />
                   </div>
               </div>
               <div class="regis-right ">

                   <div class="form-group fl">
                       <span id="dk_Notification" style="color:red;float:right"></span>
                   </div>
                   <div class="form-group fl">
                       <label class="label-title">Tên cửa hàng, công ty bạn kinh doanh<span class="red"> (*)</span></label>
                       <input type="text" class="form-control" id="storenamedksd">
                   </div>

                   @*<div class="col5r">
                    <label>Họ và tên</label>
                    <input type="text" class="form-control" id="txtName_dksd" onblur="validateName()">

                </div>*@
                   <div class="form-group fl">
                       <div class="col5l">
                           <label class="label-title">Điện thoại<span class="red"> (*)</span></label>
                           <input type="text" class="form-control" id="phonedksd" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                       </div>
                       <div class="col5r">
                           <label class="label-title">Email</label>
                           <input type="text" class="form-control" id="emaildksd">

                       </div>
                   </div>
                   @*<div class="form-group fl">
                    <label>Tỉnh thành - Quận huyện<span class="red"> (*)</span></label>
                    <div class="posre">
                        <div class=" kv12 form-control">
                            <div class="resdown">
                                <i class="fa fa-caret-up"></i>
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="list-kv1">
                            <div class="seach-nhomhang">
                                <input type="text" class="seach-nhomhang" id="inputTinhThanh" onkeyup="SearchTinhThanh()" autofocus>
                                <i class="fa fa-search"></i>
                            </div>
                            <ul id="myListTinhThanh">
                                @foreach (var itemtt in Model.TinhThanh)
                                {
                                    <li id='@itemtt.ID'><a href="javascript: void(0)">@itemtt.TenTinhThanhQuanHuyen</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>*@
                   @*<div id="validatePhone" style="color:red"></div>*@
                   @*<div class="form-group fl">    
                    <label>Lĩnh vực bạn kinh doanh<span class="red"> (*)</span></label>
                    <select class="form-control" id="selLineOfBusiness_dksd">
                        @foreach (var item in Model.NganhNghe)
                        {
                            <option value="@item.ID">@item.TenNganhNghe</option>
                        }
                    </select>
                </div>*@

                   <div class="form-group fl">
                       <label class="label-title">Địa chỉ tài khoản quản lý Open24<span class="red"> (*)</span></label>
                       <input type="text" class="form-control" id="subdomaindksd">
                       <span class="open-com">.open24.vn</span>
                   </div>
                   <div class="form-group fl">
                       <div class="col5l">
                           <label class="label-title">Tên đăng nhập</label>
                           <input type="text" class="form-control" id="dk_TenDangNhap" readonly="" onmouseover="$(this).removeAttr('readonly')"  onfocus="$(this).removeAttr('readonly')"  style="background:#e6f3fb"  value="">
                       </div>
                       <div class="col5r">
                           <label class="label-title">Mật khẩu<span class="red"> (*)</span></label>
                           <input type="password" class="form-control" id="passworddksd" readonly="" onmouseover="$(this).removeAttr('readonly')"  onfocus="$(this).removeAttr('readonly')"  style="background:#e6f3fb"  value="">
                       </div>
                   </div>
                   <div class="form-group fl">
                       <div class="fl font12" id="divcbdongy">
                           <input type="checkbox" id="cbdongy"> Tôi đồng ý với <a href="/dieu-khoan" target="_blank">quy định</a> sử dụng và bảo mật của Open24
                       </div>
                   </div>
                   <div class="form-group  fl">
                       @*<div class="capcha">
                      <div class="capchamun">
                         0988
                      </div>
                        <input type="text"  class="form-control"/>
                    </div>*@

                       <button type="button" class="btn bnt-blue pull-right" id="btnDangKy">
                           <i class="fa fa-chevron-down"></i> Đăng ký
                       </button>
                       <a href="javascript: void(0)" class="pull-right return">
                           <i class="fa fa-chevron-left"></i> Quay lại
                       </a>
                   </div>
                   @*Đợi*@
                   <div class="wait-res">
                       <p class="text-center">
                           <img src="~/Content/images/loading-image.gif" alt="Ảnh đăng ký">
                       </p>
                       <p class="text-center">
                           Vui lòng đợi !
                       </p>
                   </div>
                   <div class="fuzzy">
                   </div>
               </div>
           </div>
       </div>
    </div>
</div>