@model PagedList.IPagedList<Open24.Areas.AdminPage.Models.SearchInputHoTro>
@using PagedList.Mvc;
@{
    ViewBag.Title = "SearchHoTroPhanMem";
}

@section scripts{


    <script>
        $("._sear-hotro").on('keyup', function (e) {
            if (e.keyCode == 13) {
                window.location.href = "/ho-tro-tim-kiem?search=" + $(this).val();
            }
        });
    </script>
}
<link rel="stylesheet" href="~/Content/PagedList.css" />
<div class="banner-ho-tro-phan-mem fl">
    <div class="container posrela1">
        <div class="row">
            <div class="fl">

                @Html.Partial("_filterhotroPartial")
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12 View-data-search">
        <div class="row">
            <div class="search-title flex flex-row">
                <img src="~/Content/images/hotroopen24/i-search.png" style="height:23px; width: auto"/>
                <h4><font>Kết quả tìm kiếm cho '<span>@ViewBag.SearchString</span>'. đã tìm thấy <span>@ViewBag.PageCount</span> kết quả</font></h4>
            </div>
            <div class="list-data">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li class="flex flex-column mb-3">
                            <a href="/huong-dan-su-dung/0/@item.ID/danh-muc-tinh-nang-@item.Title ">@item.Ten</a>
                                @*<p>@item.Ten</p>*@
                            <span class="ps-3">@item.Mota</span>
                            

                        </li>

                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12 View-page-search">
        <div class="row">
            @Html.PagedListPager(Model, page => Url.Action("SearchHoTroPhanMem", new { page, @search = @ViewBag.SearchString }))
        </div>
    </div>
</div>
